{% extends 'design/base.html'%}
{% load static %}
{% block content%}

<!-- Hero Section-->
<section class="hero">
  <div class="container">
    <!-- Hero Content-->
    <div class="hero-content pb-5 text-center">
      <h2 class="hero-heading">주문하기</h2>
      <div class="row">
        <div class="col-xl-8 offset-xl-2"><p class="lead text-muted">
          <a href="#" data-toggle="modal" data-target="#exampleModal" class="product-hover-overlay-link">
            <button type="button" class="btn btn-primary">품목 추가하기</button>
          </a>
          <button type="button" class="btn btn-warning">견적서 보기</button></p></div>
      </div>
    </div>
  </div>
</section>
<!-- Shopping Cart Section-->
<section>
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-9">

<div class="container">
  <h3>품목 리스트</h3>
  <br>
  <p>리스트에서 내용이 등록이 안된 경우 <b style="color:red;">빨간 글씨</b>로 표시가 됩니다. 클릭하여 내용을 등록해주세요<br>
    내용이 없는 경우 확정 견적서 및 작업 순위가 미뤄질 수 있으니 꼭 등록하여주시기 바랍니다.</p>
  <br>
  <div class="table-responsive-sm">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>품목명</th>
          <th>수량</th>
          <th>단가</th>
          <th>공급가액</th>
          <th>부가세</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>전단지 a4 단면 합판인쇄 아트 100g</td>
          <td>2</td>
          <td>85,000</td>
          <td>170,000</td>
          <td>17,000</td>
          <td><i class="fa fa-times"></i></td>
        </tr>
        <tr>
          <td>선불택배</td>
          <td>2</td>
          <td>3,000</td>
          <td>6,000</td>
          <td>600</td>
          <td></td>
        </tr>
        <tr style="color:red;"  data-toggle="modal" data-target="#exampleModal2" class="product-hover-overlay-link">
          <td>현수막 <i class="far fa-clipboard"></i></td>
          <td>2</td>
          <td>85,000</td>
          <td>170,000</td>
          <td>17,000</td>
          <td><i class="fa fa-times"></i></td>
        </tr>
        <tr>
          <td>선불택배</td>
          <td>2</td>
          <td>3,000</td>
          <td>6,000</td>
          <td>600</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
      <div class="my-5 d-flex justify-content-between flex-column flex-lg-row">
        <a href="{% url 'product'%}" class="btn btn-link text-muted">
          <i class="fa fa-chevron-left"></i>품목 다시보기</a>
          <a href="{% url 'checkout' %}" class="btn btn-dark">선택된 품목으로 주문하기 #로그인<i class="fa fa-chevron-right"></i></a></div>
      </div>


      <div class="col-lg-3">
        <div class="block mb-5">
          <div class="block-header">
            <h6 class="text-uppercase mb-0">견적</h6>
          </div>
          <div class="block-body bg-light pt-1">
            <p class="text-sm">작업비용은 내용에 따라 확인 후 추가될 수 있으니 이점 꼭 인지하여 주시기 바랍니다. 주문 하시면 확정된 견적을 확인하실 수 있습니다.
            </p>
            <ul class="order-summary mb-0 list-unstyled">
              <li class="order-summary-item"><span>합계</span><span>176,000</span></li>
              <li class="order-summary-item"><span>부가세</span><span>17,600</span></li>
              <li class="order-summary-item"><span>작업비용</span><span>+ @</span></li>
              <li class="order-summary-item border-0"><span>Total</span><strong class="order-summary-total">193,600+@</strong></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




<div id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade quickview">
  <div role="document" class="modal-dialog modal-lg">
    <div class="modal-content">
      <button type="button" data-dismiss="modal" aria-label="Close" class="close modal-close">
        <svg class="svg-icon w-100 h-100 svg-icon-light align-middle">
          <use xlink:href="#close-1"> </use>
        </svg>
      </button>
      <div class="modal-body">
        <div class="ribbon ribbon-danger">전단지 / 포스터</div>
        <div class="row">
          <div class="col-lg-6">
            <div data-slider-id="1" class="owl-carousel owl-theme owl-dots-modern detail-full">
              <div style="background: center center url('{% static "design/img/product/img1.jpg"%}') no-repeat; background-size: cover;" class="detail-full-item-modal">  </div>
            </div>
          </div>
          <div class="col-lg-6 d-flex">
            <div>
              <section class="mt-1">

                  <ul role="tablist" class="nav nav-tabs flex-column flex-sm-row">
                    <li class="nav-item"><a data-toggle="tab" href="#additional-information" role="tab" class="nav-link detail-nav-link active">품목</a></li>
                  </ul>
                  <div class="tab-content py-4">

                    <div id="additional-information" role="tabpanel" class="tab-pane active px-3">
                      <div class="row">


                        <div class="col-lg-12">
                          <div class="">
                            <select class="custom-select" id="inputGroupSelect04">
                              <option selected>품목 선택</option>
                              <option value="1">인쇄</option>
                              <option value="2">현수막</option>
                              <option value="3">배너</option>
                              <option value="3">판촉/홍보</option>
                              <option value="3">비품</option>
                            </select>
                          </div>
                          <br>

                          <div class="row">
                            <div class="col-sm-6 col-lg-12 detail-option mb-3">
                              <h6 class="detail-option-heading">합판/독판</h6>
                              <label for="material_0" class="btn btn-sm btn-outline-secondary detail-option-btn-label active">
                                합판 인쇄
                                <input type="radio" name="material" value="value_0" id="material_0" required class="input-invisible">
                              </label>
                              <label for="material_1" class="btn btn-sm btn-outline-secondary detail-option-btn-label">

                                독판 인쇄
                                <input type="radio" name="material" value="value_1" id="material_1" required class="input-invisible">
                              </label>
                            </div>
                            <div class="col-sm-6 col-lg-12 detail-option mb-3">
                              <div class="">
                                <h6 class="detail-option-heading">종이 <span>(필수)</span></h6>
                                <select class="custom-select" id="inputGroupSelect04">
                                  <option selected>아트지 90g</option>
                                  <option value="1">아트지 150g</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-sm-6 col-lg-12 detail-option mb-3">
                              <div class="">
                                <h6 class="detail-option-heading">사이즈 <span>(필수)</span></h6>
                                <select class="custom-select" id="inputGroupSelect04">
                                  <option selected>A4 (291*208)</option>
                                  <option value="1">A1</option>
                                  <option value="1">A2</option>
                                  <option value="1">A3</option>
                                  <option value="1">A5</option>
                                  <option value="1">A6</option>
                                  <option value="1">B1</option>
                                  <option value="1">B2</option>
                                  <option value="1">B3</option>
                                  <option value="1">B4</option>
                                  <option value="1">B5</option>
                                  <option value="1">B6</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-sm-6 col-lg-12 detail-option mb-3">
                              <div class="">
                                <h6 class="detail-option-heading">인쇄도수 <span>(필수)</span></h6>
                                <select class="custom-select" id="inputGroupSelect04">
                                  <option selected>단면 4도</option>
                                  <option value="1">양면 8도</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-sm-6 col-lg-12 detail-option mb-3">
                              <div class="">
                                <h6 class="detail-option-heading">수량 <span>(필수)</span></h6>
                                <select class="custom-select" id="inputGroupSelect04">
                                  <option selected>1건 (4000장)</option>
                                  <option value="1">2건 (8000장)</option>
                                  <option value="2">3건 (12000장)</option>
                                  <option value="3">4건 (15000장)</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-sm-6 col-lg-12 detail-option mb-3">
                              <h6 class="detail-option-heading">배송 <span>(required)</span></h6>
                              <label for="material_0" class="btn btn-sm btn-outline-secondary detail-option-btn-label">

                                선불택배
                                <input type="radio" name="material" value="value_0" id="material_0" required class="input-invisible">
                              </label>
                              <label for="material_1" class="btn btn-sm btn-outline-secondary detail-option-btn-label">

                                착불택배
                                <input type="radio" name="material" value="value_1" id="material_1" required class="input-invisible">
                              </label>
                              <label for="material_1" class="btn btn-sm btn-outline-secondary detail-option-btn-label">

                                퀵
                                <input type="radio" name="material" value="value_1" id="material_1" required class="input-invisible">
                              </label>
                            </div>
                          </div>
                          <ul class="list-inline">
                            <li class="list-inline-item">
                              <a href="1_cart.html">
                                <button type="submit" class="btn btn-outline-success btn-lg mb-1">
                                <i class="fas fa-clipboard-check mr-2"></i>품목 리스트에 추가하기</button>
                              </a>
                            </li>
                            <p style="font-size:10px; color:#FB7D7D;">디자인비, 택배비, 부가세등 미포함 된 인쇄비용입니다</p>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div id="exampleModal2" tabindex="-1" role="dialog" aria-hidden="true" class="modal fade quickview">
  <div role="document" class="modal-dialog modal-lg">
    <div class="modal-content">
      <button type="button" data-dismiss="modal" aria-label="Close" class="close modal-close">
        <svg class="svg-icon w-100 h-100 svg-icon-light align-middle">
          <use xlink:href="#close-1"> </use>
        </svg>
      </button>
      <div class="modal-body">
        <div class="ribbon ribbon-danger">전단지 / 포스터</div>
        <div class="row">
          <div class="col-lg-6">
            <div data-slider-id="1" class="owl-carousel owl-theme owl-dots-modern detail-full">
              <div style="background: center center url('img/product/img5.jpg') no-repeat; background-size: cover;" class="detail-full-item-modal">  </div>
            </div>
          </div>
          <div class="col-lg-6 d-flex">
            <div>
              <section class="mt-1">

                  <ul role="tablist" class="nav nav-tabs flex-column flex-sm-row">
                    <li class="nav-item"><a data-toggle="tab" href="#additional-information1" role="tab" class="nav-link detail-nav-link active">샘플선택</a></li>
                    <li class="nav-item"><a data-toggle="tab" href="#additional-information2" role="tab" class="nav-link detail-nav-link">내용입력</a></li>
                  </ul>
                  <div class="tab-content py-4">

                    <div id="additional-information1" role="tabpanel" class="tab-pane active px-3">
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="row">
                            <div class="col-sm-6 col-lg-12 detail-option mb-3">
                              <h6 class="detail-option-heading">샘플선택</h6>
                              <label for="material_0" class="btn btn-sm btn-outline-secondary detail-option-btn-label">
                                샘플 선택
                                <input type="radio" name="material" value="value_0" id="material_0" required class="input-invisible">
                              </label>
                              <label for="material_1" class="btn btn-sm btn-outline-secondary detail-option-btn-label active">
                                샘플 미선택
                                <input type="radio" name="material" value="value_1" id="material_1" required class="input-invisible">
                              </label>
                            </div>
                            <div class="col-sm-6 col-lg-12 detail-option mb-3">
                              <h6 class="detail-option-heading">유형선택</h6>
                              <label for="material_0" class="btn btn-sm btn-outline-secondary detail-option-btn-label active">
                                텍스트 강조형
                                <input type="radio" name="material" value="value_0" id="material_0" required class="input-invisible">
                              </label>
                              <label for="material_1" class="btn btn-sm btn-outline-secondary detail-option-btn-label">
                                이미지 강조형
                                <input type="radio" name="material" value="value_1" id="material_1" required class="input-invisible">
                              </label>
                            </div>
                            <div class="col-sm-6 col-lg-12 detail-option mb-3">
                              <h6 class="detail-option-heading">색상유형</h6>
                              <label for="material_0" class="btn btn-sm btn-outline-secondary detail-option-btn-label">
                                단색 강조형
                                <input type="radio" name="material" value="value_0" id="material_0" required class="input-invisible">
                              </label>
                              <label for="material_1" class="btn btn-sm btn-outline-secondary detail-option-btn-label active">
                                파스텔톤 색상형
                                <input type="radio" name="material" value="value_1" id="material_1" required class="input-invisible">
                              </label>
                              <label for="material_1" class="btn btn-sm btn-outline-secondary detail-option-btn-label">
                                다채로운 색상형
                                <input type="radio" name="material" value="value_1" id="material_1" required class="input-invisible">
                              </label>
                            </div>
                            <div class="col-sm-12 col-lg-12 detail-option mb-3">
                              <h6 class="detail-option-heading">레이아웃 선택</h6>
                              <img src="{% static 'design/img/product/left.png' %}" width="50px;">
                              <img src="{% static 'design/img/product/center.png' %}" width="50px;">
                              <img src="{% static 'design/img/product/right.png' %}" width="50px;">
                              <img src="{% static 'design/img/product/up.png' %}" width="50px;">
                              <img src="{% static 'design/img/product/down.png' %}" width="50px;">
                              <img src="{% static 'design/img/product/lr.png' %}" width="50px;">
                              <img src="{% static 'design/img/product/ud.png' %}" width="50px;">
                            </div>
                          </div>
                          <br>
                          <ul class="list-inline">
                            <li class="list-inline-item">
                              <a href="1_cart.html">
                                <button type="submit" class="btn btn-outline-dark btn-lg mb-1">
                                <i class="fas fa-clipboard-check mr-2"></i>내용입력하기</button>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div id="additional-information2" role="tabpanel" class="tab-pane px-3 col">
                      <div class="row">
                        <form id="contact-form" method="post" action="contact.php" class="form">
                          <div class="form-group">
                            <label for="email" class="form-label">내용 2</label>
                            <input type="email" name="email" id="email" placeholder="내용" required="required" class="form-control">
                          </div>
                          <div class="form-group">
                            <label for="review" class="form-label">내용 3</label>
                            <textarea rows="4" name="review" id="review" placeholder="내용" required="required" class="form-control"></textarea>
                          </div>
                          <div class="form-group">
                            <div class="custom-control custom-checkbox">
                              <input id="show-shipping-address" type="checkbox" name="clothes-brand" class="custom-control-input">
                              <label for="show-shipping-address" data-toggle="collapse" data-target="#shippingAddress" aria-expanded="false" aria-controls="shippingAddress" class="custom-control-label align-middle">손그림으로 주문하기</label>
                            </div>
                          </div>

                          <div id="shippingAddress" aria-expanded="false" class="collapse">
                            <div class="block">
                              <div class="block-body">
                                <div class="row">
                                  <div class="form-group col-md-12">
                                    <input type="file" class="custom-file-input" id="customFile">
                                    <label class="custom-file-label" for="customFile">사진을 올려주세요</label>
                                  </div>

                                </div>
                              </div>
                            </div>
                            <p tyle="font-size:13px; color:#FB7D7D;">다른 파일은 이메일로 보내주세요. iclover77@naver.com</p>
                            <!-- /Shipping Address-->
                          </div>


                          <ul class="list-inline">
                            <li class="list-inline-item">
                              <a href="1_cart.html">
                                <button type="submit" class="btn btn-outline-danger btn-lg mb-1">
                                <i class="fas fa-clipboard-check mr-2"></i>내용 등록하기</button>
                              </a>
                            </li>
                          </ul>
                        </form>
                      </div>
                    </div>
                  </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}