{% extends 'design/base.html'%}
{% load static %}
{% block content%}



<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <ul class="custom-nav nav nav-pills mb-5">
          <li class="nav-item w-25"><a href="{% url 'checkout' %}" class="nav-link text-sm">주소</a></li>
          <li class="nav-item w-25"><a href="{% url 'checkout2' %}" class="nav-link text-sm">계산서/현금영수증</a></li>
          <li class="nav-item w-25"><a href="{% url 'checkout3' %}" class="nav-link text-sm">안내사항</a></li>
          <li class="nav-item w-25"><a href="#" class="nav-link text-sm active">최종 주문</a></li>
        </ul>
        <form action="#">
          <div class="block">
            <!-- Invoice Address-->
            <div class="block-header">
              <h6 class="text-uppercase mb-0">최종 확정 견적 대기중입니다.</h6>
            </div>
            <div class="block-body">
              <div class="row">
                <div class="form-group col-md-12">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>품목명</th>
                        <th>수량</th>
                        <th>단가</th>
                        <th>공급가액</th>
                        <th>부가세</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>전단지</td>
                        <td>2</td>
                        <td>85,000</td>
                        <td>170,000</td>
                        <td>17,000</td>
                      </tr>
                      <tr>
                        <td>선불택배</td>
                        <td>2</td>
                        <td>3,000</td>
                        <td>6,000</td>
                        <td>600</td>
                      </tr>
                      <tr>
                        <td>현수막</td>
                        <td>2</td>
                        <td>85,000</td>
                        <td>170,000</td>
                        <td>17,000</td>
                      </tr>
                      <tr>
                        <td>선불택배</td>
                        <td>2</td>
                        <td>3,000</td>
                        <td>6,000</td>
                        <td>600</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- /Invoice Address-->
            </div>
          </div>
          <div class="mb-5 d-flex justify-content-between flex-column flex-lg-row">

             <a href="#" class="btn btn-link text-muted"><i class="fas fa-redo-alt ml-2"></i>처음으로</a>
            <a href="#" class="btn btn-link text-muted"><i class="fas fa-ban ml-2"></i> 취소하기</a>
          </div>
        </form>
      </div>
      <div class="col-lg-4">
        <div class="block mb-5">
          <div class="block-header">
            <div role="alert" class="alert alert-warning text-center">견적대기</div>
          </div>
          <div class="block-body bg-light pt-1">
            <p class="text-sm">내용을 확인하고 디자인 비용을 산출하고 있습니다! <br> 잠시만 기다려주세요
            </p>
            <ul class="order-summary mb-0 list-unstyled">
              <li class="order-summary-item"><span>인쇄비용</span><span>176,000</span></li>
              <li class="order-summary-item"><span>작업비용</span><span>+ @</span></li>
              <li class="order-summary-item"><span>부가세</span><span>17,600</span></li>
              <li class="order-summary-item border-0"><span>Total</span><strong class="order-summary-total">193,600+@</strong></li>
            </ul>

            <a href="1_orders.html">
              <div role="alert" class="alert alert-success text-center"><i class="fas fa-bars"></i> 리스트로 이동</div></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}