{% extends 'design/base.html'%}
{% load static %}
{% block content%}



<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <ul class="custom-nav nav nav-pills mb-5">
          <li class="nav-item w-25"><a href="{% url 'checkout' %}" class="nav-link text-sm">주소</a></li>
          <li class="nav-item w-25"><a href="{% url 'checkout2' %}" class="nav-link text-sm">계산서/현금영수증</a></li>
          <li class="nav-item w-25"><a href="#" class="nav-link text-sm active">안내사항</a></li>
          <li class="nav-item w-25"><a href="#" class="nav-link text-sm disabled">최종 주문</a></li>
        </ul>
        <form action="#">
          <div class="block">
            <!-- Invoice Address-->
            <div class="block-header">
              <h6 class="text-uppercase mb-0"><i class="fas fa-clipboard-check"></i> 주문시 꼭 알아두셔야합니다~</h6>
            </div>
            <div class="block-body">
              <div class="row">
                <div class="form-group col-md-12">
                  <p><label for="" class="form-label">#이미지로 준비#</label></p>
                  <p><label for="" class="form-label">화면의 색상값과 인쇄물의 색상은 다릅니다. 특히 합판의 경우 색상차이가 발생합니다</label></p>
                  <p><label for="" class="form-label">결제가 완료된 후 모든 과정이 진행 됩니다.</label></p>
                  <p><label for="" class="form-label">입금액이 다른 경우 처리되지 못할 수 있습니다.</label></p>
                  <p><label for="" class="form-label">제품의 제작 및 배송기간을 보장하지 않습니다.</label></p>
                  <p><label for="" class="form-label">재인쇄 및 오배송으로 인한 문제가 발생할 수 있으며 해당 일이 생겼을시 기존 배송 방법대로 진행됩니다.</label></p>
                  <div class="custom-control custom-checkbox">
                    <input id="show-shipping-address" type="checkbox" name="clothes-brand" class="custom-control-input">
                    <label for="show-shipping-address" data-toggle="collapse" data-target="" aria-expanded="false" aria-controls="shippingAddress" class="custom-control-label align-middle">
                      <p style="color:dark;">확인했습니다.</p></label>
                      #확인 클릭시 "다음으로" 버튼 생성
                  </div>
                </div>
              </div>
              <!-- /Invoice Address-->
            </div>
          </div>
          <div class="mb-5 d-flex justify-content-between flex-column flex-lg-row">
            <a href="{% url 'checkout2' %}" class="btn btn-link text-muted">
              <i class="fa fa-angle-left mr-2"></i>뒤로가기 </a>
            <a href="{% url 'checkout4' %}" class="btn btn-dark">다음으로<i class="fa fa-angle-right ml-2"></i></a>
          </div>
        </form>
      </div>
      <div class="col-lg-4">
        <div class="block mb-5">
          <div class="block-header">
            <h6 class="text-uppercase mb-0">견적</h6>
          </div>
          <div class="block-body bg-light pt-1">
            <p class="text-sm">작업비용은 내용에 따라 확인 후 추가될 수 있으니 이점 꼭 인지하여 주시기 바랍니다. 주문 하시면 확정된 견적을 확인하실 수 있습니다.
            </p>
            <ul class="order-summary mb-0 list-unstyled">
              <li class="order-summary-item"><span>인쇄비용</span><span>176,000</span></li>
              <li class="order-summary-item"><span>작업비용</span><span>+ @</span></li>
              <li class="order-summary-item"><span>부가세</span><span>17,600</span></li>
              <li class="order-summary-item border-0"><span>Total</span><strong class="order-summary-total">193,600+@</strong></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}