{% extends 'design/leftsidebar.html'%}
{% load static %}
{% block title %}Q & A{% endblock%}
{% block sidebar_title%}F.A.Q{% endblock %}
{% block sidebar_subtitle%}자주 받는 질문을 모아두었습니다!{% endblock %}
{% block sidebar_active1 %}style="font-weight: bold;" {% endblock %}


{% block sidebar_content%}
<div id="pagesfolder" class="docs-item">
    <h2 class="mb-5 text-muted">Shopping</h2>
    <div class="row">
        <div class="col-md-6">
            <h5 class="mb-4">Q. 주문은 어떻게 하나요?</h5>
            <p class="text-muted mb-5">A. 순차적으로 품목 선택 --> 디자인 선택 및 요청사항 등록 --> 배송지 확인 및 약관 동의 --> 최종 견적 확인 및 입금을 완료하시면
                 디자이너 선생님이 배정되어 작업이 진행됩니다.</p>
            <h5 class="mb-4">Q. 배송은 어떻게 되나요?</h5>
            <p class="text-muted mb-5">A. 배송은 선불택배, 착불택배, 화물배송, 퀵배송 등을 선택하실 수 있습니다.<br>
                배송사는 아이클로버와 제휴된 배송사들을 이용하여 배송사 선택은 불가합니다.</p>
        </div>
        <div class="col-md-6">
            <h5 class="mb-4">Q. 주문 취소가 가능한가요?</h5>
            <p class="text-muted mb-5">A. 시안이 진행된 경우는 작업 시간에 따른 비용이 공제됩니다.<br>
            제작이 진행되기 이전에는 작업비용 공제 후 주문 취소가 가능하지만 제작 공정이 시작되는 순간부터는 환불이 불가합니다.
            </p>
            <h5 class="mb-4">Q. 교환 / 반품</h5>
            <p class="text-muted mb-5">A. 인쇄물은 요청사항을 기반하여 제작되는 맞춤 제작 상품이기때문에 교환/반품이 불가합니다.이점 유의하셔서 디자인 작업하실때
                <b class="text-danger">오탈자, 수량</b>을 꼼꼼히 확인하여주시기 바랍니다.</p>
        </div>
    </div>
    <hr>
    <h2 class="mb-5 text-muted">Payment</h2>
    <div class="row">
        <div class="col-md-6">
            <h5 class="mb-4">Q. 영수증 처리는 어떻게 하나요?</h5>
            <p class="text-muted mb-5">A. 주문하실때 세금계산서/현금영수증/사업자지출증빙 중에 신청해주시면 됩니다.  <a href="{% url 'design:my_page'%}">설정</a>에 입력된
                내용을 기준으로 발행이 됩니다. 미리 설정에 못하신 경우에는 <a href="https://pf.kakao.com/_xkStxdV">아이클로버 플러스친구</a>로 문의주시 바랍니다.</p>
            <h5>Q. 카드 결제 가능한가요?</h5>
            <p class="text-muted mb-5">A. 현재 PG 연동 중에 있으며 카드 결제를 원하시는경우 <a href="https://pf.kakao.com/_xkStxdV">아이클로버 플러스친구</a>로 문의주시 바랍니다.</p>
        </div>
        <div class="col-md-6">
            <h5 class="mb-4">Q. 시안 작업 비용은 어떤게 있나요?</h5>
            <p class="text-muted mb-5">
                A. 표, 그래프, 보정, 약도, 특수효과 등 작업 시간이 많이 소요되는 항목들은
                주문 요청사항에 따라 작업 비용이 발생할 수 있습니다. 주문시에 요청하시는게 아닌경우 시안 진행 도중 요청하시면
                추가 결제가 필요할 수 있습니다.
            </p>
        </div>
    </div>
    <hr>
    <h2 class="mb-5 text-muted">Copyright</h2>
    <div class="row">
        <div class="col-md-6">
            <h5 class="mb-4">Q. 인터넷에 올려도 되나요?</h5>
            <p class="text-muted mb-5">A. 최근 저작권 단속이 강화되어 인터넷에 게시물을 올리실때는 신중하게 하셔야합니다.
                저작권은 인쇄용, 온라인 이미지용, 온라인 동영상용 등 다양하여 추가 궁금하신 사항 문의주시기 바랍니다.
            </p>
            <h5 class="mb-4">Q. 인터넷 사진 넣어주시면 안되나요?</h5>
            <p class="text-muted mb-5">
                A. 인터넷에 돌아다니는 사진이라 하여도 저작권이 존재하는 이미지이기 때문에 법적분쟁이 있으실 수 있습니다.
                또한 인터넷의 경우 고해상도 이미지가 필요하지 않아 썸네일인 경우가 많아 인쇄시 깨짐 현상이 발생할 수 있습니다.
            </p>
        </div>
        <div class="col-md-6">
            <h5 class="mb-4">Q. 원본이 제공되나요?</h5>
            <p class="text-muted mb-5">
                A. 일러스트레이터, 포토샵 등 수정 및 재배포가 가능한 원본소스는 제공되지 않으며 고해상도 이미지로 제공 해드리고 있습니다.
                원본 소스의 제작 및 구매를 원하실 경우 별도의 상담 및 제작이 진행되오니 <a href="https://pf.kakao.com/_xkStxdV">아이클로버 플러스친구</a>로 문의주시 바랍니다.
                </p>
        </div>
    </div>

</div>


{% endblock %}