{% extends 'design/leftsidebar.html'%}
{% load static %}
{% block title %}Q & A{% endblock%}
{% block sidebar_title%}F.A.Q{% endblock %}
{% block sidebar_subtitle%}자주 받는 질문을 모아두었습니다!{% endblock %}
{% block sidebar_active1 %}style="font-weight: bold;" {% endblock %}


{% block sidebar_content%}
<div id="pagesfolder" class="docs-item">
    <h2 class="mb-5 text-muted">Shopping</h2>
    <div class="row">
        <div class="col-md-6">
            <h5>Q. 주문은 어떻게 하나요?</h5>
            <p class="text-muted">A. 디자인의 경우 샘플과 품목을 선택하셔서 주문하기를 진행해주시면 '입금완료' 순서에 따라 디자이너 선생님이 배정되어 진행됩니다.<br>비품의 경우
                품목을 선택하셔서 주문해주시면 됩니다.</p>
            <h5>Q. 배송은 어떻게 되나요?</h5>
            <p class="text-muted mb-4">A. 배송은 선불택배, 착불택배, 화물배송, 퀵배송 등을 선택하실 수 있습니다. <br>배송사는 아이클로버와 제휴된 배송사들을 이용하여 배송사
                선택은 불가합니다.</p>
        </div>
        <div class="col-md-6">
            <h5>Q. 주문 취소가 가능한가요?</h5>
            <p class="text-muted mb-4">A. 제작 상품의 경우 제작이 진행되기 이전에는 주문 취소가 가능하지만 제작 공정이 시작되는 순간부터는 환불이 불가합니다. 작업시간이 소요된
                경우는 작업 비용이 공제됩니다.</p>
            <h5>Q. 교환 / 반품</h5>
            <p class="text-muted mb-4">A. 인쇄물은 고객님이 요청하신 시안대로 제작되는 제작 상품이기때문에 교환/반품이 불가합니다.이점 유의하셔서 디자인 작업하실때 <b>오탈자,
                수량</b>을 꼼꼼히 확인하여주시기 바랍니다.</p>
        </div>
    </div>
    <hr>
    <h2 class="mb-5 text-muted">Payment</h2>
    <div class="row">
        <div class="col-md-6">
            <h5>Q. 영수증 처리는 어떻게 하나요?</h5>
            <p class="text-muted mb-4">A. 주문하실때 세금계산서/현금영수증/사업자지출증빙 중에 신청하여 주문해주시면 됩니다.<a href="a">설정</a>에 정보를 입력해두주시면
                해당 내용대로 발행이 됩니다. 미리 설정에 못하신 경우에는 <a href="https://pf.kakao.com/_xkStxdV">아이클로버 플러스친구</a>로 문의주시 바랍니다.</p>
            <h5>Q. 카드 결제 가능한가요?</h5>
            <p class="text-muted mb-4">A. 카드 결제의 경우 PG사를 통하여 안전하게 처리되오니 안심하셔도 됩니다.</p>
        </div>
        <div class="col-md-6">
            <h5>Q. What is Paypal?</h5>
            <p class="text-muted mb-4">A. The bedding was hardly able to cover it and seemed ready to slide off any
                moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly
                as he looked. &quot;What's happened to me?&quot; he thought. It wasn't a dream.</p>
            <h5>Q. How do the conversion rates work</h5>
            <p class="text-muted mb-4">A. His room, a proper human room although a little too small, lay peacefully
                between its four familiar walls. A collection of textile samples lay spread out on the table.</p>
        </div>
    </div>
    <hr>
    <h2 class="mb-5 text-muted">Copyright</h2>
    <div class="row">
        <div class="col-md-6">
            <h5>Q. 인터넷에 올려도 되나요?</h5>
            <p class="text-muted mb-4">A. 최근 저작권 단속이 강화되어 인터넷에 게시물을 올리실때는 신중하게 하셔야합니다.저작권은 상품별로 </p>
            <h5>Q. What if the product is broken?</h5>
            <p class="text-muted mb-4">A. He must have tried it a hundred times, shut his eyes so that he wouldn't have
                to look at the floundering legs, and only stopped when he began to feel a mild, dull pain there that he
                had never felt before.</p>
        </div>
        <div class="col-md-6">
            <h5>Q. Why should I buy insurance at the checkout?</h5>
            <p class="text-muted mb-4">A. One morning, when Gregor Samsa woke from troubled dreams, he found himself
                transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head
                a little he could see his brown belly, slightly domed and divided by arches into stiff sections</p>
        </div>
    </div>

</div>


{% endblock %}