{% extends 'design/base.html'%}
{% load static %}
{% block content%}
<!-- Hero Section-->
<section class="position-relative dark-overlay py-5 py-lg-7">
    <img src="{% static 'design/img/banner/main_banner_191001.jpg' %}" alt="" class="bg-image" style="filter: brightness(150%)">
    <div class="container overlay-content hero hero-page">
        <div class="hero-content pb-5 text-center text-white">
           <h2 class="hero-heading">I-CLOVER DESIGN</h2>
                <h6>아이클로버는 고객님을 주목받게 하려는 구체적이고 현실적인 디자인을 위해 노력합니다.</h6>
                <h3>쉽고 간편하게 가장 적합한 디자인을 선택하실 수 있습니다.</h3>
                <h4>·</h4>
                <h4>·</h4>
        </div>
        <div class="row">
            <div class="input-group">
                <div class="col-sm-1"></div>
                <div class="form-group col-sm-3">
                    <select class="form-control" id="sel1" name="sel1">
                        <option value="None">디자인</option>
                        <option value="0">헬스ㅣ크로스핏</option>
                        <option value="1">복싱ㅣ격투기</option>
                        <option value="2">요가ㅣ필라테스</option>
                        <option value="3">골프</option>
                        <option value="4">교육ㅣ학원ㅣ어린이집</option>
                        <option value="5">무도ㅣ태권도</option>
                        <option value="6">댄스ㅣ발레ㅣ무용</option>
                        <option value="7">공연ㅣ축제ㅣ박람회</option>
                        <option value="8">통신사</option>
                        <option value="9">뷰티ㅣ미용</option>
                        <option value="10">분양ㅣ부동산</option>
                        <option value="11">식당ㅣ음식점</option>
                        <option value="12">카페ㅣ베이커리</option>
                        <option value="13">농장ㅣ농원</option>
                        <option value="14">자동차</option>
                        <option value="15">기업ㅣ공장</option>
                        <option value="16">병원ㅣ의료</option>
                        <option value="17">패션ㅣ쇼핑몰</option>
                        <option value="18">기타</option>
                    </select>
                </div>

                <div class="form-group col-sm-6">
                    <select class="form-control" id="sel2" name="sel2">
                        <option value="None">품목을 선택해 주세요.</option>
                        <option value="0">전단지/포스터</option>
                        <option value="1">천족자/종이족자</option>
                        <option value="2">현수막</option>
                        <option value="3">배너</option>
                        <option value="4">명함</option>
                        <option value="5">상품권/쿠폰</option>
                        <option value="6">카다로그/브로슈어</option>
                        <option value="6">리플릿 3단접지 2단접지</option>
                        <option value="7">양식지/계약서/영수증</option>
                        <option value="8">스티커</option>
                        <option value="9">봉투</option>
                        <option value="9">이름표/명찰</option>
                        <option value="10">에어간판</option>
                        <option value="11">기타인쇄</option>
                        <option value="12">운영비품</option>
                    </select>
                </div>

                <div class="form-group col-sm-1">
                    <button type="button" class="btn btn-info"><i class="fa fa-serch"> 검색 </i></button>
                </div>

            </div>
        </div>
    </div>
</section>
<section class="py-3">
    <div class="container">
        <!-- Brands Slider-->
        <div class="owl-carousel owl-theme brands-slider owl-loaded owl-drag">
            <div class="owl-stage-outer">
                <div class="owl-stage"
                     style="transform: translate3d(-752px, 0px, 0px); transition: all 0.4s ease 0s; width: 1880px;">
                    <div class="owl-item" style="min-height:20px; max-width: 168px; margin-right: 20px;">
                        <div class="item d-flex align-items-center justify-content-center" >
                                <a href="{% url 'design:product' %}?item=flyer">
                                    <img src="{% static 'design/img/svg/flyer.svg' %}" alt="전단지" class="img-fluid">
                                    <p class="text-center text-dark">전단지</p>
                                </a>
                        </div>
                    </div>
                    <div class="owl-item" style="min-height:20px; max-width: 168px; margin-right: 20px;">
                        <div class="item d-flex align-items-center justify-content-center" >
                                <a href="{% url 'design:product' %}?item=banner">
                                    <img src="{% static 'design/img/svg/banner.svg' %}" alt="배너" class="img-fluid">
                                    <p class="text-center text-dark">배너</p>
                                </a>
                        </div>
                    </div>
                    <div class="owl-item" style="min-height:20px; max-width: 168px; margin-right: 20px;">
                        <div class="item d-flex align-items-center justify-content-center" >
                                <a href="{% url 'design:product' %}">
                                    <img src="{% static 'design/img/svg/wear.svg' %}" alt="운동복" class="img-fluid">
                                    <p class="text-center text-dark">운동복</p>
                                </a>
                        </div>
                    </div>

                    <div class="owl-item" style="min-height:20px; max-width: 168px; margin-right: 20px;">
                        <div class="item d-flex align-items-center justify-content-center">
                                <a href="{% url 'design:product'%}?item=envelope">
                                    <img src="{% static 'design/img/svg/envelope.svg' %}" alt="봉투" class="img-fluid">
                                    <p class="text-center text-dark">봉투</p>
                                </a>
                        </div>
                    </div>
                    <div class="owl-item" style="min-height:20px; max-width: 168px; margin-right: 20px;">
                        <div class="item d-flex align-items-center justify-content-center">
                            <div class="">
                                <a href="{% url 'design:product' %}?item=card">
                                    <img src="{% static 'design/img/svg/card.svg' %}" alt="명함" class="img-fluid">
                                    <p class="text-center text-dark">명함</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="owl-item" style="min-height:20px; max-width: 168px; margin-right: 20px;">
                        <div class="item d-flex align-items-center justify-content-center">
                                <a href="{% url 'design:product'%}?item=ncr2">
                                    <img src="{% static 'design/img/svg/bill.svg' %}" alt="양식지" class="img-fluid">
                                    <p class="text-center text-dark">양식지</p>
                                </a>
                        </div>
                    </div>
                     <div class="owl-item" style="min-height:20px; max-width: 168px; margin-right: 20px;">
                        <div class="item d-flex align-items-center justify-content-center">
                                <a href="{% url 'design:product'  %}">
                                    <img src="{% static 'design/img/svg/roll.svg' %}" alt="현수막" class="img-fluid">
                                    <p class="text-center text-dark">현수막</p>
                                </a>
                        </div>
                    </div>
                    <div class="owl-item" style="min-height:20px; max-width: 168px; margin-right: 20px;">
                        <div class="item d-flex align-items-center justify-content-center">
                                <a href="{% url 'design:product'%}?item=ticket">
                                    <img src="{% static 'design/img/svg/ticket.svg' %}" alt="양식지" class="img-fluid">
                                    <p class="text-center text-dark">상품권/티켓</p>
                                </a>
                        </div>
                    </div>
                    <div class="owl-item" style="min-height:20px; max-width: 168px; margin-right: 20px;">
                        <div class="item d-flex align-items-center justify-content-center">
                                <a href="{% url 'design:product'%}?item=sticker">
                                    <img src="{% static 'design/img/svg/sticker.svg' %}" alt="양식지" class="img-fluid">
                                    <p class="text-center text-dark">스티커</p>
                                </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="text-center">
            <div class="col-12">
                <img src="{{main_img}}" class="img-fluid">
            </div>
</section>

<section>

    <div class="container py-3">
        <div class="row">
            <div class="col-xl-8 mx-auto text-center mb-5">
                <br>
                <h3 class="">어떤 디자인을 찾고 계신가요?</h3>
                <br>
                <h5 class="lead text-muted">많은 분들의 선택을 받고 있는 디자인을 추천해 드립니다.</h5>
            </div>
        </div>
        <div class="row">
                <div class="col-md-2">
                    <button for="size_0" class="btn btn-sm btn-outline-secondary detail-option-btn-label active"
                            data-name="flyer" style="padding: 20px; width: 100%;">
                        전단지
                        <input type="radio" name="size" value="value_0" required="" class="input-invisible">
                    </button>
                </div>
                <div class="col-md-2">
                    <button for="size_0" class="btn btn-sm btn-outline-secondary detail-option-btn-label"
                             data-name="banner" style="padding: 20px; width: 100%;">
                        배너
                        <input type="radio" name="size" value="value_1" required="" class="input-invisible">
                    </button>
                </div>
                <div class="col-md-2">
                    <button for="size_0" class="btn btn-sm btn-outline-secondary detail-option-btn-label"
                             data-name="ticket" style="padding: 20px; width: 100%;">
                        상품권
                        <input type="radio" name="size" value="value_2" required="" class="input-invisible">
                    </button>
                </div>
                <div class="col-md-2">
                    <button for="size_0" class="btn btn-sm btn-outline-secondary detail-option-btn-label"
                             data-name="card" style="padding: 20px; width: 100%;">
                        명함
                        <input type="radio" name="size" value="value_3" required="" class="input-invisible">
                    </button>
                </div>
                <div class="col-md-2">
                    <button for="size_0" class="btn btn-sm btn-outline-secondary detail-option-btn-label"
                             data-name="ncr" style="padding: 20px; width: 100%;">
                        양식지/NCR
                        <input type="radio" name="size" value="value_4" required="" class="input-invisible">
                    </button>
                </div>
                <div class="col-md-2">
                    <button for="size_0" class="btn btn-sm btn-outline-secondary detail-option-btn-label"
                             data-name="etc" style="padding: 20px; width: 100%;">
                        카달로그/브로셔
                        <input type="radio" name="size" value="value_5"  required="" class="input-invisible">
                    </button>
                </div>
            </div>

    <div class="row pt-5" align="center">
        {% for image in object_list %}
        <div class="col-md-3">
            <div class="product">
                <div class="product-image border-0">
                    <img src="{{image.banner_img.url}}"
                         alt="product" class="img-fluid">
                    <div class="product-hover-overlay">
                        <div class="product-hover-overlay-buttons">
                            <a href="{% url 'design:product'%}?item=flyer"
                               class="btn btn-danger btn-buy sample_cart" data-name="{{image.name}}" data-url="{{image.origin_url}}">
                                <span class="btn-buy-label ml-2">주문</span>
                            </a>
                            <hr>
                            <h3 class="h6 mb-1 text-center product_name">{{image.name}}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>


    </div>


</section>

<section class="py-5 bg-gray-100">
    <div class="container py-3">
        <div class="row">
            <div class="col-xl-8 mx-auto text-center mb-5">
                <h3 class="">어떤 샘플을 찾고 계신가요~?</h3>
                <br>
                <p class="lead text-muted">업종별 다양한 디자인샘플을 한눈에 보실 수 있습니다.</p>
            </div>
        </div>
        <section>
            <div class="container-fluid px-5px">
                <div class="row mx-0">
                    <div class="col-lg-3 col-md-6 col-sm-6 mb-10px px-5px">
                        <div class="card border-0 text-center text-white">
                            <img src="{% static 'design/img/landing/coffee.jpg' %}" alt="Card image" class="card-img">
                            <a href="{% url 'design:product'  %}">
                                <div class="card-img-overlay d-flex align-items-center">
                                    <div class="w-100">
                                        <h2 class="display-5 mb-4 font-weight-bold text-white">Coffee</h2>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 mb-10px px-5px">
                        <div class="card border-0 text-center text-white">
                            <img src="{% static 'design/img/landing/education.jpg' %}" alt="Card image" class="card-img">
                            <a href="{% url 'design:product'%}">
                            <div class="card-img-overlay d-flex align-items-center">
                                <div class="w-100">
                                    <h2 class="display-5 mb-4 font-weight-bold text-white">Education</h2>
                                </div>
                            </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 mb-10px px-5px">
                        <div class="card border-0 text-center text-dark">
                            <img src="{% static 'design/img/landing/restaurant.jpg'%}" alt="Card image" class="card-img">
                            <a href="{% url 'design:product' %}">
                            <div class="card-img-overlay d-flex align-items-center">
                                <div class="w-100">
                                    <h2 class="display-5 mb-4 font-weight-bold text-white">Restaurant</h2>
                                </div>
                            </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 mb-10px px-5px">
                        <div class="card border-0 text-center text-dark">
                            <img src="https://img.freepik.com/free-photo/combs-cosmetics-black_23-2147784009.jpg?size=626&ext=jpg" alt="Card image" class="card-img">
                            <a href="{% url 'design:product'  %}">
                            <div class="card-img-overlay d-flex align-items-center">
                                <div class="w-100">
                                    <h2 class="display-5 mb-4 font-weight-bold text-white">Beauty</h2>
                                </div>
                            </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row mx-0">
                    <div class="col-md-6 col-sm-6 mb-10px px-5px">
                        <div class="card border-0 text-white text-center">
                            <img src="{% static 'design/img/landing/gym.jpg' %}" alt="Card image" class="card-img">
                            <a href="{% url 'design:product' %}">
                                <div class="card-img-overlay d-flex align-items-center">
                                    <div class="w-100 py-3">
                                        <h3 class="display-4 font-weight-bold mb-4 text-white">Fitness</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 mb-10px px-5px">
                        <div class="card border-0 text-white text-center">
                            <img src="{% static 'design/img/landing/yoga.jpg' %}" alt="Card image" class="card-img">
                            <a href="{% url 'design:product'  %}">
                                <div class="card-img-overlay d-flex align-items-center">
                                    <div class="w-100 py-3">
                                        <h3 class="display-4 font-weight-bold mb-4 text-white">Yoga/Pilates</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="row mx-0">
                    <div class="col-lg-4 col-sm-6 mb-10px px-5px">
                        <div class="card border-0 text-center text-white">
                            <img src="{% static 'design/img/landing/business.jpg' %}" alt="Card image" class="card-img">
                            <a href="{% url 'design:product' %}">
                                <div class="card-img-overlay d-flex align-items-center">
                                    <div class="w-100">
                                        <h2 class="display-5 mb-4 font-weight-bold text-white">Business</h2>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 mb-10px px-5px">
                        <div class="card border-0 text-center text-white">
                            <img src="{% static 'design/img/landing/estate.jpg' %}" alt="Card image" class="card-img">
                            <a href="{% url 'design:product' %}">
                                <div class="card-img-overlay d-flex align-items-center">
                                    <div class="w-100">
                                        <h2 class="display-5 mb-4 font-weight-bold text-white">Estate</h2>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-10px px-5px">
                        <div class="card border-0 text-center text-white">
                            <img src="{% static 'design/img/landing/shopping.jpg'%}" alt="Card image" class="card-img">
                            <a href="{% url 'design:product'%}">
                                <div class="card-img-overlay d-flex align-items-center">
                                    <div class="w-100">
                                        <h2 class="display-5 mb-4 font-weight-bold text-white">Shopping</h2>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="row mx-0">
                    <div class="col-lg-3 col-md-6 col-sm-6 mb-10px px-5px">
                        <div class="card border-0 text-center text-white">
                            <img src="{% static 'design/img/landing/car.jpg' %}" alt="Card image" class="card-img">
                            <a href="{% url 'design:product' %}">
                            <div class="card-img-overlay d-flex align-items-center">
                                <div class="w-100">
                                    <h2 class="display-5 mb-4 font-weight-bold text-white">Car</h2>
                                </div>
                            </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 mb-10px px-5px">
                        <div class="card border-0 text-center text-white">
                            <img src="{% static 'design/img/landing/education.jpg' %}" alt="Card image" class="card-img">
                            <a href="{% url 'design:product'%}">
                            <div class="card-img-overlay d-flex align-items-center">
                                <div class="w-100">
                                    <h2 class="display-5 mb-4 font-weight-bold text-white">Education</h2>
                                </div>
                            </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 mb-10px px-5px">
                        <div class="card border-0 text-center text-dark">
                            <img src="{% static 'design/img/landing/medical.jpg'%}"  alt="Card image" class="card-img">
                            <a href="{% url 'design:product' %}">
                            <div class="card-img-overlay d-flex align-items-center">
                                <div class="w-100">
                                    <h2 class="display-5 mb-4 font-weight-bold text-white">Medical</h2>
                                </div>
                            </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 mb-10px px-5px">
                        <div class="card border-0 text-center text-dark">
                            <img src="{% static 'design/img/landing/telecom.jpg'%}" alt="Card image" class="card-img">
                            <a href="{% url 'design:product'%}">
                            <div class="card-img-overlay d-flex align-items-center">
                                <div class="w-100">
                                    <h2 class="display-5 mb-4 font-weight-bold text-white">Telecom</h2>
                                </div>
                            </div>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </section>


    </div>
    </div>
</section>
<!-- 새로운 section-3 -->
<script>
    $(document).ready(function () {
        $('.sample_cart').click(function () {
            var url = $(this).data('url');
            var name = $(this).data('name');
             $.cookie('sample_cart_url' , url, { path : '/' });
             $.cookie('sample_cart_name' , name, { path : '/' });
        });
    });

        $('.detail-option-btn-label').click(function () {
            var keyword = $(this).data('name');
            var re_url = "{% url 'design:product' %}?item="+keyword;
        $.ajax({
        type:"GET",
        url:"home_image/",
        dataType : "json",
        data:{'keyword':keyword},
        success: function(data){
           $('.product-image').each(function (e, item) {
               $(this).find('img').attr('src','https://wemix-dev-s3.s3.amazonaws.com/media/'+data[e]['banner_img']);
               $(this).find('a').attr('data-url',data[e]['origin_url']).attr('href',re_url);
               $(this).find('.product_name').text(data[e]['name']);

            });
        }
        });
    });


</script>
{% endblock %}