{% extends 'design/leftsidebar.html'%}
{% load static %}
{% block title%}마이페이지{% endblock %}
{% block sidebar_title%}마이페이지{% endblock %}
{% block sidebar_subtitle%}아래 입력하신 사항으로 영수증 처리가 진행됩니다.{% endblock %}
{% block sidebar_active3 %}style="font-weight: bold;"{% endblock %}

{% block sidebar_content%}

 {% if user.is_authenticated %}
<div id="pagesfolder" class="docs-item">
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="block mb-5">
          <div class="block-header"><strong class="text-uppercase">비밀번호 변경</strong></div>
          <div class="block-body">
            <form method="POST" action="{% url 'design:change_password'%}" autocomplete="off">
              {% csrf_token%}
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="id_old_password" class="form-label">기존 비밀번호</label>
                    {{ password_form.old_password }}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="id_new_password1" class="form-label">새로운 비밀번호</label>
                    {{ password_form.new_password1 }}
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="id_new_password2" class="form-label">새 비밀번호 확인</label>
                    {{ password_form.new_password2 }}
                  </div>
                </div>
              </div>
                     {% if messages %}
                    {% for message in messages %}
            <div role="alert" class="alert alert-danger"> {{message}}</div>
                    {% endfor %}
                    {% endif %}
              <div class="text-center mt-4">
                <button type="submit" class="btn btn-outline-dark"><i class="far fa-save mr-2" id="save_btn"></i>비밀번호 변경</button>
              </div>
            </form>
          </div>
        </div>
        <form method="POST" autocomplete="off">
          {% csrf_token %}
        <div class="block mb-5" >
          <div class="block-header"><strong class="text-uppercase">상세 정보</strong><p class="text-muted">자세히 적어주세요</p></div>
          <div class="block-body">
            <form>
              <div class="row">
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="id_company" class="form-label">상호명</label>
                    {{form.company}}
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="id_tell" class="form-label">전화번호</label>
                    {{form.tell}}
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="id_phone" class="form-label">핸드폰</label>
                     {{form.phone}}
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="id_tax_bill_mail" class="form-label">E-mail</label>
                    {{form.tax_bill_mail}}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-5">
                   <button class="btn btn-outline-success btn-block" onclick="sample4_execDaumPostcode(); return false; ">
                            <i class="fas fa-map-marker-alt"></i> 주소 검색하기</button>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">

                  </div>
                </div>

                <div class="col-sm-4">

                </div>
              </div>
              <div class="row">

              </div>
              <!-- /.row-->
              <div class="row">
                <div class="col-sm-8">
                  <div class="form-group">
                    <label for="sample4_roadAddress" class="form-label">도로명 주소</label>
                    {{form.address}}
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="sample4_detailAddress" class="form-label">상세 주소</label>
                    {{form.address_detail}}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-8">
                  <div class="form-group">
                    <label for="sample4_jibunAddress" class="form-label">지번 주소</label>
                    {{form.address2}}
                    <span id="guide" style="color:#999;display:none"></span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="sample4_extraAddress" class="form-label">주소 참고항목</label>
                    {{form.address_option}}
                  </div>
                </div>
              </div>
              <!-- /.row-->
              <div class="row">
                <div class="col-sm-6 col-md-3">
                  <div class="form-group">
                    <label for="id_code" class="form-label">사업자 번호</label>
                    {{form.code}}
                  </div>
                </div>
                <div class="col-sm-6 col-md-3">
                  <div class="form-group">
                    <label for="zip" class="form-label">대표자명</label>
                     {{form.ceo}}
                  </div>
                </div>
                <div class="col-sm-6 col-md-3">
                  <div class="form-group">
                    <label for="state" class="form-label">업종</label>
                    {{form.sectors}}
                  </div>
                </div>
                <div class="col-sm-6 col-md-3">
                  <div class="form-group">
                    <label for="country" class="form-label">업태</label>
                    {{form.business}}
                  </div>
                </div>
                <div class="col-sm-12">
                <p class="form-label text-center mt-5 mb-5">* 신용카드 결제가 아닌 경우 받으시려는 영수증의 정보를 정확하게 입력해주시기 바랍니다</p>
                </div>
                <div class="col-sm-12" align="center">
                  <div class="row m-2">
                    <div class="form-group col-md-3 d-flex align-items-center">
                      <input type="radio" name="bill_select" id="option0" value="0"
                      {% if form.bill_select.value == 0 %}checked="checked"{% endif %}>
                      <label for="option0" class="ml-3"><strong class="form-label">세금계산서</strong></label>
                    </div>
                    <div class="form-group col-md-3 d-flex align-items-center">
                      <input type="radio" name="bill_select" id="option1" value="1"
                             {% if form.bill_select.value == 1 %}checked="checked"{% endif %}>
                      <label for="option1" class="ml-3"><strong class="form-label">사업자 지출증빙</strong></label>
                    </div>
                    <div class="form-group col-md-3 d-flex align-items-center">
                      <input type="radio" name="bill_select" id="option2" value="2"
                             {% if form.bill_select.value == 2 %}checked="checked"{% endif %}>
                      <label for="option2" class="ml-3"><strong class="form-label">현금 영수증</strong></label>
                    </div>
                    <div class="form-group col-md-3 d-flex align-items-center">
                      <input type="radio" name="bill_select" id="option3" value="3"
                             {% if form.bill_select.value == 3 %}checked="checked"{% endif %}>
                      <label for="option3" class="ml-3"><strong class="form-label">미발행</strong></label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center mt-4">
                <button type="submit" class="btn btn-outline-dark"><i class="far fa-save mr-2"></i>저장하기</button>
              </div>
            </form>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>
</section>
</div>

<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="{% static 'design/js/daummap.js'%}"></script>
{%else%}
<div class="row pt-2 mb-7 ">
  <div class="col-lg-3"></div>
  <div class="col-lg-6 ">
    <div class="card mb-3">
      <div class="card-body bg-gray-100">
        <h6 class="text-uppercase mb-4 text-center">로그인 후 이용하실 수 있습니다</h6>
        <form method="post" action="{% url 'design:login'%}?next={{request.get_full_path }}" autocomplete="off">
          {% csrf_token %}
          <div class="input-group">
            <div class="input-group-prepend"><span id="basic-addon1" class="input-group-text"><i
                    class="fas fa-user"></i></span></div>
            <input type="text" name="username" placeholder="Username" aria-label="Username"
                   aria-describedby="basic-addon1"
                   class="form-control" required>
          </div>
          <br>
          <div class="input-group">
            <div class="input-group-prepend"><span id="basic-addon2" class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <input type="password" name="password" placeholder="password" aria-label="password"
                   aria-describedby="basic-addon2"
                   class="form-control" required>
          </div>
          <br>
          <button type="submit" class="form-control btn btn-dark">로그인</button>
        </form>
      </div>
    </div>


  </div>
  <div class="col-lg-3"></div>

</div>

{% endif %}
<script>
  $('html, body').animate({
        scrollTop: $("#save_btn").offset().top
    }, 1500);
</script>
{% endblock %}