{% extends 'design/leftsidebar.html'%}
{% load static %}
{% block title%}마이페이지{% endblock %}
{% block sidebar_title%}마이페이지{% endblock %}
{% block sidebar_subtitle%} {% endblock %}
{% block sidebar_active3 %}style="font-weight: bold;"{% endblock %}

{% block sidebar_content%}
<div id="pagesfolder" class="docs-item">
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="block mb-5">
          <div class="block-header"><strong class="text-uppercase">비밀번호 변경</strong></div>
          <div class="block-body">
            <form method="POST" action="{% url 'design:change_password'%}" autocomplete="off">
              {% csrf_token%}
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="id_old_password" class="form-label">기존 비밀번호</label>
                    {{ password_form.old_password }}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="id_new_password1" class="form-label">새로운 비밀번호</label>
                    {{ password_form.new_password1 }}
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="id_new_password2" class="form-label">새 비밀번호 확인</label>
                    {{ password_form.new_password2 }}
                  </div>
                </div>
              </div>
                     {% if messages %}
                    {% for message in messages %}
            <div role="alert" class="alert alert-danger"> {{message}}</div>
                    {% endfor %}
                    {% endif %}
              <div class="text-center mt-4">
                <button type="submit" class="btn btn-outline-dark"><i class="far fa-save mr-2"></i>비밀번호 변경</button>
              </div>
            </form>
          </div>
        </div>
        <div class="block mb-5">
          <div class="block-header"><strong class="text-uppercase">상세 정보</strong><p class="text-muted">자세히 적어주세요</p></div>
          <div class="block-body">
            <form>
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="firstname" class="form-label">상호명</label>
                    <input id="firstname" type="text" class="form-control" placeholder="">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="lastname" class="form-label">전화번호</label>
                    <input id="lastname" type="text" class="form-control">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="lastname1" class="form-label">핸드폰</label>
                    <input id="lastname1" type="text" class="form-control">
                  </div>
                </div>
              </div>



              <div class="row">
                <div class="col-sm-5">
                  <div class="form-group">
                    <label for="firstname" class="form-label">우편번호</label>
                     <div class="input-group mb-3">
                      <input type="text" class="form-control" id="sample4_postcode" readonly>
                      <div class="input-group-append">
<!--                        <span class="input-group-text" >-->
                          <button class="btn btn-outline-success" onclick="sample4_execDaumPostcode(); return false; ">
                            <i class="fas fa-map-marker-alt"></i> 주소 검색하기</button>
<!--                        </span>-->
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">

                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="company" class="form-label">E-mail</label>
                    <input id="company" type="text" class="form-control">
                  </div>
                </div>
              </div>
              <div class="row">

              </div>
              <!-- /.row-->
              <div class="row">
                <div class="col-sm-8">
                  <div class="form-group">
                    <label for="sample4_roadAddress" class="form-label">도로명 주소</label>
                    <input id="sample4_roadAddress" type="text" class="form-control" readonly >
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="sample4_detailAddress" class="form-label">상세 주소</label>
                    <input id="sample4_detailAddress" type="text" class="form-control">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-8">
                  <div class="form-group">
                    <label for="sample4_jibunAddress" class="form-label">지번 주소</label>
                    <input id="sample4_jibunAddress" type="text" class="form-control" readonly>
                    <span id="guide" style="color:#999;display:none"></span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="sample4_extraAddress" class="form-label">주소 참고항목</label>
                    <input id="sample4_extraAddress" type="text" class="form-control">
                  </div>
                </div>
              </div>
              <!-- /.row-->
              <div class="row">
                <div class="col-sm-6 col-md-3">
                  <div class="form-group">
                    <label for="city" class="form-label">사업자 번호</label>
                    <input id="city" type="text" class="form-control">
                  </div>
                </div>
                <div class="col-sm-6 col-md-3">
                  <div class="form-group">
                    <label for="zip" class="form-label">대표자명</label>
                    <input id="zip" type="text" class="form-control">
                  </div>
                </div>
                <div class="col-sm-6 col-md-3">
                  <div class="form-group">
                    <label for="state" class="form-label">업종</label>
                    <input id="state" type="text" class="form-control">
                  </div>
                </div>
                <div class="col-sm-6 col-md-3">
                  <div class="form-group">
                    <label for="country" class="form-label">업태</label>
                    <input id="country" type="text" class="form-control">
                  </div>
                </div>

                <div class="col-sm-12">
                  <p class="form-label">*받으시려는 영수증의 정보를 정확하게 입력해주시기 바랍니다</p>
                  <div class="row">
                    <div class="form-group col-md-6 d-flex align-items-center">
                      <input type="radio" name="shippping" id="option0">
                      <label for="option0" class="ml-3"><strong class="form-label">세금계산서</strong></label>
                    </div>
                    <div class="form-group col-md-6 d-flex align-items-center">
                      <input type="radio" name="shippping" id="option1">
                      <label for="option1" class="ml-3"><strong class="form-label">사업자 지출증빙</strong></label>
                    </div>
                    <div class="form-group col-md-6 d-flex align-items-center">
                      <input type="radio" name="shippping" id="option2">
                      <label for="option2" class="ml-3"><strong class="form-label">현금 영수증</strong></label>
                    </div>
                    <div class="form-group col-md-6 d-flex align-items-center">
                      <input type="radio" name="shippping" id="option3">
                      <label for="option3" class="ml-3"><strong class="form-label">미발행</strong></label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="phone" class="form-label">사업자 등록증</label>
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="validatedCustomFile">
                    <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
                    <div class="invalid-feedback">Example invalid custom file feedback</div>
                  </div>
                </div>
              </div>
              <!-- /.row-->
              <div class="text-center mt-4">
                <button type="submit" class="btn btn-outline-dark"><i class="far fa-save mr-2"></i>저장하기</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>


<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    //본 예제에서는 도로명 주소 표기 방식에 대한 법령에 따라, 내려오는 데이터를 조합하여 올바른 주소를 구성하는 방법을 설명합니다.
    function sample4_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var roadAddr = data.roadAddress; // 도로명 주소 변수
                var extraRoadAddr = ''; // 참고 항목 변수

                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                    extraRoadAddr += data.bname;
                }
                // 건물명이 있고, 공동주택일 경우 추가한다.
                if(data.buildingName !== '' && data.apartment === 'Y'){
                   extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if(extraRoadAddr !== ''){
                    extraRoadAddr = ' (' + extraRoadAddr + ')';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample4_postcode').value = data.zonecode;
                document.getElementById("sample4_roadAddress").value = roadAddr;
                document.getElementById("sample4_jibunAddress").value = data.jibunAddress;

                // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
                if(roadAddr !== ''){
                    document.getElementById("sample4_extraAddress").value = extraRoadAddr;
                } else {
                    document.getElementById("sample4_extraAddress").value = '';
                }

                var guideTextBox = document.getElementById("guide");
                // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
                if(data.autoRoadAddress) {
                    var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                    guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
                    guideTextBox.style.display = 'block';

                } else if(data.autoJibunAddress) {
                    var expJibunAddr = data.autoJibunAddress;
                    guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
                    guideTextBox.style.display = 'block';
                } else {
                    guideTextBox.innerHTML = '';
                    guideTextBox.style.display = 'none';
                }
            }
        }).open();
    }
</script>
{% endblock %}