{% extends 'design/leftsidebar.html'%}
{% load static %}
{% block title%}주문리스트{% endblock %}
{% block sidebar_title%}주문리스트{% endblock %}
{% block sidebar_subtitle%}{% endblock %}
{% block sidebar_active2 %}style="font-weight: bold;"{% endblock %}

{% block sidebar_content%}
<div id="pagesfolder" class="docs-item">
	<div class="table-responsive">
	  <table class="table">
	    <thead>
	      <tr>
		<th>#</th>
		<th>Table heading</th>
		<th>Table heading</th>
		<th>Table heading</th>
		<th>Table heading</th>
		<th>Table heading</th>
		<th>Table heading</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr>
		<td>1</td>
		<td>Table cell</td>
		<td>Table cell</td>
		<td>Table cell</td>
		<td>Table cell</td>
		<td>Table cell</td>
		<td>Table cell</td>
	      </tr>
	      <tr>
		<td>2</td>
		<td>Table cell</td>
		<td>Table cell</td>
		<td>Table cell</td>
		<td>Table cell</td>
		<td>Table cell</td>
		<td>Table cell</td>
	      </tr>
	      <tr>
		<td>3</td>
		<td>Table cell</td>
		<td>Table cell</td>
		<td>Table cell</td>
		<td>Table cell</td>
		<td>Table cell</td>
		<td>Table cell</td>
	      </tr>
	    </tbody>
	  </table>
	</div>
</div>

{% endblock %}