{% extends 'design/leftsidebar.html'%}
{% load static %}
{% block title%}주문리스트{% endblock %}
{% block sidebar_title%}주문리스트{% endblock %}
{% block sidebar_subtitle%}{% if not company %}로그인 후 사용하실 수 있습니다.{% endif %}{% endblock %}
{% block sidebar_active2 %}style="font-weight: bold;"{% endblock %}

{% block sidebar_content%}
{% if user.is_authenticated %}

<div id="pagesfolder" class="docs-item">

	<div class="table-responsive">
	  <table class="table">
	    <thead>
	      <tr>
		<th>#</th>
		<th>Table heading</th>
		<th>Table heading</th>
		<th>Table heading</th>
	      </tr>
	    </thead>
	    <tbody>
	   {% for i in order_list %}
	    <tr>
    <td>{{i.created}} </td>
			<td>{{i.name}} </td>
			<td>{{i.price}} </td>
			<td>{{i.selling_price}} </td>
				<td>{{i.quantity}} </td>

		</tr>
    {% endfor %}

	    </tbody>
	  </table>
	</div>
</div>

{% else %}
	<form method="POST" action="">
		{%csrf_token%}
	id {{ form.login }}
	pw {{ form.password }}
		{{ form.remember }}
	<input type="submit" value="전송">
		</form>
{% endif %}
{% endblock %}