{% extends 'design/base.html'%}
{% load static %}
{% block title%}위믹스 품목{% endblock %}
{% block styles %}
<style>
    .gal {
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;
    }

    .gal img {
        max-width: 100%;
        height: auto;
        padding: 6px;
    }

    @media (max-width: 500px) {
        .gal {
            -webkit-column-count: 1; /* Chrome, Safari, Opera */
            -moz-column-count: 1; /* Firefox */
            column-count: 1;
        }
    }
</style>
{% endblock %}
{% block content%}
<!-- Hero Section-->
<section class="hero">
        <hr>
    <div class="row pr-0 m-0">
        <div class="col-lg-1" >
        </div>
        <div class="col-lg-9 col-xl-9 docs-content position-relative">
            <div class="row m-0">
                <div class="card col-lg-4 mb-4 p-0">
                    <div class="row m-1">
                        <div class="col-md-12">
                            <div class="row">
                                <button type="button" class="btn btn-secondary col-md-6" >샘플</button>
                                <button type="button" class="btn btn-secondary col-md-6">지난시안</button>
                            </div>
                        </div>
                        <div class="col-12 mt-3 mb-3">
                            <input type="search" placeholder="Search" aria-label="Search"
                                   class="form-control mr-sm-2">

                        </div>
                        <div class="col-12 mt-3 mb-3">
                            <button class="btn btn-link" style="background-color: red"></button>
                            <button class="btn btn-link" style="background-color: orange"></button>
                            <button class="btn btn-link" style="background-color: yellow"></button>
                            <button class="btn btn-link" style="background-color: forestgreen"></button>
                            <button class="btn btn-link" style="background-color: steelblue"></button>
                            <button class="btn btn-link" style="background-color: mediumpurple"></button>
                            <button class="btn btn-link border-dark" style="background-color: white"></button>
                            <button class="btn btn-link" style="background-color: black"></button>

                        </div>
                        <div class="col-12 mt-3 mb-3">
                            <div class="form-group align-content-center">
                                <select class="custom-select col-12">
                                    {% for i in form.sector %}
                                    {% if i %}
                                    {{i}}
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <!-- product-->
                        <div class="col-12" align="center">
                            <div class="product">
                                <div class="left">
                                    <div class="item_wrapper poster_front">
                                        <a class="front">
<!--                                            <img src="https://picsum.photos/400/400/?blur"-->
<!--                                                 alt="product" class="img-fluid item_wrapper"-->
<!--                                                 style="max-height: 200px;">-->
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="gal col-12" align="center">

                        </div>
                    </div>
                         <!-- bootstrap style을 적용한다. -->
                    <nav aria-label="page navigation" class="d-flex justify-content-center mb-5 mt-3">
                        <ul class="pagination">

                        </ul>
                    </nav>
                </div>

                <div class="col-lg-8">
                        <div class="row d-none d-xl-block text-center" style="margin: 10px">
                            <div class="row">
                                <div class="col-md-4 card border-success bg-light text-success p-3 my-card ">
                                    <span class="fas fa-shopping-cart" aria-hidden="true"> 1. 품목 선택</span></div>
                                <div class="col-md-4 card border-success bg-light text-success p-3 my-card">
                                    <span class="far fa-images" aria-hidden="true"> 2. 디자인 선택</span>
                                </div>
                                <div class="col-md-4 card  text-secondary p-3 my-card">
                                    <span class="fas fa-bars" aria-hidden="true"> 3. 주문 확인</span>
                                </div>
                            </div>
                        </div>
                    <div>
                    <div class="col-xl-12 pt-2">
                        <h5 class="text-black-50">▽ 품목마다 시안 선택과 수정사항을 입력해주세요
                            <p>
                                <br><small>내용 검토 후 확정된 금액을 안내드립니다.</small>
                            </p>
                        </h5>
                    </div>
                    <br>
                     <div class="col-xl-12">
                          {% if user.is_authenticated %}
                         {% for z in cart_button_list %}
                         <button type="button" class="btn {% if z.num == 0 %}btn-dark{% else %}btn-outline-dark{% endif %} btn-sm list_button letter-spacing-1"
                         data-name="{{z.name}}" data-num="{{z.num}}" data-side="{{z.side}}" data-kind="{{z.kind}}" data-idx="{{z.idx}}">{{z.name}}</button>
                         {% endfor %}
                         {% else %}
                          <button type="button" class="btn btn-dark btn-sm list_button letter-spacing-1"
                          data-name="테스트 버튼 1" data-num="1" data-side="2" data-kind="flyer" data-idx="test123456789">테스트 버튼 1</button>
                         <button type="button" class="btn btn-outline-dark btn-sm list_button letter-spacing-1"
                         data-name="테스트 버튼 2" data-num="2" data-side="1" data-kind="card" data-idx="test23456789">테스트 버튼 2</button>
                         {% endif %}
                    </div>
                     <br>
                      <div class="col-xl-12 mb-5 text-center" style="color: #5a5e62;">
                          <div class="mb-5">
                              <div class="customer-sidebar card border-0">
                                  <nav class="list-group customer-nav">
                                         <h5 class="item_name p-3"></h5>
                                      {%if messages%}
                                      {% for message in messages %}
                                      <div role="alert" class="alert alert-success"> {{ message }}</div>
                                      {% endfor %}
                                      {% endif %}
                                        <span class="text-danger">{{form.file.errors.as_text }}</span>
                                      <a class="list-group-item d-flex justify-content-between align-items-center">
                                        <span  class="form-inline">
                                            <div class="form-group pr-2">
                                            <div class="custom-control custom-radio">
                                                <input id="radio3" name="radio2" type="radio" data-val="ai" class="custom-control-input input_data_class">
                                                <label for="radio3" class="custom-control-label">일러스트 주문</label>
                                              </div>
                                            </div>
                                            <div class="form-group pr-2">
                                             <div class="custom-control custom-radio">
                                                <input id="radio4" name="radio2" type="radio" data-val="sample" class="custom-control-input input_data_class">
                                                <label for="radio4" class="custom-control-label">샘플,지난시안</label>
                                              </div>
                                            </div>
                                           <div class="form-group pr-2">
                                             <div class="custom-control custom-radio">
                                                <input id="radio5" name="radio2" type="radio" data-val="file" class="custom-control-input input_data_class">
                                                <label for="radio5" class="custom-control-label">손그림,파일 (+참조 샘플)</label>
                                              </div>
                                            </div>
                                                <div class="form-group pr-2">
                                             <div class="custom-control custom-radio">
                                                <input id="radio6" name="radio2" type="radio" data-val="design" class="custom-control-input input_data_class">
                                                <label for="radio6" class="custom-control-label">디자인 기획</label>
                                              </div>
                                            </div>
                                          </span>
                                          <p>+<span id="way">0~0</span></p>
                                      </a>

                                    <div id="file_form" style="display: none;">
                                      <a class="list-group-item d-flex justify-content-between align-items-center" >
                                        <button class="btn btn-outline-success btn-sm pr-3" id="file_btn">파일 업로드</button>
                                             <span id="file_name"></span>
                                                <img  id="blah"  src="" class="img-fluid pt-3" style="max-width: 100px; max-height: 100px;">
                                          <form id="form_content" method="post" enctype="multipart/form-data" autocomplete="off">
                                              {{form.file}}
                                              {{form.text}}
                                              {% csrf_token%}
                                          </form>
                                      </a>
                                         </div>

                                        <a class="list-group-item d-flex justify-content-between align-items-center">
                                         <span  class="form-inline">
                                         <div class="form-group pr-4">
                                          <div class="custom-control custom-checkbox">
                                            <input id="custom-check-5" type="checkbox" data-val="map" name="check2"  class="custom-control-input input_data_class">
                                            <label for="custom-check-5" class="custom-control-label">신규 약도</label>
                                          </div>
                                        </div>
                                        <div class="form-group pr-4">
                                          <div class="custom-control custom-checkbox">
                                            <input id="custom-check-6" type="checkbox" data-val="table" name="check2" class="custom-control-input input_data_class">
                                            <label for="custom-check-6" class="custom-control-label">신규 표/그래프</label>
                                          </div>
                                        </div>
                                         <div class="form-group pr-4">
                                          <div class="custom-control custom-checkbox">
                                            <input id="custom-check-8" type="checkbox" data-val="1day" name="check2" class="custom-control-input input_data_class">
                                            <label for="custom-check-8" class="custom-control-label">디자인 in 24시간<small> (1p)</small></label>
                                          </div>
                                        </div>
                                          </span>
                                             <p>+<span class="add_min">0</span> ~ <span class="add_max">0</span></p>
                                      </a>
                                      <a class="list-group-item d-flex justify-content-between align-items-center">
                                        <span  class="form-inline">
                                            <div class="form-group pr-2">
                                            <div class="custom-control custom-radio radio_front">
                                                <input id="front" name="radio_side" type="radio" class="custom-control-input" value="front">
                                                <label for="front" class="custom-control-label">앞면<i class="far fa-file-image pl-1"></i></label>
                                              </div>
                                            </div>
                                            <div class="form-group pr-2">
                                             <div class="custom-control custom-radio radio_back" style="display: none;">
                                                <input id="back" name="radio_side" type="radio" class="custom-control-input" value="back">
                                                <label for="back" class="custom-control-label">뒷면<i class="far fa-file pl-1" ></i></label>
                                              </div>
                                            </div>
                                        </span>
                                          <span><small>(1면 기준)</small></span>
                                      </a>
                                      <div class="customer-profile pt-3 pb-3 pl-2 pr-2">
                                           <div class="text-muted p-1"><b id="sample_name"></b></div>
                                          <a id="select_image" class="d-inline-block" style="position: relative;">
                                              <img id="fix_image"
                                                   src="{% static 'design/img/banner/empty_img.jpg'%}"
                                                   class="img-fluid w-100" style="max-height: 500px;">
                                          </a>
                                          <span class="text-center btn_checker s3" align="center">
                                        </span>
                                      </div>
                                      <a class="list-group-item d-flex justify-content-between align-items-center bg-hover-white">
                                          <span style="width: 100%;" class="text-left">
                                             <small class="text-muted">* 내용을 정리해서 적어주세요~</small>
                                            <textarea id="input_textarea" class="form-control border-gray-300" rows="5" autocomplete="off"></textarea>
                                              <small style="color: #E56262;">
                                              <b>* 저장을 안 하신 경우 데이터가 초기화 됩니다.<br></b>
                                              <span>* 주문 후 수정은 3회까지 가능합니다. (추가 비용은 별도입니다)<br></span>
                                              <span>* 주문 후 시안,샘플 변경시 추가 작업비용이 추가 될 수 있으니 충분히 확인하신 후 주문 부탁드립니다~!</span>
                                          </small>
                                          </span>
                                      </a>
                                  </nav>
                                 <button id="content_btn" type="button" class="btn btn-warning">저장</button>
                              </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="col-lg-2">
            <div style="top: 80px; " class="position-sticky mb-2">
                <div class="sidebar-block ">
                    <nav id="components-nav" style="top: 105px;"
                         class="nav nav-pills flex-column ml-1 p-3 mb-5 text-center bg-gray-300">
                        <h4 class="sidebar"><br>※ 예상 주문서 ※</h4>
                        <p></p>

                        <div class="customer-sidebar card border-0">
                              {% if user.is_anonymous %}
                            <i class="fas fa-lock m-30px" style="font-size: 48px;"></i>
                            <p><b>로그인시</b> <br>기능이 활성화 됩니다.</p>
                            <div class="p-2 d-block d-md-block d-lg-none">
                                 {% include 'design/login_form_.html'%}
                            </div>

                            {% else %}
                            <nav class="list-group customer-nav" >
                                <div id="cart_body" class="text-center">
                                    <div class="cart_empty_message" style="">
                                        <div class="col-md-auto pr-0 mb-3 p-5">
                                            <p>주문서가<br>비어 있습니다.</p>
                                        </div>
                                    </div>
                                    <div class="loading-option" style="display: none">
                                        <div class="col-md-auto pr-0 mb-3 p-5">
                                            <i class="fa fa-spinner fa-pulse fa-3x fa-fw margin-bottom text-secondary"></i>
                                        </div>
                                    </div>
                                </div>
                                    <a href="{% url 'design:product_confirm'%}" class="btn btn-danger" style="background-color: #E45A5A; color: #fff;">주소입력</a>
                            </nav>
                            {% endif %}

                        </div>
                         <span class="sample_cart_url"></span>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="{% static 'design/js/comma.js' %}"></script>
 {% if user.is_authenticated %}
<script src="{% static 'design/js/cart.js' %}"></script>
{% endif %}

<script>
    function getJson(url) {
        $.getJSON(url, function (data) {
            $pagination.html('');
            $gal.html('');
            var results = data.results;
            var pages_s = data.num_page;
            $.each(results, function (e, val) {
                var img = '<div><img src="/media/' + val.images + '" alt="샘플 이미지" class="img-fluid item_wrapper"' +
                    ' style="max-height: 600px;" data-name="'+val.name+'"><small>'+val.name+'</small></div>';
                $gal.append(img);
            });
            $.each(pages_s, function (e, val) {
                var col = '';
                console.log(val[1], data.current_page);
                if (val[1] === data.current_page) {
                    col = 'active';
                }
                var num_url =
                    '<li class="page-item ' + col + '">' +
                    '<a href="' + val[0] + '" class="page-link page_call" onclick="return false;">' + val[1] + '</a>' + '</li>';
                $pagination.append(num_url);
            })
        });
    }

    var $pagination = $('.pagination');
    var $gal = $('.gal');
    $('#image_call').click(function () {
        var url = "{% url 'design:sample_api' %}";
        getJson(url);
    });

    $(document).on('click', '.page_call', function () {
        var url = $(this).attr('href');
        getJson(url);
    });

    $(document).on('click', '.item_wrapper', function () {
        var src = $(this).attr('src');
        var name = $(this).data('name');
        img_change(src, name);
        img_fix(src, name);
    });

    function img_change(src, name) {
         var $select_image = $('#select_image');
         var $sample_name = $('#sample_name');
        $select_image.html('');
         $sample_name.text('');
        var html = '<img id="fix_image" src="'+src+'" class="img-fluid w-100" style="max-height: 600px;">';
        $select_image.html(html);
        $sample_name.text(name);
    }

    function img_fix(src, name) {
        var radio_side = $('input:radio[name="radio_side"]:checked').val();
        data[global_idx][radio_side]['img'] = src;
        data[global_idx][radio_side]['name'] = name;
    }

    var $radio_side = $('input:radio[name="radio_side"]');
    var $input_textarea = $('#input_textarea');
    $radio_side.click(function () {
        var this_side = $(this).val();
        img_change(data[global_idx][this_side]['img'],data[global_idx][this_side]['name']);
        $input_textarea.val(data[global_idx][this_side]['text']);
    });


    $input_textarea.change(function () {
        var radio_side = $('input:radio[name="radio_side"]:checked').val();
        var content  =  $(this).val();
        data[global_idx][radio_side]['text']= content;
        console.log(data);
    })



</script>
<script>
    var $list_button = $('.list_button');
    $list_button.click(function () {
        $list_button.removeClass('btn-dark').addClass('btn-outline-dark');
        $(this).removeClass('btn-outline-dark').addClass('btn-dark');
        var side = $(this).data('side');
        var idx = $(this).data('idx');
        var name = $(this).data('name');
        clickNameHide(idx, side, name);
        global_idx = idx;
    });

    var $input_data_class = $('.input_data_class');
    var add_p = {
        'map': {'min': 5000, 'max': 10000},
        'table': {'min': 5000, 'max': 10000},
        '1day': {'min': 30000, 'max': 60000}
    };
    var way = {
        'ai': '0 ~ 0',
        'sample': '0 ~ 20,000',
        'file': '10,000 ~ 30,000',
        'design': '30,000 ~ 80,000'
    };
    $input_data_class.change(function () {
        var radio_val = $('input:radio[name="radio2"]:checked').data('val');
        var check_val = $('input:checkbox[name="check2"]:checked');
        var $way = $('#way');
        var t = way[radio_val];
        var added = {'min': 0, 'max': 0};
        var add_list = new Array();
        check_val.each(function () {
            var key = $(this).data('val');
            added.min += add_p[key].min;
            added.max += add_p[key].max;
            add_list.push(key);
        });
        var $file_form = $('#file_form');
        $('.add_min').text(comma(added.min));
        $('.add_max').text(comma(added.max));
        if (radio_val === 'file') {
            $file_form.show();
        } else {
            $file_form.hide();
            $('input:file').val('');
            $('#file_name').text('');
            $('#blah').attr('src', '');
        }
        $way.text(t);
        data[global_idx]['add'] = add_list;
        data[global_idx]['way'] = radio_val;
    });

    function clickNameHide(idx, count, name) {
        var empty_img = "{% static 'design/img/banner/empty_img.jpg'%}";
        $('.item_name').text(name);
        var $radio_back = $('.radio_back');
        if (count === 2) {
            $radio_back.show();
        } else {
            $radio_back.hide();
            $('input:radio[name="radio_side"][value="front"]').prop("checked", true);
        }
        var data_keys = Object.keys(data);
        if (data_keys.indexOf(idx) !== -1) {
            // 있는 경우
        } else {
            if (count === 2) {
                data[idx] = {'front': {'img':empty_img}, 'back': {'img':empty_img}};
            } else {
                data[idx] = {'front': {'img':empty_img}};
            }
        }
    }

    $(document).ready(function () {
        var url = "{% url 'design:sample_api' %}";
        getJson(url);
        data = {};
        global_idx = '';
        var $list_button = $('.list_button');
        if ($list_button.length > 0) {
            $('input:radio[name="radio_side"][value="front"]').prop("checked", true);
            var $button0 = $list_button.data();
            var btn0_name = $button0.name;
            var btn0_side = $button0.side;
            var btn0_idx = $button0.idx;
            global_idx = btn0_idx;
            clickNameHide(btn0_idx, btn0_side, btn0_name);
            // 데이터 받아오기
        }
    });

    $('#file_btn').bind("click", function () {
        $('#id_file').click();
    });

    function readURL(input) {
        var file = input.files[0];
        var mb = (file.size / 1024) / 1024;
        var name = file.name;
        var format = name.split('.');
        var block_list = ['js', 'py', 'c', 'cpp', 'css', 'html', 'php', 'sql', 'exe'];
        format = format[format.length - 1].toLowerCase();
        if (block_list.indexOf(format) !== -1) {
            alert(format + " 파일은 업로드가 불가합니다.");
        } else {
            if (mb <= 10) {
                if (input.files && file) {
                    var reader = new FileReader();
                    if (file.type.indexOf('image') !== -1) {
                        reader.onload = function (e) {
                            $('#blah')
                                .attr('src', e.target.result);
                        };
                    } else {
                        $('#blah').attr('src', '');
                    }
                    $('#file_name').text(name);
                    reader.readAsDataURL(input.files[0]);
                }
            } else {
                alert('업로드는 최대 10 MB 이하만 가능합니다.\n' +
                    '업로드 하신 파일은 약 ' + Math.ceil(mb) + 'MB 입니다.' +
                    '\n대용량 파일은 iclover77@naver.com으로 보내주시기 바랍니다.');
            }
        }
    }

</script>
<script>
    var $content_btn = $('#content_btn');
    $content_btn.click(function () {
        data[global_idx]['key'] = global_idx;
        $('#id_text').val( JSON.stringify(data[global_idx]));
        $("#form_content").submit();
    });
</script>


{% endblock %}