{% extends 'design/base.html'%}
{% load static %}
{% load design_tags %}
{% block title%}전단지{% endblock %}
{% block content%}
<hr>
<!-- Hero Section-->
<section class="hero">
    <div class="row pr-0 m-0">
        <div class="col-lg-1" style="background-color: #343a40; color:white;">
            <div style="top: 60px; " class="sticky-top mb-2">
                <div class="sidebar-block ">
                    <nav class="nav nav-pills flex-column text-center">
                        <a href="../docs/docs-introduction.html" class="nav-link mb-2" style="background-color: #343a40; color:white;">전단지<br>&족자</a>
                        <a href="../docs/docs-directory-structure.html" class="nav-link mb-2 text-white">명함</a>
                        <a href="../docs/docs-gulp.html" class="nav-link mb-2 text-white">현수막</a>
                        <a href="../docs/docs-customizing-css.html" class="nav-link mb-2 text-white">배너</a>
                        <a href="../docs/docs-credits.html" class="nav-link mb-2 text-white">봉투</a>
                        <a href="../docs/docs-changelog.html" class="nav-link mb-2 text-white">문어발</a>
                        <a href="../docs/docs-changelog.html" class="nav-link mb-2 text-white">문고리</a>
                        <a href="../docs/docs-changelog.html" class="nav-link mb-2 text-white">양식지</a>
                        <a href="../docs/docs-changelog.html" class="nav-link mb-2 text-white">종이자석</a>

                    </nav>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-xl-9 docs-content position-relative">
            <div class="row m-0">
                <div class="card col-lg-4 mb-4 p-0">
                    <div class="row m-1">
                        <div class="col-12 mt-3 mb-3">
                            {% sample_list sector_slug as samples %}
                        <h4>샘플리스트 {% for p in samples %}{{p}}{% endfor %}</h4>
                        </div>
                        <div class="col-12 mt-3 mb-3">
                        <div class="form-group align-content-center">
                      <select class="custom-select col-12">
                        <option selected="">스포츠</option>
                        <option value="1">피트니스</option>
                      </select>
                    </div>
                        </div>

                        <div class="col-6 mt-3 mb-3">
                       <button type="button" class="btn btn-secondary">손그림 올리기</button>
                        </div>
                        <div class="col-6 mt-3 mb-3">
                       <button type="button" class="btn btn-dark">지난 시안 재주문</button>
                        </div>
                        <!-- product-->
                        {% for i in sample_list %}
                        <div class="col-6 ">
                            <div class="product">
                                <div class="product-image">
                                    <img src="/media/{{ i.sample_img }}"
                                         alt="product" class="img-fluid">
                                    <div class="product-hover-overlay">
                                        <a href="detail.html"class="product-hover-overlay-link"></a>
                                        <div class="product-hover-overlay-buttons">
                                            <a href="detail.html" class="btn btn-dark btn-buy">
                                                <span class="btn-buy-label ml-2">선택</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="py-2">
                                    <h3 class="h6 mb-1 text-center">{{ i.name }}</h3>
                                </div>
                            </div>
                        </div>
                        <!-- /product-->
                        {% endfor %}

                    </div>
                         <nav aria-label="page navigation" class="d-flex justify-content-center mb-5 ">
                            <ul class="pagination">
                              <li class="page-item active"><a href="#" class="page-link">1       </a></li>
                              <li class="page-item"><a href="#" class="page-link">2       </a></li>
                              <li class="page-item"><a href="#" class="page-link">3       </a></li>
                              <li class="page-item"><a href="#" class="page-link">4       </a></li>
                              <li class="page-item"><a href="#" class="page-link">5 </a></li>
                            </ul>
                          </nav>
                </div>

                <div class="col-lg-8">
                    <br>
                    <h4>전단지 & 족자 {{ menu_slug }} {{ sector_slug }}</h4>
                    <br>
                    <div class="row align-content-center">
                        <div class="col-md-auto pr-0 mb-3 ">
                              <img src="{% static 'design/img/product/1.42.jpg'%}" class="p-0" width="115px;">
                            <img src="{% static 'design/img/product/1.42.jpg'%}" class="p-0" width="115px;">


                        </div>
                        <div class="col">

                            <div class="form-group align-content-center">
                        <label class="col-md-2 col-sm-3 p-0"><b class="text-gray-600">종류</b></label>
                      <select class="custom-select col-xl-8 col-lg-8 col-md-8 col-sm-8 col-9">
                        <option selected="">전단지</option>
                        <option value="1">족자</option>
                      </select>
                    </div>
                           <div class="form-group align-content-center">
                        <label class="col-md-2 col-sm-3 p-0"><b class="text-gray-600">면</b></label>
                            <label for="size_0" class="btn btn-sm btn-outline-secondary detail-option-btn-label col-xl-4 col-lg-4 col-md-3 col-4">
                              단면
                              <input type="radio" name="size" value="value_0" id="size_0" required="" class="input-invisible">
                            </label>
                            <label for="size_1" class="btn btn-sm btn-outline-secondary detail-option-btn-label col-xl-4 col-lg-4 col-md-3 col-4">

                              양면
                              <input type="radio" name="size" value="value_1" id="size_1" required="" class="input-invisible">
                            </label>
                    </div>
                            <div class="form-group align-content-center">
                        <label class="col-md-2 col-sm-3 p-0"><b class="text-gray-600">크기</b></label>
                      <select class="custom-select col-xl-8 col-lg-8 col-md-8 col-sm-8 col-9">
                        <option selected="">전단지 A4(국8절) 210*297 </option>
                        <option value="1">전단지 B5 210*297 </option>
                      </select>
                    </div>

                        </div>
                    </div>
                    <hr style="opacity: 0.7">
                    <h5 class="text-black-50">인쇄 옵션</h5>
                    <div class="form-group align-content-center">
                        <label class="col-md-2 col-sm-3 p-0"><b class="text-gray-600">용지</b></label>
                      <select class="custom-select col-xl-5 col-lg-7 col-md-7 col-sm-7 col-9">
                        <option selected="">90 아트지</option>
                        <option value="1">80 모조</option>
                      </select>
                        <button type="button" class="btn btn-primary btn-md ml-2"><b>!</b></button>
                    </div>
                    <div class="form-group align-content-center">
                        <label class="col-md-2 col-sm-3 p-0"><b class="text-gray-600">수량</b></label>
                      <select class="custom-select col-xl-5 col-lg-7 col-md-7 col-sm-7 col-9">
                        <option selected="">1연 4000장</option>
                        <option value="1">2연 4000장</option>
                        <option value="2">3연 4000장</option>
                        <option value="3">4연 4000장</option>
                      </select>
                        <button type="button" class="btn btn-primary btn-md ml-2"><b>!</b></button>
                    </div>
                    <div class="form-group align-content-center">
                        <label class="col-md-2 col-sm-3 p-0"><b class="text-gray-600">인쇄방식</b></label>
                                    <label for="size_0" class="btn btn-sm btn-outline-secondary detail-option-btn-label col-xl-2 col-lg-3 col-md-3 col-4">
                                       합판 인쇄
                                      <input type="radio" name="size" value="value_0" id="size_0" required="" class="input-invisible">
                                    </label>
                                    <label for="size_1" class="btn btn-sm btn-outline-secondary detail-option-btn-label col-xl-2 col-lg-3 col-md-3 col-4">

                                      독판 인쇄
                                      <input type="radio" name="size" value="value_1" id="size_1" required="" class="input-invisible">
                                    </label>
                    </div>
                    <div class="form-group align-content-center">
                        <label class="col-md-2 col-sm-3 p-0"><b class="text-gray-600">포장선택</b></label>
                            <label for="size_0" class="btn btn-sm btn-outline-secondary detail-option-btn-label col-xl-2 col-lg-3 col-md-3 col-4">
                               종이 포장
                              <input type="radio" name="size" value="value_0" id="size_0" required="" class="input-invisible">
                            </label>
                            <label for="size_1" class="btn btn-sm btn-outline-secondary detail-option-btn-label col-xl-2 col-lg-3 col-md-3 col-4">

                              박스 포장
                              <input type="radio" name="size" value="value_1" id="size_1" required="" class="input-invisible">
                            </label>
                    </div>
                    <div class="form-group align-content-center">
                        <label class="col-md-2 col-sm-3 p-0"><b class="text-gray-600">배송 선택</b></label>
                      <select class="custom-select col-xl-5 col-lg-7 col-md-7 col-sm-7 col-9">
                        <option selected="">선불 택배</option>
                        <option value="1">착불 택배</option>
                        <option value="2">퀵 배송</option>
                        <option value="3">방문 수령</option>
                      </select>
                    </div>
                    <div class="form-group align-content-center">
                        <label class="col-md-2 col-sm-3 p-0"><b class="text-gray-600">배송 선택</b></label>
                      <select class="custom-select col-xl-5 col-lg-7 col-md-7 col-sm-7 col-9">
                        <option selected="">선불 택배</option>
                        <option value="1">착불 택배</option>
                        <option value="2">퀵 배송</option>
                        <option value="3">방문 수령</option>
                      </select>
                        <button type="button" class="btn btn-primary btn-md ml-2"><b>!</b></button>
                    </div>
                    <hr>
                    <div class="card">
                <div class="card-body bg-gray-100 p-4 text-sm">
                    <p class="card-text">- 화면(RGB)색상과 출력물(CMYK)의 색상은 다릅니다.</p>
                    <p class="card-text">- 배송 및 기간에 대한 확답을 드리지 않습니다.</p>
                    <p class="card-text">- 다양한 변수를 위해 넉넉한 기간을 두고 구매하여주세요.</p>
                    <p class="card-text">- 재인쇄의 경우 주문하셨던 배송 방법으로 발송됩니다.</p>
                </div>
              </div>
                                      <hr>
                   <div class="row">

                       <div class="col-sm-7">
                           <p>공급가격: <b>300,000원</b> + 부가세(VAT) : <b>30,000원</b></p>
                       </div>
                       <div class="col-sm-5 text-right">
                           <p>인쇄비 : <b class="text-danger " style="font-size:20px;">330,000원</b></p>
                       </div>

                   </div>
                      <div class="row">
                           <div class="col-sm-9 text-danger mb-2">작업비, 배송비는 미포함 된 금액입니다.</div>
                    <div class="col-sm-3 text-danger"><button type="button" class="btn btn-outline-dark btn-block">장바구니 담기</button></div>
                   </div>

                                      <hr>

                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div style="top: 80px; " class="position-sticky mb-2">
                <div class="sidebar-block ">
                     <nav id="components-nav" style="top: 105px;"
                 class="nav nav-pills flex-column ml-1 p-3 mb-5 text-center bg-gray-300">
                <h4 class="sidebar">장바구니</h4>
                <p></p>
                <div class="customer-sidebar card border-0">
                    <nav class="list-group customer-nav ">
                        <div class="list-group-item flex-column justify-content-between align-items-center">
                        <a href="#">
                            <span class="text-black-50" style="font-size:12px;">현수막 사방타공 <br>끈고리 3m 10장 <b>80,000원</b> </span>

                        </a>
                            <a href="#2"><button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            </a>
                        </div>
                        <div class="list-group-item flex-column justify-content-between align-items-center">
                        <a href="#">
                            <span class="text-black-50" style="font-size:12px;">현수막 사방타공 <br>끈고리 3m 10장 <b>80,000원</b> </span>

                        </a>
                            <a href="#2"><button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            </a>
                        </div>
                        <div class="list-group-item flex-column justify-content-between align-items-center">
                        <a href="#">
                            <span class="text-black-50" style="font-size:12px;">현수막 사방타공 <br>끈고리 3m 10장 <b>80,000원</b> </span>

                        </a>
                            <a href="#2"><button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            </a>
                        </div>

                        <a href="../customer-account.html"
                           class="list-group-item d-flex justify-content-between align-items-center"><b>
                            <svg class="svg-icon svg-icon-heavy mr-2">
                                <use xlink:href="#male-user-1"></use>
                            </svg>
                            인쇄비 : <b class="text-danger">180,000</b></b></a>
                        <a href="../customer-addresses.html"
                           class="list-group-item d-flex justify-content-between align-items-center"
                           style="background-color: #B9B8B8; color: #fff;"><span>
                          <svg class="svg-icon svg-icon-heavy mr-2">
                            <use xlink:href="#navigation-map-1"> </use>
                          </svg>견적서 요청</span></a><a href="../customer-login.html"
                                                   class="list-group-item d-flex justify-content-between align-items-center"
                                                   style="background-color: #E45A5A; color: #fff;"><span>
                          <svg class="svg-icon svg-icon-heavy mr-2">
                            <use xlink:href="#exit-1"> </use>
                          </svg>주문접수</span></a>
                    </nav>
                </div>
            </nav>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}