{% extends 'design/base.html'%}
{% load static %}
{% block title%}위믹스 품목{% endblock %}
{% block content%}
<!-- Hero Section-->
<section class="hero">
        <hr>
    <div class="row pr-0 m-0">
        <div class="col-xl-1 d-none d-xl-block" style="background-color: #343a40; color:white;">
            <div style="top: 60px; " class="sticky-top mb-2">
                <div class="sidebar-block ">
                    <nav class="nav nav-pills flex-column text-center">
                        <a href="{% url 'design:product' %}?item=flyer" class="nav-link mb-2"
                           style="background-color: #343a40; color:white;">전단지</a>
                        <a href="{% url 'design:product' %}?item=card" class="nav-link mb-2 text-white">명함</a>
                        <a href="{% url 'design:product' %}?item=roll" class="nav-link mb-2 text-white">현수막<br>&족자</a>
                        <a href="{% url 'design:product' %}?item=banner" class="nav-link mb-2 text-white">배너</a>
                        <a href="{% url 'design:product' %}?item=envelope" class="nav-link mb-2 text-white">봉투</a>
                        <a href="{% url 'design:product' %}?item=sticker" class="nav-link mb-2 text-white">스티커</a>
                        <a href="{% url 'design:product' %}?item=ncr2" class="nav-link mb-2 text-white">양식지</a>
                        <a href="{% url 'design:product' %}?item=ncr" class="nav-link mb-2 text-white">NCR지</a>
                        <a href="{% url 'design:product' %}?item=octopus" class="nav-link mb-2 text-white">문어발</a>
                        <a href="{% url 'design:product' %}?item=ticket" class="nav-link mb-2 text-white">상품권</a>
                        <a href="{% url 'design:product' %}?item=magnet" class="nav-link mb-2 text-white">종이자석</a>
                        <a href="{% url 'design:product' %}?item=moon" class="nav-link mb-2 text-white">문고리</a>
                        <a href="{% url 'design:product' %}?item=etc" class="nav-link mb-2 text-white">기타 인쇄</a>
                        <a href="{% url 'design:product' %}?item=advertising" class="nav-link mb-2 text-white">판촉/홍보</a>
                         <a href="{% url 'design:product' %}?item=bee" class="nav-link mb-2 text-white">(비품)</a>
                    </nav>
                </div>
            </div>
        </div>
        <div class="col-xl-9 docs-content position-relative">
            <div class="row m-0">
                <div class="card col-lg-4 mb-4 p-0">
                    <div role="alert" class="alert alert-danger m-10px">
                        <small class="card-text">※ 이미지가 아닌  <b>원본은 제공되지 않습니다</b> </small><br>
                        <small class="card-text">※ <b>화면(RGB)</b>색상과 <b>출력물(CMYK)</b>의 색상은 다릅니다.</small><br>
                        <small class="card-text">※ <b>배송 및 사용기간</b>에 대한 보장을 해드리지 못합니다.</small><br>
                    </div>
                    <div class="row m-1">
                        <div class="col-md-12">
                            <div>
                                <img class="card-img" id="size_img">
                            </div>
                            <div>
                                <img id="paper_img" class="card-img"></div>

                        </div>
                    </div>
                </div>

                <div class="col-lg-8">


    <div class="row d-none d-xl-block text-center" style="margin: 10px">
        <div class="row">
            <div class="col-md-4 card border-success bg-light text-success p-3 my-card ">
               <span class="fas fa-shopping-cart" aria-hidden="true"> 1. 품목 선택</span>
            </div>
            <div class="col-md-4 card text-secondary p-3 my-card">
                <span class="far fa-images" aria-hidden="true"> 2. 디자인 선택</span>
            </div>
            <div class="col-md-4 card  text-secondary p-3 my-card">
                <span class="fas fa-bars" aria-hidden="true"> 3. 주문 확인</span>
            </div>
        </div>
    </div>


                    <!--                    <hr style="opacity: 0.7">-->
                    <h2 class="text-dark" id="title_name">
                        {% if item %}
                        {{item}}
                        {% else %}
                        품목 정보
                        {% endif %}

                    </h2>
                    <br>
                    <div class="form-group align-content-center">
                        <label class="col-md-2 col-sm-3 p-0"><b class="text-gray-600">규격</b></label>
                        <select class="custom-select col-sm-7 product-select"
                                id="size" name="size">
                        </select>
                    </div>
                    <div class="form-group align-content-center">
                        <label class="col-md-2 col-sm-3 p-0"><b class="text-gray-600">용지</b></label>
                        <select class="custom-select col-sm-7 product-select"
                                id="paper" name="paper">

                        </select>
                    </div>
                    <div class="form-group align-content-center">
                        <label class="col-md-2 col-sm-3 p-0"><b class="text-gray-600">인쇄</b></label>
                        <select class="custom-select col-sm-7 product-select"
                                id="side" name="side">
                        </select>
                    </div>
                    <div class="form-group align-content-center">
                        <label class="col-md-2 col-sm-3 p-0"><b class="text-gray-600">수량</b></label>
                        <select class="custom-select col-sm-7 product-select"
                                id="deal" name="deal">
                        </select>
                    </div>
                    <div class="form-group align-content-center">
                        <label class="col-md-2 col-sm-3 p-0"><b class="text-gray-600">건수</b></label>
                        <select class="custom-select col-sm-7 product-select"
                                id="amount" name="amount">
                            <option value="1">1 건</option>
                            <option value="2">2 건</option>
                            <option value="3">3 건</option>
                            <option value="4">4 건</option>
                            <option value="5">5 건</option>
                            <option value="6">6 건</option>
                            <option value="7">7 건</option>
                            <option value="8">8 건</option>
                            <option value="9">9 건</option>
                            <option value="10">10 건</option>
                        </select>
                    </div>
                      {% if kind == 'octopus' %}
                    <div class="form-group align-content-center">
                        <label class="col-md-2 col-sm-3 p-0"><b class="text-gray-600">컷팅</b></label>
                         <select class="custom-select col-sm-7 product-select"
                                id="memo" name="memo">
                            <option value="5개 컷">문어발 5컷</option>
                            <option value="10개 컷">문어발 10컷</option>
                            <option value="15개 컷">문어발 15컷 (A4 , B4만 가능)</option>
                        </select>
                         </div>
                    {% elif kind == 'etc' %}
                    <div class="form-group align-content-center">
                        <label class="col-md-2 col-sm-3 p-0"><b class="text-gray-600">메모</b></label>
                        <input type="text" placeholder="품목의 옵션 사항을 입력해주세요!" class="col-md-7 text-custom" id="memo" style="border-color:#ced4da; border-width: thin; padding: 0.5rem 1.75rem 0.5rem 0.75rem;">
                    </div>
                    {% endif %}
                       <div class="form-group align-content-center text-muted">
                        <label class="col-md-2 col-sm-3 p-0"><b class="text-gray-600"></b></label>
                        <span>예상 배송비 : <i class="fas fa-truck text-muted" style="font-size: 10px;">&nbsp</i><span id="delivery_price"></span></span>
                    </div>
                    <hr>
                    <div class="row">

                        <div class="col-sm-8 text-danger mb-3">
                            <span>* 디자인 <b>작업비는 미포함</b>된 금액입니다.</span>
                            <br><span>* 작업 비용은 요청 항목에 따라 변동 될 수 있습니다</span>
                            <br><span>* <b>0원</b>은 검토 후 별도 금액을 안내드립니다.</span>
                             <br><span>* 예상 <b>배송비</b>는 변경될 수 있습니다.</span>

                        </div>
                        <div class="col-sm-4 text-right mb-3">
                            <span>인쇄비 : <b class="text-danger " style="font-size:24px;">
                                <span id="sell_price">0</span>원
                            </b></span><br>
                            <span>부가세:  <span id="sell_tax"  style="font-size:18px;">0</span> 원</span>
                            <br>
                            <span>인쇄 예상:  <span id="sell_total" style="font-size:18px;">0</span> 원</span>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-9 ">
                        </div>
                        <div class="col-sm-3 text-danger">
                               {% if user.is_anonymous %}
                             <button type="button" class="btn btn-outline-secondary btn-block" disabled="disabled">
                                 <i class="fas fa-lock"></i> 주문서에 담기</button>
                            {% else %}
                            <button type="button" class="btn btn-dark btn-block" id="add_cart">주문서에 담기</button>
                            {% endif %}
                        </div>
                    </div>

                    <hr>

                </div>
            </div>
        </div>
        <div class="col-xl-2">
            <div style="top: 80px; " class="position-sticky mb-2">
                <div class="sidebar-block ">
                    <nav id="components-nav" style="top: 105px;"
                         class="nav nav-pills flex-column ml-1 p-3 mb-5 text-center bg-gray-300">
                        <h4 class="sidebar"><br>※ 예상 주문서 ※</h4>
                        <p></p>

                        <div class="customer-sidebar card border-0">
                              {% if user.is_anonymous %}
                            <i class="fas fa-lock m-30px" style="font-size: 48px;"></i>
                            <p><b>로그인시</b> <br>기능이 활성화 됩니다.</p>
                            <div class="p-2 d-block d-md-block d-lg-none">
                                 {% include 'design/login_form_.html'%}
                            </div>

                                  <br>
                                <a href="{% url 'design:product_sample'%}" class="btn btn-danger" style="background-color: #E45A5A; color: #fff;">다음 단계 둘러보기</a>

                            {% else %}
                            <nav class="list-group customer-nav" >
                                <div id="cart_body" class="text-center">
                                    <div class="cart_empty_message" style="">
                                        <div class="col-md-auto pr-0 mb-3 p-5">
                                            <p>주문서가<br>비어 있습니다.</p>
                                        </div>
                                    </div>
                                    <div class="loading-option" style="display: none">
                                        <div class="col-md-auto pr-0 mb-3 p-5">
                                            <i class="fa fa-spinner fa-pulse fa-3x fa-fw margin-bottom text-secondary"></i>
                                            <!--                            <img src="{% static 'design/img/product/1.42.jpg'%}" class="p-0" width="115px;">-->
                                        </div>
                                    </div>
                                </div>
                          <a href="{% url 'design:product_sample'%}" class="btn btn-danger" style="background-color: #E45A5A; color: #fff;">시안 등록</a>
                            </nav>
                            {% endif %}

                        </div>
                         <span class="sample_cart_url"></span>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    /* page-loading */
    #page-loading {
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        position: fixed;
        display: table;
        background-color: #fff;
        z-index: 9999;
        text-align: center;
    }

    #page-loading i {
        vertical-align: middle;
        text-align: center;
        display: table-cell;
        font-size: 60px;
    }

</style>
{% endblock %}
{% block add_js %}
<script src="{% static 'design/js/comma.js' %}"></script>
<script>
    size_default = null;
    paper_default = null;
    side_default = null;
    deal_default = null;

    function cleanSelect(text) {
        switch (text) {
            case "size" :
                $($size, $paper, $side, $deal).text('');
                break;
            case "paper" :
                $($paper, $side, $deal).text('');
                break;
            case "side" :
                $($side, $deal).text('');
                break;
            case "deal" :
                $deal.text('');
                break;
        }
    }

    function reSelect(text_val, default_val, list_array) {

        if (list_array.indexOf(default_val) !== -1) {
            switch (text_val) {
                case "size":
                    $size.val(default_val);
                    break;
                case "paper":
                    $paper.val(default_val);
                    break;
                case "side":
                    $side.val(default_val);
                    break;
                case "deal":
                    $deal.val(default_val);
                    break;
            }
        } else {
            $("#" + text_val + " option:eq(0)").prop("selected", true);
            switch (text_val) {
                case "size":
                    size_default = $size.val();
                    break;
                case "paper":
                    paper_default = $paper.val();
                    break;
                case "side":
                    side_default = $side.val();
                    break;
                case "deal":
                    deal_default = $deal.val();
                    break;
            }
        }
    }


    function eachList(title, list) {
        switch (title) {
            case "size":
                $select_name = $size;
                break;
            case "paper":
                $select_name = $paper;
                break;
            case "side":
                $select_name = $side;
                break;
            case "deal":
                $select_name = $deal;
        }

        $.each(list, function (index, val) {
            if (val !== 'default' && val !== 'title') {
                switch (title) {
                    case "size":
                        option_name = global_data[param_item][val]['title'];
                        break;
                    case "paper":
                        option_name = global_data[param_item][size_default][val]['title'];
                        break;
                    case "side":
                        option_name = val;
                        break;
                    case "deal":
                        option_name = val;
                        break;
                }
                $select_name.append(
                    '<option value="' + val + '">' + option_name + '</option>'
                );
            }
        });
    }

    function sizeFor(size_default) {
        var size = Object.keys(global_data[param_item]);
        cleanSelect('size');
        eachList('size', size);
        reSelect('size', size_default, size);
    }

    function paperFor(size_default, paper_default) {
        var paper = Object.keys(global_data[param_item][size_default]);
        cleanSelect('paper');
        eachList('paper', paper);
        reSelect('paper', paper_default, paper);

    }

    function sideFor(size_default, paper_default, side_default) {
        var side = Object.keys(global_data[param_item][size_default][paper_default]);
        cleanSelect('side');
        eachList('side', side);
        reSelect('side', side_default, side);
    }

    function dealFor(size_default, paper_default, side_default, deal_default) {
        return new Promise(function (resolve, reject) {
            var deal = global_data[param_item][size_default][paper_default][side_default];
            cleanSelect('deal');
            eachList('deal', deal);
            reSelect('deal', deal_default, deal);
        });
    }

    function getJson(url, size) {
            $.ajaxSetup({ cache: false });
            $.getJSON(url, function (data) {
                global_data = data;
                if (size) {
                    size_default = $size.val();
                    paper_default = $paper.val();
                    side_default = $side.val();
                    deal_default = $deal.val();
                } else {
                    size_default = data[param_item]['default']['size'];
                    paper_default = data[param_item]['default']['paper'];
                    side_default = data[param_item]['default']['side'];
                    deal_default = data[param_item]['default']['deal'];
                }
                sizeFor(size_default);
                paperFor(size_default, paper_default);
                sideFor(size_default, paper_default, side_default);
                dealFor(size_default, paper_default, side_default, deal_default).then(callre());

            });

    }

    $(document).ready(function () {
        var browse = navigator.userAgent.toLowerCase();
        if ((browse.indexOf('trident') !== -1) || (browse.indexOf("msie") !== -1)) {
            $.urlParam = function (name) {
                var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
                if (results == null) {
                    return null;
                } else {
                    return decodeURI(results[1]) || 0;
                }
            };
            param_item = $.urlParam('item');
        } else {
            var searchParams = new URLSearchParams(window.location.search);
            param_item = searchParams.get('item');
            param_sector = searchParams.get('sector');
        }

        $size = $('#size');
        $paper = $('#paper');
        $side = $('#side');
        $deal = $('#deal');
        $amount = $('#amount');
        url = '/assets/design/json/v-0-0-0/' + param_item + '.json';
        var size_default = null;
        getJson(url, size_default);

    });


    $('.product-select').change(function () {
        size_default = $size.val();
        paper_default = $paper.val();
        side_default = $side.val();
        deal_default = $deal.val();
        now_id = $(this).attr('id');
        switch (now_id) {
            case "size":
                $paper.slideUp();
                $side.slideUp();
                $deal.slideUp();
                getJson(url, size_default, paper_default, side_default, deal_default);
                $amount.val('1');
                $paper.slideDown();
                $side.slideDown();
                $deal.slideDown();
                break;
            case "paper":
                $side.slideUp();
                $deal.slideUp();
                paperFor(size_default, paper_default);
                sideFor(size_default, paper_default, side_default);
                dealFor(size_default, paper_default, side_default, deal_default);
                $amount.val('1');
                callre();
                $side.slideDown();
                $deal.slideDown();
                break;
            case "side":
                $deal.slideUp();
                sideFor(size_default, paper_default, side_default);
                dealFor(size_default, paper_default, side_default, deal_default);
                $amount.val('1');
                callre();
                $deal.slideDown();
                break;
            case "deal":
                dealFor(size_default, paper_default, side_default, deal_default);
                $amount.val('1');
                callre();
                break;
             case "amount":
                callre();
                break;

        }
    });


    function callre() {
        getPrice();
    }

    function getPrice() {
        var $sell_price = $('#sell_price');
        var $sell_tax = $('#sell_tax');
        var $sell_total = $('#sell_total');
        var $size_img = $('#size_img');
        var $paper_img = $('#paper_img');
        var amount = $('#amount').val();
        var $delivery_price = $('#delivery_price');
        $.ajax({
        type:"POST",
        url:"get_price/",
        data : {
            'size' : size_default,
            'paper' : paper_default,
            'side' : side_default,
            'deal' : deal_default,
            'amount':amount
        },
        dataType : "json",
        success: function(data){
            var price = parseFloat(data.sell_price*amount);
            var tax = price/10;
            var total = (price/10) + price;
            if(data.delivery !== -1){
                var delivery = data.delivery;
                $delivery_price.text(comma(delivery));
            }
            $sell_price.text(comma(price));
            $sell_tax.text(comma(tax));
            $sell_total.text(comma(total));

            $size_img.attr('src',data.size_img);
            $paper_img.attr('src',data.paper_img);

        },
        error: function(xhr, status, error) {

        }
    });
    }

    $(document).ready(function (){
        var sample_url = $.cookie('sample_cart_url');
        var $sample_cart_url = $('.sample_cart_url');

        if(sample_url){
            $sample_cart_url.html(
                '<img class="m-2" width="70%" style="opacity: 0.8;" src="'+sample_url+'"><br>' +
                '<span class="badge badge-danger" id="sample_cart_delete" style="opacity: 0.8;">삭제 X</span>'
            )
        }
        var $sample_cart_delete = $('#sample_cart_delete');
        $sample_cart_delete.click(function () {
            var bool = confirm('정말 삭제하시겠습니까?');
            if(bool){
                  $.removeCookie('sample_cart_url', { path: '/' });
                  $.removeCookie('sample_cart_name', { path: '/' });
                $(this).parent().remove();
            }
            });
    });

</script>



 {% if user.is_authenticated %}
<script src="{% static 'design/js/cart.js' %}"></script>
{% endif %}

{% endblock %}