{% extends 'design/base.html'%}
{% load static %}
{% load design_tags %}
{% block title%}위믹스 품목{% endblock %}
{% block content%}
<!-- Hero Section-->
<section class="hero">

        <hr>

    <div class="row pr-0 m-0">
        <div class="col-lg-1" >

        </div>
        <div class="col-lg-9 col-xl-9 docs-content position-relative">
            <div class="row m-0">
                <div class="card col-lg-4 mb-4 p-0">
                    <div class="row m-1">
                        <div class="col-md-12">
                            <div class="row">
                                <button type="button" class="btn btn-info col-md-6" ><i class="fas fa-lock" ></i>파일로 접수</button>
                                <button type="button" class="btn btn-secondary col-md-6">지난시안</button>
                            </div>
                        </div>
<!--                        <div class="col-12 mt-3 mb-3">-->
<!--                            {% sample sector_slug as samples %}-->
<!--                            <h4>샘플리스트 {% for z in samples %}<p>{{z}}</p>{% endfor %}</h4>-->
<!--                        </div>-->
                        <div class="col-12 mt-3 mb-3">
                                <input type="search" placeholder="Search" aria-label="Search"
                                       class="form-control mr-sm-2">

                        </div>
                        <div class="col-12 mt-3 mb-3">
                            <button class="btn btn-link" style="background-color: red"></button>
                            <button class="btn btn-link" style="background-color: orange"></button>
                            <button class="btn btn-link" style="background-color: yellow"></button>
                            <button class="btn btn-link" style="background-color: forestgreen"></button>
                            <button class="btn btn-link" style="background-color: steelblue"></button>
                            <button class="btn btn-link" style="background-color: mediumpurple"></button>
                            <button class="btn btn-link border-dark" style="background-color: white"></button>
                            <button class="btn btn-link" style="background-color: black"></button>

                        </div>
                        <div class="col-12 mt-3 mb-3">
                        <div class="form-group align-content-center">
                      <select class="custom-select col-12">
                          {% for i in form.sector %}
                          {% if i %}
                         {{i}}
                          {% endif %}
                          {% endfor %}
                      </select>
                    </div>
                        </div>
                        <!-- product-->
                        {% for i in sample_list %}
                        <div class="col-6 ">
                            <div class="product">
                                <div class="product-image">
                                    <img src="/media/{{ i.images }}"
                                         alt="product" class="img-fluid">
                                    <div class="product-hover-overlay">
                                        <a href="detail.html"class="product-hover-overlay-link"></a>
                                        <div class="product-hover-overlay-buttons">
                                            <a href="detail.html" class="btn btn-dark btn-buy">
                                                <span class="btn-buy-label ml-2">선택</span>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                                <div class="py-2">
                                    <h3 class="h6 mb-1 text-center">{{ i.name }}</h3>
                                </div>
                            </div>
                        </div>
                        <!-- /product-->
                        {% endfor %}

                    </div>
                         <nav aria-label="page navigation" class="d-flex justify-content-center mb-5 ">
                            <ul class="pagination">
                              <li class="page-item active"><a href="#" class="page-link">1</a></li>
                              <li class="page-item"><a href="#" class="page-link">2</a></li>
                              <li class="page-item"><a href="#" class="page-link">3 </a></li>
                              <li class="page-item"><a href="#" class="page-link">4</a></li>
                              <li class="page-item"><a href="#" class="page-link">5 </a></li>
                            </ul>
                          </nav>
                </div>

                <div class="col-lg-8">
                        <div class="row d-none d-xl-block text-center" style="margin: 10px">
                            <div class="row">
                                <div class="col-md-4 card border-success bg-light text-success p-3 my-card ">
                                    <span class="fas fa-shopping-cart" aria-hidden="true"> 1. 품목 선택</span></div>
                                <div class="col-md-4 card border-success bg-light text-success p-3 my-card">
                                    <span class="far fa-images" aria-hidden="true"> 2. 디자인 선택</span>
                                </div>
                                <div class="col-md-4 card  text-secondary p-3 my-card">
                                    <span class="fas fa-bars" aria-hidden="true"> 3. 주문 확인</span>
                                </div>
                            </div>
                        </div>
                    <div>
                    <div class="col-xl-12 pt-2">
                        <h5 class="text-black-50">품목에 시안을 연결하시고 수정사항을 입력해주세요</h5>
                    </div>
                    <br>
                     <div class="col-xl-12">
                         <button type="button" class="btn btn-dark">전단지 a4 앞</button>
                         <button type="button" class="btn btn-outline-dark">전단지 a4 뒤</button>
                         <button type="button" class="btn btn-outline-dark">배너</button>
                         <button type="button" class="btn btn-outline-dark">명함 앞</button>
                    </div>
                     <br>
                      <div class="col-xl-12 mb-5 text-center">

                          <div>
                            <img src="/media/sample/전단지/2019/2.12.jpg" alt="product" class="img-fluid p-xl-5" width="100%">
                          </div>
                          <div class="p-3">
                               <button type="button" class="btn btn-warning">< 다른 시안 선택</button>
                               <a  href="{% url 'design:product_confirm'%}"><button type="button" class="btn btn-dark"> 주문 진행 > </button></a>
                          <p class="text-danger">입력하신 정보는 초기화 됩니다.</p>
                          </div>

                    </div>


                </div>
            </div>
        </div>
        <div class="col-lg-2">
<!--            <div style="top: 80px; " class="position-sticky mb-2">-->
<!--                <div class="sidebar-block ">-->
<!--                     <nav id="components-nav" style="top: 105px;"-->
<!--                 class="nav nav-pills flex-column ml-1 p-3 mb-5 text-center bg-gray-300">-->
<!--                <h4 class="sidebar">시안 등록록</h4>-->
<!--                <p></p>-->
<!--                <div class="customer-sidebar card border-0">-->
<!--                    <nav class="list-group customer-nav ">-->
<!--                        <div class="list-group-item flex-column justify-content-between align-items-center">-->
<!--                        <a href="#">-->
<!--                            <span class="text-black-50" style="font-size:12px;">현수막 사방타공 <br>끈고리 3m 10장 <b>80,000원</b> </span>-->

<!--                        </a>-->
<!--                            <a href="#2"><button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                        <div class="list-group-item flex-column justify-content-between align-items-center">-->
<!--                        <a href="#">-->
<!--                            <span class="text-black-50" style="font-size:12px;">현수막 사방타공 <br>끈고리 3m 10장 <b>80,000원</b> </span>-->

<!--                        </a>-->
<!--                            <a href="#2"><button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                        <div class="list-group-item flex-column justify-content-between align-items-center">-->
<!--                        <a href="#">-->
<!--                            <span class="text-black-50" style="font-size:12px;">현수막 사방타공 <br>끈고리 3m 10장 <b>80,000원</b> </span>-->

<!--                        </a>-->
<!--                            <a href="#2"><button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>-->
<!--                            </a>-->
<!--                        </div>-->

<!--                        <a href="../customer-account.html"-->
<!--                           class="list-group-item d-flex justify-content-between align-items-center"><b>-->
<!--                            <svg class="svg-icon svg-icon-heavy mr-2">-->
<!--                                <use xlink:href="#male-user-1"></use>-->
<!--                            </svg>-->
<!--                            인쇄비 : <b class="text-danger">180,000</b></b></a>-->
<!--                        <a href="../customer-addresses.html"-->
<!--                           class="list-group-item d-flex justify-content-between align-items-center"-->
<!--                           style="background-color: #B9B8B8; color: #fff;"><span>-->
<!--                          <svg class="svg-icon svg-icon-heavy mr-2">-->
<!--                            <use xlink:href="#navigation-map-1"> </use>-->
<!--                          </svg>견적서 요청</span></a><a href="{% url 'design:product_confirm' %}"-->
<!--                                                   class="list-group-item d-flex justify-content-between align-items-center"-->
<!--                                                   style="background-color: #E45A5A; color: #fff;"><span>-->
<!--                          <svg class="svg-icon svg-icon-heavy mr-2">-->
<!--                            <use xlink:href="#exit-1"> </use>-->
<!--                          </svg>최종 주문확인</span></a>-->
<!--                    </nav>-->
<!--                </div>-->
<!--            </nav>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </div>
</section>

<style>
    /* page-loading */
#page-loading {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    display: table;
    background-color: #fff;
    z-index: 9999;
    text-align: center;
}

#page-loading i{
    vertical-align: middle;
    text-align: center;
    display: table-cell;
    font-size: 60px;
}

</style>
<script>
    size_default = null;
    paper_default = null;
    side_default = null;
    deal_default = null;

    function cleanSelect(text) {
        switch (text) {
            case "size" :$($size, $paper, $side, $deal).text('');break;
            case "paper" :$($paper, $side, $deal).text(''); break;
            case "side" :$($side, $deal).text('');break;
            case "deal" :$deal.text('');break;
        }
    }
    function reSelect(text_val, default_val, list_array) {

        if (list_array.indexOf(default_val) !== -1) {
            switch (text_val) {
                case "size":$size.val(default_val);break;
                case "paper":$paper.val(default_val); break;
                case "side":$side.val(default_val);break;
                case "deal":$deal.val(default_val);break;
            }
        } else {
                $("#"+text_val+ " option:eq(0)").prop("selected", true);
                switch (text_val) {
                case "size": size_default = $size.val();break;
                case "paper": paper_default = $paper.val(); break;
                case "side": side_default = $side.val();break;
                case "deal": deal_default = $deal.val();break;
            }
        }
    }

    function eachList(title, list) {
        switch (title) {
                case "size":$select_name = $size; break;
                case "paper": $select_name = $paper; break;
                case "side":$select_name = $side;break;
                case "deal":$select_name = $deal;
            }

        $.each(list, function (index, val) {
            if (val !== 'default' && val !== 'title') {
                switch (title) {
                    case "size":option_name = global_data[param_item][val]['title'];break;
                    case "paper":option_name = global_data[param_item][size_default][val]['title'];break;
                    case "side":option_name = val;break;
                    case "deal":option_name = val;break;
                }
                $select_name.append(
                    '<option value="' + val + '">' + option_name + '</option>'
                );
            }
        });
    }

    function sizeFor(size_default) {
        var size = Object.keys(global_data[param_item]);
        cleanSelect('size');
        eachList('size', size);
        reSelect('size',size_default, size);
    }

    function paperFor(size_default, paper_default) {
        var paper = Object.keys(global_data[param_item][size_default]);
        cleanSelect('paper');
        eachList('paper', paper);
        reSelect('paper',paper_default, paper);

    }

    function sideFor(size_default, paper_default, side_default) {
        var side = Object.keys(global_data[param_item][size_default][paper_default]);
        cleanSelect('side');
        eachList('side', side);
        reSelect('side', side_default, side);
    }

    function dealFor(size_default, paper_default, side_default,deal_default ) {
        var deal = global_data[param_item][size_default][paper_default][side_default];
        cleanSelect('deal');
        eachList('deal', deal);
        reSelect('deal', deal_default, deal);
    }

 function getJson(url,size){
       $.getJSON(url, function (data) {
           global_data = data;
           if (size) {
               size_default = $size.val();
               paper_default = $paper.val();
               side_default = $side.val();
               deal_default = $deal.val();
           }else{
                 size_default = data[param_item]['default']['size'];
                 paper_default= data[param_item]['default']['paper'];
                 side_default= data[param_item]['default']['side'];
                 deal_default= data[param_item]['default']['deal'];
           }
           sizeFor(size_default);
           paperFor(size_default, paper_default);
           sideFor(size_default, paper_default, side_default);
           dealFor(size_default, paper_default, side_default,deal_default );
       });
    }


    $(document).ready(function() {
        var browse = navigator.userAgent.toLowerCase();
         if((browse.indexOf('trident') !== -1) || (browse.indexOf("msie") !== -1)){
             $.urlParam = function (name) {
                 var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
                 if (results == null) {
                     return null;
                 } else {
                     return decodeURI(results[1]) || 0;
                 }
             };
             param_item = $.urlParam('item');
        }else{
             var searchParams = new URLSearchParams(window.location.search);
            param_item = searchParams.get('item');
            param_sector = searchParams.get('sector');
         }

        $size = $('#size');
        $paper = $('#paper');
        $side = $('#side');
        $deal = $('#deal');
        url = '/assets/design/json/' + param_item + '.json';
        var size_default = null;
        getJson(url,size_default);
    });


    $('.product-select').change(function () {
        size_default = $size.val();
        paper_default = $paper.val();
        side_default = $side.val();
        deal_default = $deal.val();
        now_id = $(this).attr('id');
        switch(now_id){
            case "size":
            $paper.slideUp();$side.slideUp();$deal.slideUp();
            getJson(url, size_default, paper_default, side_default, deal_default);
            $paper.slideDown();$side.slideDown();$deal.slideDown();
            break;
            case "paper":
                 $side.slideUp();$deal.slideUp();
            paperFor(size_default, paper_default);
            sideFor(size_default, paper_default, side_default);
            dealFor(size_default, paper_default, side_default,deal_default );
            $side.slideDown();$deal.slideDown();
             break;
              case "side":
                   $deal.slideUp();
            sideFor(size_default, paper_default, side_default);
            dealFor(size_default, paper_default, side_default,deal_default);
            $deal.slideDown();
             break;
              case "deal":
                  dealFor(size_default, paper_default, side_default,deal_default );
             break;
        }
        var d_size_default = $size.val();
        var d_paper_default = $paper.val();
        var d_side_default = $side.val();
        var d_deal_default = $deal.val();
        console.log('data :',d_size_default, d_paper_default, d_side_default,d_deal_default )
    });

</script>
{% endblock %}