{% extends 'design/base.html'%}
{% load static %}
{% block title%}위믹스 품목{% endblock %}
{% block styles %}
<style>
    /* The customcheck */
    .customcheck {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 20px;
        cursor: pointer;
        font-size: 16px;
        color: #FF6F61;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    /* Hide the browser's default checkbox */
    .customcheck input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
        border-radius: 5px;
    }

    /* On mouse-over, add a grey background color */
    .customcheck:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .customcheck input:checked ~ .checkmark {
        background-color: #02cf32;
        border-radius: 5px;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .customcheck input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .customcheck .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
</style>
{% endblock%}
{% block content%}

<!-- Hero Section-->
<section class="hero">

    <hr>

    <div class="row pr-0 m-0">
        <div class="col-lg-1">

        </div>
        <div class="col-lg-9 col-xl-9 docs-content position-relative">
            <div class="row m-0">
                <div class="card col-lg-4 mb-4 p-0">
                    <div class="row m-1">
                        <div class="col-12 mt-3 mb-3">
                             <h3 class="text-muted text-center">- 정보를 확인해주세요 -</h3>
                            <form method="post" autocomplete="off" id="confirm_info_form">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            <label for="{{form.company.auto_id}}" class="form-label">상호명:</label>
                                              {{form.company}}
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label class="form-label">배송지:</label>
                                           <button class="btn btn-outline-success btn-block" onclick="sample4_execDaumPostcode(); return false; ">
                            <i class="fas fa-map-marker-alt"></i>변경</button>
                                        </div>


                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="{{form.address.auto_id}}" class="form-label">도로명 주소:</label>
                                              {{form.address}}
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="{{form.address2.auto_id}}" class="form-label">지번 주소:</label>
                                              {{form.address2}}
                                            <span id="guide" style="color:#999;display:none"></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="{{form.address_detail.auto_id}}" class="form-label">상세주소:</label>
                                            {{form.address_detail}}
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="{{form.address_option.auto_id}}" class="form-label">주소참고:</label>
                                            {{form.address_option}}
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="{{form.bill_select.auto_id}}" class="form-label">영수증 처리:</label>
                                            {{form.bill_select}}
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="{{form.code.auto_id}}" class="form-label">사업자번호:</label>
                                            {{form.code}}
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="{{form.phone.auto_id}}" class="form-label">핸드폰:</label>
                                            {{form.phone}}
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-lg-8">
                    <div class="row d-none d-xl-block text-center" style="margin: 10px">
                        <div class="row">
                            <div class="col-md-4 card border-success bg-light text-success p-3 my-card ">
                                <span class="fas fa-shopping-cart" aria-hidden="true">
                                    <a class="text-success" href="{% url 'design:product'%}?item=card"> 1. 품목 선택</a>
                                </span>
                            </div>
                            <div class="col-md-4 card border-success bg-light text-success p-3 my-card">
                              <span class="far fa-images" aria-hidden="true">
                                  <a class="text-success" href="{% url 'design:product_sample'%}"> 2. 디자인 선택</a>
                              </span>
                            </div>
                            <div class="col-md-4 card border-success text-success p-3 my-card">
                                <span class="fas fa-bars" aria-hidden="true"> 3. 주문 확인</span>
                            </div>
                        </div>
                    </div>
                    <div class="row align-content-center loading-option" style="display: none;">
                        <div class="col-md-auto pr-0 mb-3 ">
                            <i class="fa fa-spinner fa-pulse fa-3x fa-fw margin-bottom"></i>
                            <!--                            <img src="{% static 'design/img/product/1.42.jpg'%}" class="p-0" width="115px;">-->
                        </div>
                    </div>
                    <!--                    <hr style="opacity: 0.7">-->
                    <div class="container p-b-10">
                        <h4 class="m-30px" id="box_title" style="color: #FF6F61;"><i class="fas fa-exclamation-circle"></i>
                            이용방법을 모두 확인하시면 주문 버튼이 활성화 됩니다.</h4>
                        <label class="customcheck">시안 확정 후 진행된 인쇄물의 오탈자는 재인쇄&환불이 불가하오니 꼼꼼히 확인
                            부탁드립니다.
                            <input type="checkbox" name="customcheck">
                            <span class="checkmark"></span>
                        </label>
                        <label class="customcheck" >주문 이후 취소 하시는 경우 작업 상황에 따라 비용이 발생될 수 있습니다.
                            <input type="checkbox" name="customcheck">
                            <span class="checkmark"></span>
                        </label>
                        <label class="customcheck">요청사항에 따라 작업 비용은 변동될 수 있습니다.
                            <input type="checkbox" name="customcheck">
                            <span class="checkmark"></span>
                        </label>
                        <label class="customcheck">이미지가 아닌 원본 소스 구매를 원하시는 경우 별도 계약이 필요합니다.
                            <input type="checkbox" name="customcheck">
                            <span class="checkmark"></span>
                        </label>
                        <label class="customcheck" >불량＆배송 지연&재인쇄 등의 사정으로 아쉽게도 안내 드린 날보다 기간이 늘어날 수
                            있습니다.<br>
                            기한을 보장해 드리기 어려운점 양해 말씀드리며 사용일보다 여유있는 주문을 부탁드립니다.
                            <input type="checkbox" name="customcheck">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    {%if messages%}
                    {% for message in messages %}
                    <div role="alert" class="alert alert-danger"> {{ message }}</div>
                    {% endfor %}
                    {% endif %}

               </div>
            </div>
        </div>
        <div class="col-lg-2">
             <div style="top: 80px; " class="position-sticky mb-2">
                <div class="sidebar-block ">
                    <nav id="components-nav" style="top: 105px;"
                         class="nav nav-pills flex-column ml-1 p-3 mb-5 text-center bg-gray-300">
                        <h4 class="sidebar"><br>※ 예상 주문서 ※</h4>
                        <p></p>

                        <div class="customer-sidebar card border-0">
                              {% if user.is_anonymous %}
                            <i class="fas fa-lock m-30px" style="font-size: 48px;"></i>
                            <p><b>로그인시</b> <br>기능이 활성화 됩니다.</p>
                            <div class="p-2 d-block d-md-block d-lg-none">
                                 {% include 'design/login_form_.html'%}
                            </div>

                            {% else %}
                            <nav class="list-group customer-nav" >
                                <div id="cart_body" class="text-center">
                                    <div class="cart_empty_message" style="">
                                        <div class="col-md-auto pr-0 mb-3 p-5">
                                            <p>주문서가<br>비어 있습니다.</p>
                                        </div>
                                    </div>
                                    <div class="loading-option" style="display: none">
                                        <div class="col-md-auto pr-0 mb-3 p-5">
                                            <i class="fa fa-spinner fa-pulse fa-3x fa-fw margin-bottom text-secondary"></i>
                                        </div>
                                    </div>
                                </div>

                                                        {% if user.is_authenticated %}
                        <button id='next_button' class="btn btn-danger" disabled="disabled" style="background-color: #E45A5A; color: #fff;">주문하기</button>
                        {% else %}
                        <button class="btn btn-danger" disabled="disabled" style="background-color: #E45A5A; color: #fff;">로그인 후 이용하실 수 있습니다.<i class="fa fa-chevron-right"></i></button>
                        {% endif %}
                            </nav>
                            {% endif %}

                        </div>
                         <span class="sample_cart_url"></span>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="{% static 'design/js/daummap.js'%}"></script>

<script>

    $(document).ready(function () {
        var $confirm_info_form = $('#confirm_info_form');
        $("input:checkbox[name='customcheck']").click(function () {
            var bool = $(this).is(":checked");
            var $this_parents = $(this).parent();
            if (bool) {
                $this_parents.css('color', '#02cf32');
            } else {
                $this_parents.css('color', '#FF6F61');
            }
            var all_box = $("input:checkbox[name='customcheck']").length;
            var checked_box = $("input:checkbox[name='customcheck']:checked").length;
            var $next_button = $('#next_button');
            if (all_box === checked_box) {
                $next_button.prop("disabled", false);
            } else {
                $next_button.prop("disabled", true);
            }
        });

        $('#next_button').click( function() {
            var bool = $('#id_address').val();
            if (bool){
                $('#confirm_info_form').submit();
            }else{
                alert('주소를 입력해주세요');
            }

        });
    });
</script>

<script src="{% static 'design/js/comma.js' %}"></script>
 {% if user.is_authenticated %}
<script src="{% static 'design/js/cart.js' %}"></script>
{% endif %}

{% endblock %}