{% extends 'design/base.html'%}
{% load static %}
{% load design_tags %}
{% block title%}위믹스 품목{% endblock %}
{% block styles %}
<style>
    .gal {
        -webkit-column-count: 3; /* Chrome, Safari, Opera */
        -moz-column-count: 3; /* Firefox */
        column-count: 3;
    }

    .gal img {
        width: 100%;
    }

    @media (max-width: 500px) {
        .gal {
            -webkit-column-count: 1; /* Chrome, Safari, Opera */
            -moz-column-count: 1; /* Firefox */
            column-count: 1;
        }
    }


    /*search box css start here*/
    .search-sec {
        padding: 0.5rem;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.8);
    }

    .search-slt {
        display: block;
        width: 100%;
        font-size: 0.875rem;
        line-height: 1.5;
        color: #55595c;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        height: calc(3rem + 2px) !important;
        border-radius: 0;
    }

    .wrn-btn {
        width: 100%;
        font-size: 16px;
        font-weight: 400;
        text-transform: capitalize;
        height: calc(3rem + 2px) !important;
        border-radius: 0;
    }
</style>
{% endblock%}
{% block content%}


<section class="position-relative dark-overlay py-3 py-lg-5">
    <img src="{% static 'design/img/photo/bg-masthead.jpg' %}" alt="" class="bg-image" style="opacity: 0.8;">

      <div class="container overlay-content hero hero-page p-5">
         <form novalidate="novalidate" autocomplete="off">
                    <div class="row search-sec">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                    <select class="form-control search-slt" name="sector_category">
                                        <option value="">업종</option>
                                        <option value="피트니스">피트니스</option>
                                        <option value="요가/필라테스">요가/필라테스</option>
                                        <option value="스포츠/체육관">스포츠/체육관</option>
                                        <option value="뷰티/미용">뷰티/미용</option>
                                        <option value="분양/건설">분양/건설</option>
                                        <option value="카페/빵집">카페/빵집</option>
                                        <option value="쇼핑/마트">쇼핑/마트</option>
                                        <option value="자동차">자동차</option>
                                        <option value="병원">병원</option>
                                        <option value="통신/IT">통신/IT</option>
                                        <option value="교회/종교">교회/종교</option>
                                        <option value="학원/교육">학원/교육</option>
                                        <option value="통신/IT">식당/음식점</option>
                                    </select>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                    <select class="form-control search-slt" name="prodcut_category">
                                        <option value="">품목</option>
                                            <option value="전단지/족자">전단지/족자</option>
                                            <option value="현수막">현수막</option>
                                            <option value="배너">배너</option>
                                            <option value="명함">명함</option>
                                            <option value="스티커">스티커</option>
                                            <option value="봉투">봉투</option>
                                            <option value="NCR/양식지">NCR/양식지</option>
                                            <option value="카다로그/리플릿">카다로그/리플릿</option>
                                            <option value="상품권/복권">상품권/복권</option>
                                            <option value="문어발">문어발</option>
                                            <option value="명찰/사원증">명찰/사원증</option>
                                            <option value="종이족자">종이족자</option>
                                            <option value="후가공">후가공</option>
                                            <option value="기타 디자인">기타 디자인</option>
                                            <option value="에어탑">에어탑</option>
                                    </select>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                    <input type="text" class="form-control search-slt" name="q" value="{{q}}" placeholder="검색어">
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                    <button type="submit" class="btn btn-dark wrn-btn"><i class="fas fa-search"></i>
                                        Search
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
      </div>
    </section>


<div class="container">
      <div class="row">
        <!-- Grid -->
        <div class="products-grid col-xl-12 text-center">
            <hr>
            {% if sample_list%}
          <div class="card-columns product-columns">
            <!-- product masonry-->
               {% for i in sample_list %}
              <div class="product card border-0">
                  <div class="">
                      <img src="/media/{{i.images}}" alt="White Tee" class="img-fluid shadow-sm m-b-15" style="max-height: 450px;">
                      <div class="card-body text-center shadow">
                              <a class="btn btn-outline-dark sample_cart"
                                 role="button" data-url="/media/{{i.images}}" data-name="{{i.name}}" href="{% url 'design:product'%}?item=card" >


                           <i class="fas fa-shopping-cart" ></i>
                                  {{i.name}} 담기
                              </a>
                      </div>
                  </div>
              </div>
              {% endfor %}
            <!-- /product masonry-->
              {% else %}
                        <div align="center">
                            <h1 class="text-muted">검색 된 결과가 없습니다.</h1>
                        </div>

            <object id="svgObject" type="image/svg+xml" data="{% static 'design/img/svg/empty.svg' %}" width="100%">
                검색 내용이 없습니다. 새로운 검색어를 입력해주세요
                <br>현재 브라우저는 iframe을 지원하지 않습니다.</object>
              <script>
                  window.onload = function () {
                      var a = document.getElementById("svgObject");
                      var svgDoc = a.contentDocument;
                      var svgItem = svgDoc.getElementById("put_tag");
                      svgItem.textContent = 'hi';
                  };
              </script>
              {% endif %}
          </div>

            <!-- bootstrap style을 적용한다. -->
            {% if is_paginated %}
            <nav aria-label="page navigation" class="d-flex justify-content-center mb-5 mt-3">
                <ul class="pagination">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a href="?page={{ page_obj.previous_page_number }}{% if data_search_form.q.value %}&q={{ data_search_form.q.value }}{% endif %}"
                        class="page-link">
                            <span>이전</span>
                        </a>
                    </li>
                    {% else %}
                    <li class="disabled">
                        <a href="#" class="page-link">
                            <span><strike>시작</strike></span>
                        </a>
                    </li>
                    {% endif %}

                    {% for page in page_range %}
                    <li class="page-item {% if page == page_obj.number %}active{% endif %}">
                        <a href="?page={{ page }}{% if data_search_form.q.value %}&q={{ data_search_form.q.value }}{% endif %}"
                        class="page-link">
                            {{ page }}</a>
                    </li>
                    {% endfor %}

                    {% if page_obj.has_next %}
                    <li>
                        <a href="?page={{ page_obj.next_page_number }}{% if data_search_form.q.value %}&q={{ data_search_form.q.value }}{% endif %}"
                        class="page-link">
                            <span>다음</span>
                        </a>
                    </li>
                    {% else %}
                      <li {% if not page_obj.has_next %}class="disabled"{% endif %}>
                        <a href="#" class="page-link">
                            <span><strike>끝</strike></span>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}

        </div>
        <!-- / Grid End-->
      </div>
    </div>


<script>
    $(document).ready(function () {
        $('.sample_cart').click(function () {
            var url = $(this).data('url');
            var name = $(this).data('name');
             $.cookie('sample_cart_url' , url, { path : '/' });
             $.cookie('sample_cart_name' , name, { path : '/' });
        })
    });

</script>

{% endblock %}