<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% for i in profile %}
<h1>주문 이미지</h1>
<p>주문자: {{i.order_list.order_info.profile.user}} ////  {{i.order_list.order_info.profile.company_keyword}} </p>
<p>담당자: {{i.order_list.order_info.employees}} </p>
<p>품목: {{i.order_list.name}} </p>
<p>오더리스트: {{i.order_list.id}} </p>
<p>오더인포: {{i.order_list.order_info.id}} </p>
<p>오더메모: {{i.id}} </p>


{% endfor %}
{% for i in profile %}
<img src="{{ i.order_img.url }}" alt="" width="100px;">
{% endfor %}
</body>
</html>