{% extends 'managing/base.html'%}
{% load static %}
{% load humanize %}
{% block title %}요청 관리{% endblock%}
{% block content%}
<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <a href="{% url 'managing:ask' %}">
                <h4 class="page-title">요청 관리</h4>
            </a>
        </div>
    </div>
</div>

{% if messages %}
{% for message in messages %}
<div class="alert alert-icon alert-success alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
    <i class="mdi mdi-check-all"></i>
    <strong>{{ message }}</strong>
</div>
{% endfor %}

{% endif %}

<!-- end page title end breadcrumb -->
<div class="card-box">
    <div class="row">
        <div class="col-sm-6">
            <form role="form" method="GET">
                <div class="form-group search-box">
                    {{ data_search_form.q }}
                    <button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
                </div>
            </form>
        </div>
        <div class="col-sm-6">
            <a href="{% url 'managing:ask_create' %}">
                <button class="btn btn-orange btn-rounded btn-md waves-effect waves-light m-b-30">요청 등록
                </button>
            </a>
        </div>
    </div>
    <ul class="nav nav-tabs tabs-bordered">
        <li class="active">
            <a href="#home-b1" data-toggle="tab" aria-expanded="true">
                <span class="visible-xs"><i class="fa fa-home"></i></span>
                <span class="hidden-xs">요청</span>
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <!-- 판매처  -->
        <div class="tab-pane active" id="home-b1">
            <div class="table-responsive">
                <div class="table-responsive">
                    <table class="table table-hover mails m-0 table table-actions-bar">
                        <thead>
                        <tr>
                            <th>일자</th>
                            <th>종류</th>
                            <th>내용</th>
                            <th>요청/응답</th>
                            <th>노출/수정</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for i in ask_list %}
                        <tr
                        {% if i.ask_finish%}
                        style="background-color:#d3d3d4"
                        {% endif %}
                        >
                            <td>
                                {{ i.created }}
                            </td>
                            <td>
                                {{ i.get_ask_part_display }}
                            </td>
                            <td>
                                {{ i.ask_what|linebreaksbr }}
                            </td>
                            <td>
                                {{ i.ask_from }}님이  {{ i.ask_to.user.username }}님에게 요청한 내용입니다.
                            </td>
                            <td>
                                {% if i.ask_finish %}
                                <a href="{% url 'managing:ask_update' i.pk %}" class="table-action-btn h2">
                                    <i class="mdi mdi-pencil-box-outline text-teal"></i></a>
                                {% else %}
                                <a href="{% url 'managing:ask_update' i.pk %}" class="table-action-btn h2">
                                    <i class="mdi mdi-pencil-box-outline text-success"></i></a>
                                {% endif %}

                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div> <!-- end table responsive -->
            <div class="row m-t-30">
                <div class="text-center m-t-30">

                    {% if not ask_list %}
                    <h3>검색 된 데이터가 없습니다.</h3>
                    {% endif %}

                    {% if is_paginated %}
                    <nav>
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                            <li>
                                <a href="?page={{ page_obj.previous_page_number }}{% if data_search_form.q.value %}&q={{ data_search_form.q.value }}{% endif %}">
                                    <span>이전</span>
                                </a>
                            </li>
                            {% else %}
                            <li class="disabled">
                                <a href="#">
                                    <span><strike>시작</strike></span>
                                </a>
                            </li>
                            {% endif %}

                            {% for page in page_range %}
                            <li {% if page == page_obj.number %} class="active" {% endif %}>
                                <a href="?page={{ page }}{% if data_search_form.q.value %}&q={{ data_search_form.q.value }}{% endif %}">
                                    {{ page }}</a>
                            </li>
                            {% endfor %}

                            {% if page_obj.has_next %}
                            <li>
                                <a href="?page={{ page_obj.next_page_number }}{% if data_search_form.q.value %}&q={{ data_search_form.q.value }}{% endif %}">
                                    <span>다음</span>
                                </a>
                            </li>
                            {% else %}
                            <li {% if not page_obj.has_next %}class="disabled" {% endif %}>
                                <a href="#">
                                    <strike>끝</strike>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
