<!DOCTYPE html>
<html>
<head>
    {% load static%}
    {% load addattr %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="아이클로버 관리자페이지">
    <meta name="author" content="Coderthemes">

    <link rel="shortcut icon" href="{% static 'managing/images/favicon.png' %}">

    <title>{% block title %}{% endblock %}</title>

    <!-- App css -->
    <link href="{% static 'managing/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'managing/css/core.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'managing/css/components.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'managing/css/icons.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'managing/css/pages.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'managing/css/menu.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'managing/css/responsive.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'managing/plugins/select2/css/select2.css' %}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{% static 'managing/plugins/switchery/switchery.min.css' %}">

    <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script src="{% static 'managing/js/modernizr.min.js' %}"></script>
    <script src="{% static 'managing/js/jquery.min.js' %}"></script>
    <style>
        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    </style>
    {% block addcss %}
    {% endblock %}
</head>


<body>
{% group_employees as groups %}
{# 템플릿태그 호출 #}
<!-- Navigation Bar-->
<header id="topnav">
    <div class="topbar-main">
        <div class="container">

            <!-- Logo container-->
            <div class="logo">
                <!-- Text Logo -->
                <a href="{% url 'managing:main'%}" class="logo">
                    WIMIX & ICLOVER
                </a>
            </div>
            <!-- End Logo container-->


            <div class="menu-extras">

                <ul class="nav navbar-nav navbar-right pull-right">
                    <li class="navbar-c-items">
                        {% if user.is_staff %}
                        <form method="GET" role="search" class="navbar-left app-search pull-left hidden-xs"
                              action="{% url 'managing:customer_result'%}">
                            <input type="text" name='q' placeholder="거래처 검색" class="form-control" autocomplete="off">
                            <a href=""><i class="fa fa-search" type="submit"></i></a>
                        </form>
                        {% else %}
                        <form class="navbar-left app-search pull-left hidden-xs">
                            <input type="text" name='q' placeholder="거래처 검색" class="form-control" disabled>
                            <a href=""><i class="ti-lock"></i></a>
                        </form>
                        {% endif %}
                    </li>

                    <li class="dropdown navbar-c-items">
                        <a href="#" class="right-menu-item dropdown-toggle" data-toggle="dropdown">
                            <i class="mdi mdi-web"></i>
                        </a>
                        {% if user.is_staff  %}
                        <ul class="dropdown-menu dropdown-menu-right arrow-dropdown-menu arrow-menu-right dropdown-lg user-list notify-list">
                            <li class="text-center">
                                <h5>사이트 바로가기</h5>
                            </li>
                            <li>
                                <a href="{% url 'design:home'%}" target="_blank" class="user-list-item">
                                    <div class="icon">
                                        <img src="{% static 'managing/images/logos/clo.jpg' %}" width="70%;"
                                             class="img-responsive"/>
                                    </div>
                                    <div class="user-desc">
                                        <span class="name">고객 페이지</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="http://aceprinting.co.kr" target="_blank" class="user-list-item">
                                    <div class="icon">
                                        <img src="{% static 'managing/images/logos/ace.jpg' %}" width="70%;"
                                             class="img-responsive"/>
                                    </div>
                                    <div class="user-desc">
                                        <span class="name">에이스 프린팅</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.adchunha.com/" class="user-list-item">
                                    <div class="icon">
                                        <img src="{% static 'managing/images/logos/gg.jpg' %}" width="70%;"
                                             class="img-responsive"/>
                                    </div>
                                    <div class="user-desc">
                                        <span class="name">광고 천하</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.xn--ob0b70f19ljql.com/" class="user-list-item">
                                    <div class="icon">
                                        <img src="{% static 'managing/images/logos/fac.jpg' %}" width="70%;"
                                             class="img-responsive"/>
                                    </div>
                                    <div class="user-desc">
                                        <span class="name">배너 공장</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="http://www.iclickart.co.kr/" class="user-list-item">
                                    <div class="icon">
                                        <img src="{% static 'managing/images/logos/ic.jpg' %}" width="70%;"
                                             class="img-responsive"/>
                                    </div>
                                    <div class="user-desc">
                                        <span class="name">아이클릭아트</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="http://da2000.co.kr/" class="user-list-item">
                                    <div class="icon">
                                        <img src="{% static 'managing/images/logos/da.jpg' %}" width="70%;"
                                             class="img-responsive"/>
                                    </div>
                                    <div class="user-desc">
                                        <span class="name">다이천</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="https://accounts.kakao.com/" class="user-list-item">
                                    <div class="icon">
                                        <img src="{% static 'managing/images/logos/yy.jpg' %}" width="70%;"
                                             class="img-responsive"/>
                                    </div>
                                    <div class="user-desc">
                                        <span class="name">플러스친구 Kakao</span>
                                    </div>
                                </a>
                            </li>
                            {% if group_name != '디자이너' %}
                            <li>
                                <a href="https://accounts.kakao.com/" class="user-list-item">
                                    <div class="icon">
                                        <img src="{% static 'managing/images/logos/ww.jpg' %}" width="70%;"
                                             class="img-responsive"/>
                                    </div>
                                    <div class="user-desc">
                                        <span class="name">왕도매</span>
                                    </div>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </li>
                    {% else %}
                    <ul class="dropdown-menu dropdown-menu-right arrow-dropdown-menu arrow-menu-right dropdown-lg user-list notify-list">
                        <li class="text-center">
                            <h5>사이트 바로가기</h5>
                        </li>
                        <li class="text-center m-t-30 m-b-30">
                            <h1><i class="ti-lock"></i></h1>
                            <p>보안을 위해 <br>잠금처리 되었습니다.</p>
                        </li>

                    </ul>
                    {% endif %}

                    <li class="dropdown navbar-c-items">
                        <a href="" class="dropdown-toggle waves-effect waves-light profile" data-toggle="dropdown"
                           aria-expanded="true">my</a>
                        <ul class="dropdown-menu dropdown-menu-right arrow-dropdown-menu arrow-menu-right user-list notify-list">
                            <li class="text-center">
                                <h5>{{ user.first_name }}</h5>

                            </li>
                            {% if user.is_staff %}
                            <li><a href="{% url 'managing:my_page'%}"><i class="ti-user m-r-5"></i> 내 현황</a></li>
                            <li><a href="javascript:void(0)"><i class="ti-settings m-r-5"></i> Settings</a></li>
                            <li><a href="{% url 'managing:change_password'%}"><i class="ti-lock m-r-5"></i>
                            암호 변경</a></li>
                            <li><a href="{% url 'managing:logout'%}"><i class="ti-power-off m-r-5"></i> 로그아웃</a></li>
                            {% else %}
                            <li class="text-center">
                                <h5>마이 페이지</h5>
                            </li>
                            <li class="text-center m-t-30 m-b-30">
                                <h1><i class="ti-lock"></i></h1>
                                <p>보안을 위해 <br>잠금처리 되었습니다.</p>
                            </li>
                            {% endif %}
                        </ul>

                    </li>
                </ul>
                <div class="menu-item">
                    <!-- Mobile menu toggle-->
                    <a class="navbar-toggle">
                        <div class="lines">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </a>
                    <!-- End mobile menu toggle-->
                </div>
            </div>
            <!-- end menu-extras -->

        </div> <!-- end container -->
    </div>
    <!-- end topbar-main -->
    {% if user.is_staff %}
    <div class="navbar-custom">
        <div class="container">
            <div id="navigation">
                <!-- Navigation Menu-->
                <ul class="navigation-menu">

<!--                    <li class="has-submenu">-->
<!--                        <a><i class="mdi mdi-view-dashboard"></i>기본 등록(이카운트)</a>-->
<!--                        <ul class="submenu">-->
<!--                            <li>-->
<!--                                <a href="{% url 'managing:customer' %}">거래처 관리</a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a href="{% url 'managing:product' %}">품목 관리</a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a href="{% url 'managing:sample' %}">샘플 관리</a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a href="{% url 'managing:category' %}">카테고리 관리-->
<!--                                </a>-->
<!--                            </li>-->
<!--&lt;!&ndash;                            <li>&ndash;&gt;-->
<!--&lt;!&ndash;                                <a href="{% url 'managing:discount' %}">할인그룹 관리&ndash;&gt;-->
<!--&lt;!&ndash;                                    <small class="text-danger">_(준비중)</small>&ndash;&gt;-->
<!--&lt;!&ndash;                                </a>&ndash;&gt;-->
<!--&lt;!&ndash;                            </li>&ndash;&gt;-->
<!--                        </ul>-->
<!--                    </li>-->

                    <li class="has-submenu">
                        <a><i class="mdi mdi-view-dashboard"></i>기본 등록</a>
                        <ul class="submenu">
                            <li>
                                <a href="{% url 'managing:customer_profile' %}">거래처 관리</a>
                            </li>
                            <li>
                                <a href="{% url 'managing:product_list' %}">품목 관리</a>
                            </li>
                            <li>
                                <a href="{% url 'managing:sample' %}">샘플 관리</a>
                            </li>
                            <li>
                                <a href="{% url 'managing:category' %}">카테고리 관리
                                </a>
                            </li>
<!--                            <li>-->
<!--                                <a href="{% url 'managing:discount' %}">할인그룹 관리-->
<!--                                    <small class="text-danger">_(준비중)</small>-->
<!--                                </a>-->
<!--                            </li>-->
                        </ul>
                    </li>

<!--                    <li class="has-submenu">-->
<!--                        <a href="{% url 'managing:demand_list' %}"><i class="mdi mdi-android-studio"></i>장바구니-->
<!--                            <span class="badge badge-purple">1</span>-->
<!--                        </a>-->
<!--                    </li>-->

                    <li class="has-submenu">
                        <a href="{% url 'managing:order_view'%}"><i class="mdi mdi-view-list"></i>거래 내역</a>
                    </li>

                    <li class="has-submenu">
                        <a href="{% url 'managing:img_box'%}"><i class="mdi mdi-image-filter"></i>이미지 검색</a>
                    </li>

                    <li class="has-submenu">
                        <a href="{% url 'managing:deposit' %}"><i class="fa fa-won"></i>입금 확인</a>
                    </li>

                    <li class="has-submenu">
                        <a href="{% url 'managing:ask' %}"><i class="mdi mdi-account-switch"></i>요청사항</a>
                    </li>

                    <li class="has-submenu">
                        <a href="{% url 'managing:main'%}"><i class="glyphicon glyphicon-list-alt"></i>
                            TO DO List
                        </a>
                    </li>
                    {% if group_name != '디자이너' %}
                    <li class="has-submenu">
                        <a href="#"><i class="mdi mdi-comment-text"></i>Master</a>
                        <ul class="submenu">
                            <li><a href="#">
                                광고배너 관리
                                <small class="text-danger">_(준비중)</small>
                            </a>
                            </li>
                            <li>
                                <a href="#">품목배너 관리
                                    <small class="text-danger">_(준비중)</small>
                                </a>
                            </li>
                            <li>
                                <a href="#ml">매입처 매칭
                                    <small class="text-danger">_(준비중)</small>
                                </a>
                            </li>
                            <li>
                                <a href="#">나스 비교
                                    <small class="text-danger">_(준비중)</small>
                                </a>
                            </li>
                            <li>
                                <a href="#">보류 시안
                                    <small class="text-danger">_(준비중)</small>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'managing:employees' %}">직원 관리
                                </a>
                            </li>
                            <li>
                                <a href="#">이카운트 API
                                    <small class="text-danger">_(준비중)</small>
                                </a>
                            </li>
                            <li>
                                <a href="#">체육시설업 현황
                                    <small class="text-danger">_(준비중)</small>
                                </a>
                            </li>
                            <li>
                                <a href="#">상담 멘트 관리
                                    <small class="text-danger">_(준비중)</small>
                                </a>
                            </li>
                        </ul>
                    </li>
                    {% endif %}
                </ul>
                <!-- End navigation menu -->
            </div> <!-- end #navigation -->
        </div> <!-- end container -->
    </div> <!-- end navbar-custom -->
    {%else %}
    <div class="navbar-custom">
        <div class="container">
            <div class="text-center">
                <h4>
                      <i class="ti-lock" style="font-size: 40px;"></i>
                    보안을 위해 모든 메뉴는 잠겼습니다
                    정상적인 로그인을 하여주시기 바랍니다.
                </h4>
            </div>
        </div> <!-- end container -->
    </div> <!-- end navbar-custom -->
    {% endif %}
</header>
<!-- End Navigation Bar-->


<div class="wrapper">
    <div class="container">
        {% block content%}

        {% endblock %}

        <!-- Footer -->
        <footer class="footer text-right">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <script>
                            $(document).ready(function () {
                                var date = new Date();
                                $('#now-year').text(date.getFullYear());
                            })
                        </script>
                        <span id="now-year"></span> © WEMIX & ICLOVER.
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer -->

    </div> <!-- end container -->
</div>
<!-- end wrapper -->

<!-- Modal -->
<div class="content-modal modal fade" role="dialog">
    <div class="modal-dialog" style="width:{% block modal_size %}80%;{% endblock %}">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>

        </div>
    </div>
</div>
</div>
<!-- modal end -->

<!-- jQuery  -->
<script src="{% static 'managing/js/bootstrap.min.js' %}"></script>
<script src="{% static 'managing/js/detect.js' %}"></script>
<script src="{% static 'managing/js/fastclick.js' %}"></script>
<script src="{% static 'managing/js/jquery.blockUI.js' %}"></script>
<script src="{% static 'managing/js/waves.js' %}"></script>
<script src="{% static 'managing/js/jquery.slimscroll.js' %}"></script>
<script src="{% static 'managing/js/jquery.scrollTo.min.js' %}"></script>
<script src="{% static 'managing/plugins/switchery/switchery.min.js' %}"></script>
<script src="{% static 'managing/plugins/select2/js/select2.js' %}"></script>



<!-- App js -->
<script src="{% static 'managing/js/jquery.core.js' %}"></script>
<script src="{% static 'managing/js/jquery.app.js' %}"></script>

<script>
    $(document).ready(function () {
        $('select').select2();
        $(document).on('click', '.content-modal-btn', function (e) {
            e.preventDefault();
            var action_url = $(this).attr("href");
            $.get(action_url)
                .done(function (form_html) {
                    var $modal = $('.content-modal');
                    $modal.find('.modal-body').html(form_html);
                    $form = $modal.find('.modal-body form');
                    var title = $form.attr('text');
                    $modal.find('.modal-title').text(title);
                    $form.attr('action', action_url);
                    $modal.modal();
                })
                .fail(function (xhr, textStatus, error) {
                    console.log(error)
                });
        });
    });

    $(document).on('click','#sub-btn', function() {
        var $this = $(this);
        $this.slideUp(100, function () {
            setTimeout(function() {
                    $this.slideDown(400);
            }, 2000);
        });
    })


</script>
{% block addjs %}

{% endblock %}

</body>
</html>