{% extends 'managing/base.html'%}
{% load static %}
{% block title %}카테고리 관리{% endblock%}

{% block content%}
<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">카테고리 관리</h4>
        </div>
    </div>
</div>

<div class="card-box">
    <!-- end page title end breadcrumb -->
    <div class="row">
        <div class="col-sm-5">
            <ul class="sitemap">
                <li><a href="" class="text-uppercase text-warning"><b>업종 카테고리</b>
                    <a href="#" class="table-action-btn" style="margin-left:0em;">
                        <i class="mdi mdi-plus text-success mdi-18px"></i>
                    </a>
                    <a href="#" class="table-action-btn" style="margin-left:0em;">
                        <i class="mdi mdi-delete-forever text-danger mdi-18px"></i>
                    </a>
                </a>
                    <ul>
                        <li><a class="text-uppercase text-custom"><b>스포츠</b>
                            <a href="#" class="table-action-btn" style="margin-left:0em;">
                        <i class="mdi mdi-plus text-success mdi-18px"></i>
                    </a>
                    <a href="#" class="table-action-btn" style="margin-left:0em;">
                        <i class="mdi mdi-delete-forever text-danger mdi-18px"></i>
                    </a>
                        </a>
                            <ul>
                                <li><a href="" class="text-success">2015</a>
                                    <ul>
                                        <li><a href="">Company</a></li>
                                        <li><a href="">Service</a></li>
                                        <li><a href="">Contest</a></li>
                                    </ul>
                                </li>
                                <li><a href="" class="text-success">2014</a>
                                    <ul>
                                        <li><a href="">Company</a></li>
                                        <li><a href="">Service</a></li>
                                        <li><a href="">Contest</a></li>
                                    </ul>
                                </li>
                                <li><a href="" class="text-success">2013</a>
                                    <ul>
                                        <li><a href="">Company</a></li>
                                        <li><a href="">Service</a></li>
                                        <li><a href="">Contest</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="" class="text-uppercase text-custom"><b>분양/건설</b></a></li>
                        <li><a href="" class="text-uppercase text-custom"><b>병원</b></a></li>
                        <li><a href="" class="text-uppercase text-custom"><b>통신/IT</b></a></li>
                        <li><a href="" class="text-uppercase text-custom"><b>교육/학원</b></a></li>
                        <li><a href="" class="text-uppercase text-custom"><b>어린이집/유치원</b></a></li>
                        <li><a href="" class="text-uppercase text-custom"><b>식당/음식점</b></a></li>
                        <li><a href="" class="text-uppercase text-custom"><b>카페/베이커리</b></a></li>
                        <li><a href="" class="text-uppercase text-custom"><b>뷰티미용</b></a></li>
                        <li><a href="" class="text-uppercase text-custom"><b>쇼핑/마트</b></a></li>
                        <li><a href="" class="text-uppercase text-custom"><b>자동차</b></a></li>
                        <li><a href="" class="text-uppercase text-custom"><b>기타</b></a></li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="col-sm-7">
            <ul class="sitemap">
                <li><a href="" class="text-uppercase text-warning"><b>품목 카테고리</b>
                    <a href="#" class="table-action-btn" style="margin-left:0em;">
                        <i class="mdi mdi-plus text-success mdi-18px"></i>
                    </a>
                    <a href="#" class="table-action-btn" style="margin-left:0em;">
                        <i class="mdi mdi-delete-forever text-danger mdi-18px"></i>
                    </a>
                </a>
                    <ul>
                        <li><a href="" class="text-uppercase text-custom"><b>디자인</b>
                            <a href="#" class="table-action-btn" style="margin-left:0em;">
                                <i class="mdi mdi-plus text-success mdi-18px"></i>
                            </a>
                            <a href="#" class="table-action-btn" style="margin-left:0em;">
                                <i class="mdi mdi-delete-forever text-danger mdi-18px"></i>
                            </a>
                        </a>
                            <ul>
                                <li><a href="" class="text-teal">전단지/족자</a>
                                    <ul>
                                        <li><a href="">A4</a></li>
                                    </ul>
                                </li>
                                <li><a href="" class="text-teal">현수막</a>
                                    <ul>
                                        <li><a href="">Company</a></li>
                                    </ul>
                                </li>
                                <li><a href="" class="text-teal">명함</a>
                                    <ul>
                                        <li><a href="">Company</a></li>
                                    </ul>
                                </li>
                                <li><a href="" class="text-teal">배너</a>
                                    <ul>
                                        <li><a href="">Company</a></li>
                                    </ul>
                                </li>
                                <li><a href="" class="text-teal">봉투</a></li>
                                <li><a href="" class="text-teal">스티커</a></li>
                                <li><a href="" class="text-teal">양식지/NCR지</a></li>
                                <li><a href="" class="text-teal">기타인쇄</a>
                                    <ul>
                                        <li><a href="">명찰</a></li>
                                        <li><a href="">에어탑</a></li>
                                        <li><a href="">부채</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="" class="text-uppercase text-custom"><b>비품</b></a>
                            <ul>
                                <li><a href="" class="text-teal">운동복</a>
                                    <ul>
                                        <li><a href="">운동복 상의</a></li>
                                        <li><a href="">운동복 상의</a></li>
                                        <li><a href="">맨투맨 후드</a></li>
                                    </ul>
                                </li>
                                <li><a href="" class="text-teal">수건</a>
                                    <ul>
                                        <li><a href="">업소용</a></li>
                                        <li><a href="">답례품</a></li>
                                    </ul>
                                </li>
                                <li><a href="" class="text-teal">운영비품/뷰티</a>
                                    <ul>
                                        <li><a href="">청소 용품</a></li>
                                        <li><a href="">샤워/뷰티 용품</a></li>
                                    </ul>
                                </li>
                                <li><a href="" class="text-teal">기구/소도구</a>
                                    <ul>
                                        <li><a href="">요가매트</a></li>
                                        <li><a href="">봉/링/폼/밴드</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- end row -->
</div>
{% endblock %}
