{% extends 'managing/base.html'%}
{% load static %}
{% block title %}카테고리 관리{% endblock%}
{% block modal_size %}40%;{% endblock %}

{% block content%}
<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">카테고리 관리</h4>
        </div>
    </div>
</div>

<div class="card-box">
    <!-- end page title end breadcrumb -->
    <div class="row">
        <div class="col-sm-5">
            <ul class="sitemap">
                <li><a class="text-uppercase text-warning"><b>업종 그룹</b>
                    <a href="{%url 'managing:category_create' kind=0 level=0 %}?title=업종 그룹" class="table-action-btn content-modal-btn" style="margin-left:0em;">
                        <i class="mdi mdi-plus text-success mdi-18px"></i>
                    </a>
                </a>

                    {% for i in sector %}
                    <ul>
                        <li>
                            <a class="text-uppercase text-custom"><b>{{i}}</b>
                                 {% if '디자이너' not in user.first_name %}
                                <a href="{%url 'managing:category_create' kind=0 level=1 %}?title={{i}}"class="table-action-btn content-modal-btn" style="margin-left:0em;">
                                    <i class="mdi mdi-plus text-success mdi-18px"></i>
                                </a>
                                <a href="{% url 'managing:category_delete' kind=0 level=0 pk=i.id %}" class="table-action-btn delete_button delete_button" style="margin-left:0em;">
                                    <i class="mdi mdi-delete-forever text-danger mdi-18px"></i>
                                </a>
                                {% endif %}
                            </a>
                            <ul>
                                {% for z in i.children.all%}
                                <li>
                                    <a class="text-success">{{z}}</a>
                                    <a href="{% url 'managing:category_delete' kind=0 level=1 pk=z.id %}" class="table-action-btn delete_button" style="margin-left:0em;">
                                        <i class="mdi mdi-delete-forever"></i>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                    {% endfor %}

                </li>
            </ul>
        </div>

        <div class="col-sm-7">
            <ul class="sitemap">
                <li>
                    <a class="text-uppercase text-warning"><b>품목 그룹</b>
                        <a href="{%url 'managing:category_create' kind=1 level=0 %}?title=품목 그룹" class="table-action-btn content-modal-btn"  style="margin-left:0em;">
                            <i class="mdi mdi-plus text-success mdi-18px"></i>
                        </a>
                    </a>
                    {% for i in object_list %}
                    <ul>
                        <li><a class="text-uppercase text-custom"><b>{{i}}</b>
                            <a  href="{%url 'managing:category_create' kind=1 level=1 %}?title={{i}}" class="table-action-btn content-modal-btn" style="margin-left:0em;">
                                <i class="mdi mdi-plus text-success mdi-18px"></i>
                            </a>
                            <a href="{% url 'managing:category_delete' kind=1 level=0 pk=i.id %}" class="table-action-btn delete_button" style="margin-left:0em;">
                                <i class="mdi mdi-delete-forever text-danger mdi-18px"></i>
                            </a>
                        </a>
                            <ul>
                                {% for z in i.children.all%}
                                <li><a class="text-teal">{{z}}</a>
                                    <a href="{% url 'managing:category_delete' kind=1 level=1 pk=z.id %}" class="table-action-btn delete_button" style="margin-left:0em;">
                                        <i class="mdi mdi-delete-forever"></i>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                    {% endfor %}


                </li>
            </ul>
        </div>
    </div>
    <!-- end row -->
</div>

<script>
    $(document).ready(function () {
        console.log('log');
    })
</script>
<script>
    $('.delete_button').click(function () {
        event.preventDefault();
        var result = confirm('삭제되면 복구되지 않으며 하위 카테고리까지 모두 삭제됩니다. \n정말 삭제하시겠습니까?');
        if (result) {
            var $data_this = $(this);
            var url = $(this).attr('href');
            console.log(url);
            $.ajax({
                url: url,
                type: "POST",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
                success: function (xhr) {
                    console.log('성공');
                    console.log($data_this.parent().remove());
                },
                error: function (xhr) {
                    console.log('실패');
                }
            });
        }

    });
</script>

{% endblock %}
