{% extends 'managing/base.html'%}
{% load static %}
{% block title %}고객 관리{% endblock%}

{% block content%}


<div class="container m-t-50 m-b-30" style="width:800px;">
    <h2 align="center"><b>고객 관리</b>
        {% if group_name != '디자이너'%}
        <a href="{% url 'managing:customer_profile_create' %}" class="content-modal-btn2">
            <i class="ti-plus text-success"></i>
        </a>
        {% endif %}
    </h2>
    <br/><br/>
    <div align="center">
        <form role="form" method="GET" autocomplete="off">
            <div class="form-group search-box has-customer">
                {{ data_search_form.q }}
                <button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
            </div>
        </form>
    </div>
    <br/>
</div>

{% if messages %}
{% for message in messages %}
<div class="alert alert-icon {% if message.tags == 'success' %}alert-success{%else%}alert-danger{% endif %} alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
    <i class="mdi mdi-check-all"></i>
    <strong>{{ message }}</strong>
</div>
{% endfor %}
{% endif %}


<!-- end page title end breadcrumb -->
<div class="card-box">
    <div class="">
        <!-- 판매처  -->
        <div class="tab-pane active">
              <div class="table-responsive">
                <div class="table-responsive">
                    <table class="table table-hover mails m-0 table table-actions-bar">
                        <thead class="">
                        <tr>
                            <th>사업자 상태<br>Last_Login</th>
                            <th width="15%">거래처명<br><small>고객 ID</small></th>
                            <th>주소<br>매장번호</th>
                            <th>고객 정보</th>
                            <th style="max-width: 35%; width: 20%;">내부 정보</th>
                            <th width="10px;">수정</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for i in customer_list %}
                        <tr>
                            <td>
                                {% if i.state_select == 1 %}
                                <p><i class="glyphicon glyphicon-ban-circle text-danger">폐업</i></p>
                                <span style="color: #c9302c">
                                    {% if i.state != None %}<small>{{ i.state }}</small>{% endif %}
                                </span>
                                {% else %}
                                <p><i class="glyphicon glyphicon-ok-circle text-teal">정상</i></p>
                                {% if i.code %}
                                <span class="text-teal">{{ i.code }}</span>
                                {% endif %}
                                {% endif %}
                                <p>
                                    <small>
                                   {{i.user.last_login|date:'Y.m.d.D'}}<br>
                                    {{i.user.last_login|date:'a h:i'}}
                                    </small>

                                </p>

                            </td>

                            <td >

                                <b class="text-custom" data-toggle="tooltip" data-placement="top" data-original-title="{{ i.code }}">{{ i.company }}</b><br>
                                <small>({{i.user}})</small>
                            </td>
                            <td>
                               {{ i.address }} {{i.address_detail}} {{i.address_option}}
                                {% if i.address2 %}<br>{{ i.address2 }} {{i.address_detail}} {{i.address_option}}{% endif %}
                                <br> {{ i.tell }}
                            </td>
<!--                            <td>-->
<!--&lt;!&ndash;                                {% if i.phone != None %}&ndash;&gt;-->
<!--&lt;!&ndash;                                {{ i.phone }}&ndash;&gt;-->
<!--&lt;!&ndash;                                {% endif %}&ndash;&gt;-->
<!--&lt;!&ndash;                                <br>&ndash;&gt;-->

<!--                            </td>-->
                            <td>
                                {% if i.phone %}
                                 {{ i.phone  }}<br>
                                {% endif %}
                                   {% if i.tax_bill_mail %}
                                 {{ i.tax_bill_mail  }}<br>
                                {% endif %}
                                     {% if i.get_bill_select_display %}
                                        <p class="text-custom"><br>{{ i.get_bill_select_display}}</p>
                                {% else %}
                                   <p class="text-warning"><br>미지정</p>
                                {% endif %}

                            </td>
                            <td>
                                {% if i.user.customer_memo %}
                                {% for z in i.user.customer_memo.all %}
                                {% if z.manager %}<b>{{z.manager}}</b><br> {% endif %}
                                {% if z.memo %}{{z.memo}}<br> {% endif %}
                                {% if z.confirm %}{{z.confirm}}<br> {% endif %}
                                {% if z.hoo %}{{z.hoo}}<br> {% endif %}
                                {% if z.keyword %}{{z.keyword}}<br> {% endif %}

                                {% endfor %}
                                {% endif %}
                            </td>
                            <td>
                                <a href="{% url 'managing:customer_profile_create' %}?name={{i.user}}" class="content-modal-btn2 table-action-btn h2">
                                    <i class="mdi mdi-pencil-box-outline text-success"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div> <!-- end table responsive -->
            <div class="row m-t-30">
                <div class="text-center m-t-30">

                    {% if not customer_list %}
                    <h3>검색 된 데이터가 없습니다.</h3>
                    {% endif %}

                    {% if is_paginated %}
                    <nav>
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                            <li>
                                <a href="?page={{ page_obj.previous_page_number }}{% if data_search_form.q.value %}&q={{ data_search_form.q.value }}{% endif %}">
                                    <span>이전</span>
                                </a>
                            </li>
                            {% else %}
                            <li class="disabled">
                                <a href="#">
                                    <span><strike>시작</strike></span>
                                </a>
                            </li>
                            {% endif %}

                            {% for page in page_range %}
                            <li {% if page == page_obj.number %}class="active" {% endif %}>
                                <a href="?page={{ page }}{% if data_search_form.q.value %}&q={{ data_search_form.q.value }}{% endif %}">
                                    {{ page }}</a>
                            </li>
                            {% endfor %}

                            {% if page_obj.has_next %}
                            <li>
                                <a href="?page={{ page_obj.next_page_number }}{% if data_search_form.q.value %}&q={{ data_search_form.q.value }}{% endif %}">
                                    <span>다음</span>
                                </a>
                            </li>
                            {% else %}
                            <li {% if not page_obj.has_next %}class="disabled" {% endif %}>
                                <a href="#">
                                    <strike>끝</strike>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                    {{page_obj}}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>


<script>
   function getAction(action_url){
       $.get(action_url)
           .done(function (form_html) {
               $modal.find('.modal-body').html(form_html);
               $form = $modal.find('.modal-body form');
               var title = $form.attr('text');
               $modal.find('.modal-title').text(title);
               $form.attr('action', action_url);
               $modal.modal();
           })
           .fail(function (xhr, textStatus, error) {
               console.log(error)
           });
   }



    $(document).ready(function () {
        $modal = $('.content-modal');
        $('.content-modal-btn2').click(function (e) {
        e.preventDefault();
        var action_url = $(this).attr("href");
        getAction(action_url);
        });
    });

</script>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="{% static 'design/js/daummap.js'%}"></script>

{% endblock %}
