{% extends 'managing/base.html'%}
{% load static %}
{% block title %}거래처 수정{% endblock%}

{% block content%}
<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title"><a href="{% url 'managing:customer' %}">거래처 관리</a> / {{update_list.company}}님의 정보 수정<small>({{ update_list.user }})</small></h4>
        </div>
    </div>
</div>
{{ form.errors}}
<!-- end page title end breadcrumb -->
<div class="card-box">
    <div class="row">
        <div class="col-sm-12">
            <a href="{% url 'managing:customer' %}">
                <button class="btn btn-teal btn-rounded btn-md waves-effect waves-light m-b-30">거래처 목록
                </button>
            </a>
        </div>
    </div>
    {% include 'managing/customer_update_form_.html'%}

</div>


{% endblock %}
