<form method="POST" text="거래처 수정"  autocomplete="off">
    {% csrf_token %}
    <div class="row">
        <div class="col-sm-2">
                  <span class="help-block"
                        {% if form.state_select.value == 0 %}
                        style="color: #3e8f3e"
                        {% else %}
                        style="color:#d33333"
                        {% endif %}>
                      {{ form.state_select.help_text}}</span>
            {{ form.state_select}}
        </div>
        <div class="col-sm-2">
            <span class="help-block"
                  {% if form.state_select.value == 1 %}
                        style="color:#d33333"
                        {% endif %}
            > {{ form.state.help_text}}</span>
            {% if form.state.value %}
            <div class="text-danger">{{ form.state.value }}</div>
            {% else %}
            {{ form.state }}
            {% endif %}
        </div>
        <div class="col-sm-2">
            <span class="help-block"> {{ form.manager.help_text}}</span>

            {{ form.manager}}
        </div>


    </div>
    <hr>
    <div class="row">
        <div class="col-sm-4">
            <span class="text-muted help-block"> {{ form.code.help_text}}</span>
            <input class="form-control" type="text" value="{{form.code.value }}" disabled/>
         {{ form.code }}
        </div>
        <div class="col-sm-4">
            <span class="text-muted help-block"> {{ form.company.help_text}}</span>
            {{ form.company}}
        </div>
        <div class="col-sm-4">
            <span class="text-muted help-block"> {{ form.company_keyword.help_text}}</span>
            {{ form.company_keyword}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <span class="text-muted help-block"> {{ form.ceo.help_text}}</span>
            {{ form.ceo}}
        </div>
        <div class="col-sm-3">
            <span class="text-muted help-block"> {{ form.sectors.help_text}}</span>
            {{ form.sectors}}
        </div>
        <div class="col-sm-3">
            <span class="text-muted help-block"> {{ form.business.help_text}}</span>
            {{ form.business}}
        </div>
        <div class="col-sm-3">
            <span class="text-muted help-block"> {{ form.tell.help_text}}</span>
            {{ form.tell}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <span class="text-muted help-block"> {{ form.address.help_text}}</span>
            {{ form.address}}
        </div>
        <div class="col-sm-6">
            <span class="text-muted help-block"> {{ form.address2.help_text}}</span>
            {{ form.address2}}
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-4">
            <span class="text-muted help-block"> {{ form.phone.help_text}}</span>
            {{ form.phone}}
        </div>
        <div class="col-sm-4">
            <span class="text-muted help-block"> {{ form.confirm.help_text}}</span>
            {{ form.confirm}}
        </div>

        <div class="col-sm-4">
            <span class="text-muted help-block"> {{ form.options.help_text}}</span>
            {{ form.options}}
        </div>
        <div class="col-sm-4">
            <span class="text-muted help-block"> {{ form.keywords.help_text}}</span>
            {{ form.keywords}}
        </div>
        <div class="col-sm-4">
            <span class="text-muted help-block"> {{ form.memo.help_text}}</span>
            {{ form.memo}}
        </div>
        <div class="col-sm-4">
            <span class="text-muted help-block"> {{ form.tax_bill_mail.help_text}}</span>
            {{ form.tax_bill_mail}}
        </div>
    </div>
    <br> <br>
    <div class="modal-footer">
            <button class="btn btn-success" value="Update">{{update_list.company }}님 정보 수정하기</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
</form>