{% extends 'managing/base.html'%}
{% load static %}
{% block title %}거래처 관리{% endblock%}

{% block content%}
<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">거래처 관리</h4>
        </div>
    </div>
</div>
<!-- end page title end breadcrumb -->
<div class="card-box">

    <div class="row">
        <div class="col-sm-8">
            <form role="form" method="GET">
                <div class="form-group search-box">
                    <input type="text" id="q" name='q' class="form-control product-search" placeholder="검색어를 입력해주세요"
                           autocomplete="off" value="{% if q %}{{ q }}{% endif %}">
                    <button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
                </div>
            </form>
        </div>
        <div class="col-sm-4">
            <button class="btn btn-success btn-rounded btn-md waves-effect waves-light m-b-30" data-toggle="modal"
                    data-target="#con-close-modal">거래처 등록
            </button>
        </div>
    </div>
 {% include 'managing/include_test.html'%}
    <ul class="nav nav-tabs tabs-bordered">
        <li class="active">
            <a href="#home-b1" data-toggle="tab" aria-expanded="true">
                <span class="visible-xs"><i class="fa fa-home"></i></span>
                <span class="hidden-xs">거래처</span>
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <!-- 판매처  -->
        <div class="tab-pane active" id="home-b1">
            <div class="table-responsive">
                <div class="table-responsive">
                    <table class="table table-hover mails m-0 table table-actions-bar">
                        <thead>
                        <tr>
                            <th>사업자번호</th>
                            <th>거래처명</th>
                            <th>검색창내용</th>
                            <th>매장번호 /배송지</th>
                            <th>주문자</th>
                            <th>시안</th>
                            <th>결제/포함/택배</th>
                            <th>수정</th>
                        </tr>
                        </thead>

                        <tbody>

                        {% for i in customer_list %}
                        <tr>
                            <td>
                                <a href="#">{{ i.code }}</a>{{ i.user }}
                            </td>

                            <td>
                                {{ i.company }}
                            </td>

                            <td>
                                <a href="#">{{ i.company_keyword }}</a>
                            </td>

                            <td>
                                {{ i.tell }}<br>{{ i.address }}
                            </td>
                            <td>
                                {{ i.state_select }}
                            </td>
                            <td>

                            </td>
                            <td>
                                <br>
                            </td>
                            <td>
                                <a href="#" class="table-action-btn h3"><i
                                        class="mdi mdi-pencil-box-outline text-success"></i></a>
                                <a href="#" class="table-action-btn h3"><i
                                        class="mdi mdi-close-box-outline text-danger"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div> <!-- end table responsive -->
            <div class="row m-t-30">
                <div class="text-center m-t-30">

                    {% if not customer_list %}
                    <h3>검색 된 데이터가 없습니다.</h3>
                    {% endif %}

                    {% if is_paginated %}
                    <nav>
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                            <li>
                                <a href="?page={{ page_obj.previous_page_number }}">
                                    <span>이전</span>
                                </a>
                            </li>
                            {% else %}
                            <li class="disabled">
                                <a href="#">
                                    <span><strike>시작</strike></span>
                                </a>
                            </li>
                            {% endif %}

                            {% for page in page_range %}
                            <li {% if page == page_obj.number %}class="active" {% endif %}>
                                <a href="?page={{ page }}{% if q %}&q={{q}}{% endif %}">{{ page }}</a>
                            </li>
                            {% endfor %}

                            {% if page_obj.has_next %}
                            <li>
                                <a href="?page={{ page_obj.next_page_number }}">
                                    <span>다음</span>
                                </a>
                            </li>
                            {% else %}
                            <li {% if not page_obj.has_next %}class="disabled" {% endif %}>
                                <a href="#">
                                    <strike>끝</strike>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
