{% extends 'managing/base.html'%}
{% load static %}
{% load humanize %}
{% block title %}거래처 관리{% endblock%}
{% block addcss %}
        <!-- Bx slider css -->
        <link href="{% static 'managing/plugins/bx-slider/jquery.bxslider.css'%}" rel="stylesheet" type="text/css" />



{% endblock %}
{% block content%}
<!-- Page-Title -->
<div class="row m-t-50">
    <div class="col-sm-12">
<!--        <div class="page-title-box">-->
<!--            <h4 class="page-title">거래 내역</h4>-->


<!--            &lt;!&ndash;- ajax &ndash;&gt;-->
<!--            <h2>자동완성기능</h2>-->
<!--            <script>-->
<!--                function delay(fn, ms) {-->
<!--                    let timer = 0;-->
<!--                    return function (...args) {-->
<!--                        clearTimeout(timer);-->
<!--                        timer = setTimeout(fn.bind(this, ...args), ms || 0)-->
<!--                    }-->
<!--                }-->
<!--            </script>-->
<!--            <script type="text/javascript">-->
<!--                $(document).ready(function () {-->
<!--                    $.ajax({-->
<!--                        url: '/api/profile.json',-->
<!--                        datatype: 'json',-->
<!--                        success: function (data, status, xhr) {-->
<!--                            $('#auto-search').keyup(delay(function (e) {-->
<!--                                $("#result").html('');-->
<!--                                var search_val = $('#auto-search').val();-->
<!--                                var expression = new RegExp(search_val, "i");-->
<!--                                var expression_array = expression.source.split(' ');-->
<!--                                var index_num = 0;-->
<!--                                data_list = {};-->
<!--                                if (search_val != '') {-->
<!--                                    $.each(data, function (key, item) {-->
<!--                                        var company = item.company;-->
<!--                                        var company_keyword = item.company_keyword;-->
<!--                                        if (expression_array.length == 1){-->
<!--                                            if (company.search(expression) != -1 || company_keyword.search(expression) != -1) {-->
<!--                                                    if (index_num < 5){-->
<!--                                                    $('#result').append(-->
<!--                                                        '<a><li class="list-group-item link-class" id="'+ item.id +-->
<!--                                                        '">' + company + ' | <span class="text-muted">' + company_keyword + '</span></li></a>'-->
<!--                                                    );-->
<!--                                                    data_id = item.id;-->
<!--                                                    data_list[data_id] = item;-->
<!--                                                    index_num += 1;-->
<!--                                                    }else{-->
<!--                                                        $('#result').append(-->
<!--                                                        '<li class="list-group-item link-class text-danger">...... Data가 많으니 더 상세히 검색해주세요</li>'-->
<!--                                                    );-->
<!--                                                        index_num = 0;-->
<!--                                                        return false;-->

<!--                                                    }-->
<!--                                            }-->
<!--                                            }else{-->
<!--                                            var expression0 = new RegExp(expression_array[0], "i");-->
<!--                                            var expression1 = new RegExp(expression_array[1], "i");-->
<!--                                            var expression2 = new RegExp(expression_array[2], "i");-->
<!--                                            if (company.search(expression0) != -1 || company_keyword.search(expression0) != -1) {-->
<!--                                                if (company.search(expression1) != -1 || company_keyword.search(expression1) != -1) {-->
<!--                                                    if (company.search(expression2) != -1 || company_keyword.search(expression2) != -1) {-->
<!--                                                    if (index_num < 5){-->
<!--                                                    $('#result').append(-->
<!--                                                        '<a><li class="list-group-item link-class" id="'+ item.id +-->
<!--                                                        '">' + company + ' | <span class="text-muted">' + company_keyword + '</span></li></a>'-->
<!--                                                    );-->
<!--                                                    data_id = item.id;-->
<!--                                                    data_list[data_id] = item;-->

<!--                                                    index_num += 1;-->
<!--                                                    }else{-->
<!--                                                        $('#result').append(-->
<!--                                                        '<li class="list-group-item link-class text-danger">...... Data가 많으니 더 상세히 검색해주세요</li>'-->
<!--                                                    );-->
<!--                                                        index_num = 0;-->
<!--                                                        return false;-->

<!--                                                    }-->
<!--                                                }}-->
<!--                                            }-->
<!--                                        }-->
<!--                                        })-->
<!--                                }-->
<!--                            }, 400));-->
<!--                        }-->
<!--                    });-->
<!--                   $('#result').on('click', 'li', function () {-->
<!--                       var idx = $(this).attr('id');-->
<!--                       if (idx){-->
<!--                        custromer = data_list[idx];-->
<!--                        var click_text = $(this).text().split('|');-->
<!--                        $('#auto-search').val($.trim(click_text[0]));-->
<!--                        $("#result").html(-->
<!--                            custromer['company'] + '<br>' +-->
<!--                            custromer['code'] + '<br>' +-->
<!--                            custromer['address'] + '<br>' +-->
<!--                            custromer['tax_bill_mail'] + '<br>' +-->
<!--                            custromer['tell'] + '<br>' +-->
<!--                            custromer['phone'] + '<br>' +-->
<!--                            custromer['keywords'] + '<br>' +-->
<!--                            custromer['memo'] + '<br>' +-->
<!--                            custromer['options'] + '<br>' +-->
<!--                            custromer['confirm'] + '<br>' +-->
<!--                            custromer['manager']-->
<!--                        );-->
<!--                        data_list = {};-->
<!--                        }-->
<!--                    })-->



<!--                });-->
<!--            </script>-->
<div class="container m-t-30" style="width:900px;">
   <h2 align="center">거래 내역</h2>
<!--   <h3 align="center">Employee Data</h3>-->
   <br /><br />
   <div align="center">
       <form role="form" method="GET" autocomplete="off">
           <div class="form-group search-box">
               {{ data_search_form.q }}
               <button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
           </div>
       </form>
   </div>
   <ul class="list-group" id="result"></ul>
   <br />
  </div>

<!--            &lt;!&ndash;- ajax &ndash;&gt;-->

<!--        </div>-->
    </div>
</div>
<!-- end page title end breadcrumb -->
<div class="card-box">
    <ul class="nav nav-pills m-b-30 pull-left" style="font-weight:900">
        <li {% if request.path.17 == '0' %}class="active"{% endif %}>
            <a href="{% url 'managing:deal_list' common=0%}">
                <span class="visible-xs"><i class="fa fa-home"></i></span>
                <span class="hidden-xs">견적서</span>

            </a>
        </li>
        <li {% if request.path.17 == '1' %}class="active"{% endif %}>
            <a href="{% url 'managing:deal_list' common=1 %}" >
                <span class="visible-xs"><i class="fa fa-user"></i></span>
                <span class="hidden-xs">주문서</span>
            </a>
        </li>
        <li {% if request.path.17 == '2' %}class="active"{% endif %}>
            <a href="{% url 'managing:deal_list' common=2 %}" >
                <span class="visible-xs"><i class="fa fa-user"></i></span>
                <span class="hidden-xs">시안 확인중</span>
            </a>
        </li>
        <li {% if request.path.17 == '3' %}class="active"{% endif %}>
            <a href="{% url 'managing:deal_list' common=3 %}">
                <span class="visible-xs"><i class="fa fa-user"></i></span>
                <span class="hidden-xs">전체</span>
            </a>
        </li>

    </ul>
    <div class="">

        <!-- 견적서  -->
        <div class="">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <div class="text-right">{{page_obj}}</div>
                        <table class="table table-fixed table-hover mails m-0 table table-actions-bar">
                            <thead >
                            <tr>
                                <th  width="10%">날짜</th>
                                <th  width="5%">작업자</th>
                                <th  width="25%">거래처명</th>
                                <th  width="28%">품목명</th>
                                <th  width="10%">금액</th>
                                <th  width="15%" >정보</th>
                                <th width="20px;">수정</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for data in object_list%}
                            <tr>
                                <td>
                                    <a href="#">{{data.joo_date}}</a>
                                    <br>
                                    {{data.order_date|date:"Y/m/d"}}
                                </td>
                                <td>
                                    {{data.employees}}

                                </td>
                                <td>
                                    <span class="m-t-15"><b class="text-custom" >{{data.company}}</b></span>
                                    <small class="text-muted"><br>{{data.company_keyword}}</small>
                                    <small><br>{{data.tell}}</small>
                                    <small><br>{{data.address}}</small>

                                </td>

                                <td>
                                    <b><a href="#">{{data.products}}</a><br></b>

                                </td>

                                <td>
                                   <p>{{data.total|floatformat:'0'|intcomma}}원</p>
                                </td>
                                <td>
                                    {% if data.keywords %}
                                   {{data.keywords}}
                                    {% endif %}
                                    <br>
                                     {% if data.checker %}
                                   {{data.checker}}
                                    {% endif %}
                                    <br>
                                     {% if data.options %}
                                   {{data.options}}
                                    {% endif %}
                                    <br>
                                     {% if data.deposit %}
                                   {{data.deposit}}
                                    {% endif %}
                                    <br>
                                     {% if data.deposit %}
                                   {{data.deposit}}
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="#" class="table-action-btn h3"><i
                                            class="mdi mdi-pencil-box-outline text-success"></i></a>
                                    <a href="#" class="table-action-btn h3"><i
                                            class="mdi mdi-close-box-outline text-danger"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <div class="row m-t-30">
                <div class="text-center m-t-30">

                    {% if not object_list %}
                    <h3>검색 된 데이터가 없습니다.</h3>
                    {% endif %}

                    {% if is_paginated %}
                    <nav>
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                            <li>
                                <a href="?page={{ page_obj.previous_page_number }}{% if data_search_form.q.value %}&q={{ data_search_form.q.value }}{% endif %}">
                                    <span>이전</span>
                                </a>
                            </li>
                            {% else %}
                            <li class="disabled">
                                <a href="#">
                                    <span><strike>시작</strike></span>
                                </a>
                            </li>
                            {% endif %}

                            {% for page in page_range %}
                            <li {% if page == page_obj.number %}class="active" {% endif %}>
                                <a href="?page={{ page }}{% if data_search_form.q.value %}&q={{ data_search_form.q.value }}{% endif %}">
                                    {{ page }}</a>
                            </li>
                            {% endfor %}

                            {% if page_obj.has_next %}
                            <li>
                                <a href="?page={{ page_obj.next_page_number }}{% if data_search_form.q.value %}&q={{ data_search_form.q.value }}{% endif %}">
                                    <span>다음</span>
                                </a>
                            </li>
                            {% else %}
                            <li {% if not page_obj.has_next %}class="disabled" {% endif %}>
                                <a href="#">
                                    <strike>끝</strike>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                    {{page_obj}}
                    {% endif %}
                </div>
            </div>
</div>
{% endblock %}


{% block addjs %}
        <!-- Bx slider js -->
        <script src="{% static 'managing/plugins/bx-slider/jquery.bxslider.min.js'%} "></script>

		<script type="text/javascript" src="{% static 'managing/plugins/gmaps/gmaps.js' %}"></script>

        <script>
            $(document).ready(function () {
                $('.property-slider').bxSlider({
                    pagerCustom: '#bx-pager'
                });
            });
        </script>
{% endblock %}