{% extends 'managing/base.html'%}
{% load static %}
{% load humanize %}
{% block title %}입금 관리{% endblock%}
{% block modal_size %}30%;{% endblock %}
{% block content%}


<div class="container m-t-50 m-b-30" style="width:800px;">
    <h2 align="center"><b>입금 관리</b>
        {% if group_name != '디자이너'%}
        <a href="{% url 'managing:deposit_create' %}" class="content-modal-btn">
            <i class="ti-plus text-success"></i>
        </a>
        {% endif %}
    </h2>
    <br/><br/>
    <div align="center">
        <form role="form" method="GET" autocomplete="off" class="has-deposit">
            <div class="form-group search-box">
                {{ data_search_form.q }}
                <button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
            </div>
        </form>
    </div>
    <br/>
</div>


{% if messages %}
{% for message in messages %}
<div class="alert alert-icon {% if message.tags == 'success' %}alert-success{%else%}alert-danger{% endif %} alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
    <i class="mdi mdi-check-all"></i>
    <strong>{{ message }}</strong>
</div>
{% endfor %}

{% endif %}


<!-- end page title end breadcrumb -->
<div class="card-box">
    <div class="">
        <!-- 판매처  -->
        <div class="tab-pane active" id="home-b1">
            <div class="table-responsive">
                <div class="table-responsive">



                    <table class="table table-hover mails m-0 table table-actions-bar">
                        <thead>
                        <tr>
                            <th>은행명</th>
                            <th>입금 날짜</th>
                            <th>입금자명</th>
                            <th>입금액</th>
                            <th>메모</th>
                            <th>영수처리</th>
                            <th>저장</th>
                             {% if group_name != '디자이너'%}
                            <th>삭제</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                                {% for i in deposit_list %}
                        <tr>
                            <td>
                                {{ i.bank }}
                            </td>

                            <td>
                                {%if '관리자 등록' in i.bank %}
                                <small >관리자 등록일<br>{{ i.date }}</small>
                                {% else %}
                                {{ i.date }}
                                {% endif %}
                            </td>
                            <td>
                                {{ i.name }}
                            </td>
                            <td>
                                {{ i.amount|intcomma }}
                            </td>
                            <form method="POST" action="{% url 'managing:deposit_update' i.pk %}" autocomplete="off">
                                {% csrf_token %}
                                <td>
                                    <input type="text" class="form-control" name="memo" value="{{i.memo}}">
                                </td>

                                <td>
                                    {% if group_name != '디자이너'%}
                                    <input type="text" class="form-control"  name="bill" value="{{i.bill}}">
                                    {% else %}
                                    <input type="text" class="form-control"  value="{{i.bill}}" disabled>
                                    <input type="hidden" class="form-control"  name="bill" value="{{i.bill}}">
                                    {% endif %}
                                </td>

                                <td>
                                    <input type="submit" class="btn btn-primary" value="저장"/>
                                </td>
                            </form>
                             {% if group_name != '디자이너'%}
                            <form method="post" action="{%url 'managing:deposit_delete' i.pk %}">{% csrf_token %}
                                <td>
                                    <button class="btn btn-danger" onclick="return confirm('삭제하시겠습니까?');">삭제</button>
                                </td>
                            </form>
                            {% endif %}
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div> <!-- end table responsive -->
            <div class="row m-t-30">
                <div class="text-center m-t-30">

                    {% if not deposit_list %}
                    <h3>검색 된 데이터가 없습니다.</h3>
                    {% endif %}

                    {% if is_paginated %}
                    <nav>
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                            <li>
                                <a href="?page={{ page_obj.previous_page_number }}{% if data_search_form.q.value %}&q={{ data_search_form.q.value }}{% endif %}">
                                    <span>이전</span>
                                </a>
                            </li>
                            {% else %}
                            <li class="disabled">
                                <a href="#">
                                    <span><strike>시작</strike></span>
                                </a>
                            </li>
                            {% endif %}

                            {% for page in page_range %}
                            <li {% if page == page_obj.number %}class="active" {% endif %}>
                                <a href="?page={{ page }}{% if data_search_form.q.value %}&q={{ data_search_form.q.value }}{% endif %}">
                                    {{ page }}</a>
                            </li>
                            {% endfor %}

                            {% if page_obj.has_next %}
                            <li>
                                <a href="?page={{ page_obj.next_page_number }}{% if data_search_form.q.value %}&q={{ data_search_form.q.value }}{% endif %}">
                                    <span>다음</span>
                                </a>
                            </li>
                            {% else %}
                            <li {% if not page_obj.has_next %}class="disabled" {% endif %}>
                                <a href="#">
                                    <strike>끝</strike>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
