<script>
    $(document).on("keydown","input[type=text]",function() {
        if (event.keyCode === 13) {
        event.preventDefault();
        }
    });
</script>
<form id="form_id" method="POST" enctype="multipart/form-data" text="직원 등록">
    {% csrf_token %}
    {{ form.errors_from_post }}
    {{ form.errors }}
    <div class="row">
        <div class="col-sm-4">
            <span class="help-block"> 직원명 : </span>
            {{ form.name }}
        </div>
        <div class="col-sm-4">
            <span class="help-block"> 전화번호 : </span>
            {{ form.cellphone}}
        </div>
    </div>

    <hr>
    <br> <br>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <button id='sub-btn' class="form-control btn btn-danger">저장하기</button>
        </div>
        <div class="col-sm-3"><span id="ImgPreview"></span></div>
    </div>
</form>
