{% extends 'managing/base.html'%}
{% load static %}
{% block title %}관리자 페이지{% endblock%}

{% block content%}

{% if user.is_staff%}
<script>
    $(document).ready(function () {
       $('.count-btn').click(function () {
       var clicked_state = $(this).data('showBtn');
         var $tbody = $('tbody').children('tr');
         $tbody.each(function () {
             var state = $(this).data('show');
             if(clicked_state == state){
                 $(this).css('display','');
             }else if(clicked_state == 'all'){
                 $(this).css('display','');
             }else{
                 $(this).css('display','none');
             }
         })
       })
    })


</script>
<style>
.count-btn {cursor: pointer;}
</style>

<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title count-btn" data-show-btn="all">나의 진행중인</h4>
        </div>
    </div>
</div>
<!-- end page title end breadcrumb -->


<div class="row">
    <div class="col-lg-9">
        <div class="row">
            <div class="col-lg-3 col-md-6 count-btn" data-show-btn="주문">
                <div class="card-box tilebox-two tilebox-success">
                    <i class="mdi mdi-basket-unfill pull-right text-dark"></i>
                    <h4 class="text-success m-b-15 m-t-10"><b>주문서</b></h4>
                    <h2 class="m-b-10"><span>{{count.주문}}</span> 건</h2>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 count-btn" data-show-btn="시안">
                <div class="card-box tilebox-two tilebox-primary">
                    <i class="mdi mdi-basket-fill pull-right text-dark"></i>
                    <h4 class="text-primary text-uppercase m-b-15 m-t-10"><b>시안중</b></h4>
                    <h2 class="m-b-10"><span >{{count.시안}}</span> 건</h2>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 count-btn" data-show-btn="제작">
                <div class="card-box tilebox-two tilebox-pink">
                    <i class="mdi mdi-burst-mode pull-right text-dark"></i>
                    <h4 class="text-pink text-uppercase m-b-15 m-t-10"><b>제작중</b></h4>
                    <h2 class="m-b-10"><span >{{count.제작}}</span> 건</h2>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 count-btn" data-show-btn="배송">
                <div class="card-box tilebox-two tilebox-info">
                    <i class="mdi mdi-tooltip-image pull-right text-dark"></i>
                    <h4 class="text-info text-uppercase m-b-15 m-t-10"><b>배송중</b></h4>
                    <h2 class="m-b-10"><span>{{count.배송}}</span> 개</h2>
                </div>
            </div>

        </div>
        <!-- end row -->

        <div class="row">
            <div class="col-md-12">
                <div class="card-box">
                    <h4 class="header-title m-t-0 m-b-20">미완료 리스트</h4>
                    <table class="table table-centered m-b-0">
                        <tbody>
                        {% for i in order_list%}
                        <tr data-show="{{i.get_state_display }}">
                            <td width="15%">

                                <h3 class="m-0">
                                    <small> {{i.get_state_display }}<br>{{i.joo_date|date:"Y-m-d"}}_{{i.today_num}}</small>
                                </h3>
                            </td>
                            <td  width="30%">
                                {{i.company}}
                                <br>
                                <small class="text-muted">{{ i.company_keyword}}</small>
                            </td>
                            <td>
                                {% for z in i.order_list.all%}
                                <small>{{z}}<br></small>
                                {% endfor %}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div> <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <div class="col-lg-3">
        <div class="inner-box card-box">
            <div class="plan-stats text-center">
                <a href="{% url 'managing:memo_create' common=0 %}" class="content-modal-btn">
                    <h3 class="plan-title text-custom"><b>개인 메모</b>
                        <small><i class="mdi mdi-comment-plus-outline text-custom"></i></small>
                    </h3>
                </a>
            </div>
            <div class="plan-stats list-unstyled text-center">
                {% for i in my_list %}
                <a href="{% url 'managing:memo_update' i.0 %}" class="content-modal-btn">
                {% if i.1 and i.4 %}
                <p class="text-orange">{{ i.2 }}</p>
                {% elif i.1 %}
                <p class="text-danger" >{{ i.2 }}</p>
                {% elif i.4 %}
                <p class="text-success">{{ i.2 }}</p>
                {% else %}
                <p class="text-brown">{{ i.2 }}</p>
                {% endif %}
                 </a>
                {% endfor %}
            </div>
            <hr>
            <div class="text-center">
                <a href="{% url 'managing:memo_create' common=1 %}" class="content-modal-btn">
                <h3 class="plan-title text-success"><b>공유 메모</b>
                        <small><i class=" mdi mdi-comment-plus-outline text-custom text-success"></i></small>
                </h3>  </a>
                {% for i in common_list %}
                <a href="{% url 'managing:memo_update' i.0 %}" class="content-modal-btn">
                    <p data-toggle="tooltip" data-placement="top" data-original-title="{{ i.3 }}님"
                        {% if i.1 %}
                        class="text-danger"
                        {% else %}
                        class="text-success"
                        {% endif %}>
                        <b>{{ i.2 }}</b>
                    </p>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
