{% load humanize %}
{% load static %}
{% block addcss %}
<style>
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
    #product_result {
    top: 10px;
    left: 10px;
    width: 100%;
    height: 300px;
    overflow-y: auto;
    background-color: #ffffff;
}
    .list_order {
    top: 10px;
    left: 10px;
    width: 100%;
    height: 460px;
    overflow-y: auto;
    background-color: #ffffff;
}
</style>
{% endblock%}

<script type="text/javascript"  src="{% static 'managing/pages/jquery.form-pickers.init.js'%}"></script>

<script>
       function delay(fn, ms) {
        let timer = 0;
        return function (...args) {
            clearTimeout(timer);
            timer = setTimeout(fn.bind(this, ...args), ms || 0)
        }
    }

    function SortableSpan() {
        $('#sortable span').each(function (i) {
            var numbering = i + 1;
            $(this).text(numbering + '.');
        });
    }

    //콤마찍기
    function comma(str) {
        var parts = str.toString().split(".");
        parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        if(parts[0].length >2 ){ parts[0] = parts[0].replace(/(^0+)/, "");}
        return parts.join(".");
    }

    //콤마풀기
    function uncomma(str) {
        str = String(str);
        return str.replace(/[,]/g, "");
    }

    //값 입력시 콤마찍기 onkeyup="inputNumberFormat(this)"
    function inputNumberFormat(obj) {
        obj.value = comma(uncomma(obj.value));
    }


    function Total() {
        var $total_quantity = $('#total_quantity');
        var $total_price = $('#total_price');
        var $total_tax = $('#total_tax');
        var $total = $('#total');
        var $total_tr = $('.total-tr');
        var total_price = 0;
        var total_tax = 0;
        var total_quantity = 0;
        var total_buy = 0;

        $('#sortable tr').each(function () {
            var eq4 = $(this).children().eq(4).children().val();
            var eq5 = $(this).children().eq(6).children().val();
            var eq6 = $(this).children().eq(7).children().val();
            eq4 = uncomma(eq4); //수량
            eq5 = uncomma(eq5); //판매가
            eq6 = uncomma(eq6); //부가세
            total_quantity += parseFloat(eq4);
            total_price += parseFloat(eq5);
            total_tax += parseFloat(eq6);
        });
        var total =  total_price + total_tax;
        if(total_quantity != 0){
            $total_quantity.text(comma(total_quantity.toFixed(0)));
            $total_price.text(comma(total_price.toFixed(0)));
            $total_tax.text(comma(total_tax.toFixed(0)));
            $total.text('판매 합계 : '+comma(total.toFixed(0)));
            $total_tr.attr('style','background-color: #f3f3f3');
        }else{
            $total_quantity.text('');
            $total_price.text('');
            $total_tax.text('');
            $total.text('');
            $('#compare_price').html('');
            $total_tr.attr('style','background-color: #ffffff');
        }
    }

 /*  ----------------------선언 함수 ------------------------      */


     $(document).on("click",".delete-button",function() {
            SortableSpan();
            Total();
    });
      $(document).on("keyup",".sell_price",function() {
            var pre = uncomma($(this).val());
            pre = pre/10;
            $(this).parent().next().children().val(comma(pre.toFixed(0)));
            Total();
    });


    $("#sub-btn").click(function(e) {
        var list = new Array();
        $("input[name=text_data]").each(function (index, item) {
            list.push($(item).val());
        });
        $('#id_json_data').val(list.join('#,,#'));
    });

     $(document).on("keyup",".text_num",function() {
         if( !$(this).val()){
             $(this).val(0);
         }
            Total();
    });


      $(document).on("keyup",".quantity",function() {
            var quantity = uncomma($(this).val());
            var sell_price= uncomma($(this).parent().parent().find('input.price_s').val());
            var total = parseFloat(quantity)*parseFloat(sell_price);
            $(this).parent().parent().find('input.sell_price').val(comma(total));
             if ($select_tax_cla.val() == '0') {
                 $(this).parent().parent().find('input.sell_tax').val(comma((total / 10).toFixed(0)));
             }else{
                 $(this).parent().parent().find('input.sell_tax').val(0);
             }
            Total();
    });
      $(document).on("keyup",".price_s",function() {
            var price_s = uncomma($(this).val());
            var quantity= uncomma($(this).parent().parent().find('input.quantity').val());
            var buy_price= uncomma($(this).parent().parent().find('input.buy_price').val());
            var total = parseFloat(quantity)*parseFloat(price_s);
            var compare = parseFloat(price_s)-parseFloat(buy_price);

           var $td = $(this).parent().parent().find('input.buy_price');

            if(compare < 0){
                $td.parent().attr('class','has-special');
            }else{
                $td.parent().attr('class','has-ask');
            }
            $(this).parent().next().children().val(comma(total));
            if ($select_tax_cla.val() == '0') {
                $(this).parent().parent().find('input.sell_tax').val(comma((total/10).toFixed(0)));
            }else{
                 $(this).parent().parent().find('input.sell_tax').val(0);
             }
            Total();
    });

      $(document).on("keyup",".buy_price",function() {
          var $td = $(this).parent().parent().find('input.buy_price');
          var buy_price = uncomma($(this).val());
          var price_s= uncomma($(this).parent().parent().find('input.price_s').val());
          var compare = parseFloat(price_s)-parseFloat(buy_price);
            if(compare < 0){
                $td.parent().attr('class','has-special');
            }else{
                $td.parent().attr('class','has-ask');
            }
      });

    $(document).on("keydown","input[type=text]",function() {
        if (event.keyCode === 13) {
        event.preventDefault();
        }
    });



    $("#delete_check").click(function() {
        if($('input:checkbox[id="delete_check"]').is(":checked") == true){
             $(".delete-button").show();
        }else{
            $(".delete-button").hide();
        }
         SortableSpan();
    });


    /*  ---------- 지난 데이터 ------------ */
    var $control_info = $('#control-info');
    var $control_order = $('#control-order');
    var $load_more = $('#load_more');
    var $load_btn = $('#load_btn');
    var $list_info = $('.list_info');
    var $list_order = $('.list_order');
    var order_cache = false;
    $control_info.click(function () {
        $list_info.show();
        $list_order.hide();
        $load_more.hide();
         $load_btn.attr('href','');
    });

    function call_load(){
        var url = $load_btn.attr('href');
        if(!url){
            url ='/api/order_info.json';
            $list_order.text('');
        }else{
            url = url;
        }
        $list_order.show();
        $list_info.hide();
        $.ajax({
          url: url,
          dataType: 'json',
          data: {'keyword': custromer['id']},
          contentType: 'application/json; charset=UTF-8',
          success: function (data, status, xhr) {
                order_cache =true;
                if(data['count']==0){
                    $list_order.text('지난 과거 데이터가 없습니다.');
                }else{
                    /* 'id','name','quantity','selling_price' */
                        $.each(data['results'], function(index, val){
                            var good = [5,6,7];
                            var state = val.state;
                            var color = '';
                            if($.inArray(state, good)){
                                color = 'panel-default';
                                info_text = '정상';
                            }else{
                                color = 'panel-danger';
                                info_text = '취소/보류/환불';
                            }
                            var val2_list = new(Array);
                            $.each(val.order_list, function(ind, val2){
                               val2_list += val2.name + ' / '+ comma(Math.round(val2.selling_price))+'<br>'
                            });
                          var json_data =
                            '<div class="m-t-5 m-r-15 panel panel-border '+color+'">' +
                            '<div class="panel-heading">' +
                            '<h3 class="panel-title">'+val.joo_date+'_'+val.today_num+ '<small> '+info_text +
                              ' <a class="id_info" id="'+ val.id+'"style="cursor:pointer"><i class="fa fa-plus text-teal"></i></a></small></h3>' +
                            '</div>' +
                            '<div class="panel-body">' +
                            val2_list
                             +'</div>' +
                            '</div>';
                            $list_order.append(json_data);
                        });
                        if(data['next']){
                            $load_more.show();
                             $load_btn.attr('href',data['next']);
                        }else{
                            $load_more.hide();
                        }
                }
          }
      });
    }

    $control_order.click(function () {
        call_load();
    });
    $load_btn.click(function () {
        call_load();
    });
     $(document).on("click",".id_info",function() {
            console.log($(this).attr('id'));
    });
/* -------------------------위에 base----------------- */
      $(document).ready(function () {
        SortableSpan();
        Total();
        $select_tax_cla = $(".tax_select");
        var $id_company = $('#id_company');
        $product_result = $("#product_result");
        $product_search = $("#product_search");
        $search_result = $("#search_result");
        custromer ={};
        custromer['id'] = $('#idx').val();
        $("#id_company :input:text:first").focus();
        $id_company.keyup(delay(function (e) {
            var search_val = $id_company.val();
            $.ajax({
                url: '/api/profile.json',
                dataType: 'json',
                data: {'keyword': search_val},
                contentType: 'application/json; charset=UTF-8',
                success: function (data, status, xhr) {
                    $product_result.html('');
                    $product_search.val('');
                    $search_result.html('');
                    var index_num = 0;
                    var max_num = 4;
                    var count = data['count']-max_num;
                    data_list = {};
                    $.each(data['results'], function (key, item) {
                        var company = item.company;
                        var company_keyword = item.company_keyword;
                        if (search_val != '') {
                            if (index_num < max_num) {
                                $search_result.append(
                                    '<li class="list-group-item link-class text-custom"  id="' + item.id +
                                    '">' + company + ' | <span class="text-muted">' + company_keyword + '</span></li>'
                                );
                                data_id = item.id;
                                data_list[data_id] = item;
                                index_num += 1;
                            } else {
                                $search_result.append(
                                    '<li class="list-group-item link-class text-danger"><i class="mdi mdi-alert-octagon"></i><b> +'+ count+ '</b>...더 자세히 검색해주세요</li>'
                                );
                                index_num = 0;
                                return false;
                            }
                        }
                    })
                }
            });
        }, 300));
        $search_result.on('click', 'li', function () {
            var idx = $(this).attr('id');
            if (idx) {
                custromer = data_list[idx];
                var click_text = $(this).text().split('|');
                $id_company.val($.trim(click_text[0]));
                $('#id_code').val(custromer['code']);
                $('#id_company_keyword').val(custromer['company_keyword']);
                $('#id_option').val(custromer['options']);
                $('#id_confirm').val(custromer['confirm']);
                $('#id_address').val(custromer['address']);
                $('#id_tell').val(custromer['tell']);
                $('#id_fix_manager').val(custromer['manager']);
                $('#id_memo').val(custromer['memo'].replace(/<br\s?\/?>/g,"\n"));
                $('#id_manager').val(custromer['manager']).attr('selected','selected');
                $search_result.html('');
                informations_html =
                    ('<b>'+custromer['company'] + '</b><br>' +
                    custromer['company_keyword'] + '<br>' +
                    custromer['code'] + '<br>' +
                    custromer['address'] + '<br>' +
                    custromer['tax_bill_mail'] + '<br>' +
                    custromer['tell'] + '<br>' +
                    custromer['phone'] + '<br>' +
                    custromer['keywords'] + '<br>' +
                    custromer['memo'] + '<br>' +
                    custromer['options'] + '<br>' +
                    custromer['confirm'] + '<br>' +
                    custromer['manager']);
                $("#informations").html(informations_html);
                $('input[id="product_search"]').focus();
                data_list = {};
            }
        });


        $product_search.keyup(delay(function (e) {
            $product_result.html('');
            var search_val = $product_search.val();
            var index_num = 0;
            var max_num = 12;
            var max_text = 10;
            var idx = $('#idx').val();
            data_list = {};
            if (search_val != '') {
                    $.ajax({
                        type: "GET",
                        url: '/api/product.json',
                        dataType: 'json',
                        data : {'idx' :idx,
                                'keyword': search_val,
                        },
                        success: function (data, status, xhr) {
                            $.each(data, function (key, item) {
                                var company = item.title;
                                var company_name = item.company_name;
                                var horizontal = item.horizontal;
                                var vertical = item.vertical;
                                var etc = item.etc;
                                var gram = item.gram;
                                var memo = item.memo;
                                var standard = item.standard;
                                var sell_price = item.sell_price;
                                var buy_price = item.buy_price;
                                if(horizontal && vertical){
                                    var ho_ver = parseInt(horizontal) + 'x' + parseInt(vertical);
                                }else{
                                     var ho_ver = '';
                                }
                                $product_result.append(
                                    '<a><span></span><div class="list-group-item link-class m-b-5 col-lg-12" style="height:80px;" id="' +
                                    '' + item.id + '"><b>' + company + '&nbsp&nbsp' + ho_ver +
                                    '</b>&nbsp&nbsp<b class="text-teal">' + company_name + '</b>' +
                                    '&nbsp<span class="text-muted">' + gram + '</span>' +
                                    '<br> <b class="text-dark" style="font-size: 18px;">' + comma(parseInt(sell_price)) + '</b>' +
                                    '&nbsp&nbsp<span class="text-muted">' + memo + '</span>' +
                                    '&nbsp&nbsp<span class="text-muted">' + etc + '</span>' +
                                    '</div></a>'
                                );
                                data_id = item.id;
                                data_list[data_id] = item;
                            })
                        }
                    });
            }
        }, 300));

            $product_result.on('click', 'div', function () {
            var idx = $(this).attr('id');
            if (idx) {
                product = data_list[idx];
                console.log(product);
                if(product['buy_price'] % 1 !== 0){var buy_price = product['buy_price'].toFixed(4)}else{var buy_price = parseInt(product['buy_price'])}
                if(product['sell_price'] % 1 !== 0){var sell_price = product['sell_price'].toFixed(4)}else{var sell_price = parseInt(product['sell_price'])}
                if(product['sell_price'] % 1 !== 0){var price_s = product['sell_price'].toFixed(4)}else{var price_s = parseInt(product['sell_price'])}
                if(product['buy_price'] % 1 !== 0){var buy_price = product['buy_price'].toFixed(4)}else{var buy_price = parseInt(product['buy_price'])}
                if($select_tax_cla.val() == '0'){var sell_price_tax = comma((product['sell_price']/10).toFixed(0))}else{sell_price_tax = 0}
                if (product['horizontal'] && product['vertical']) {
                    var ho_ver = parseInt(product['horizontal'])+'*'+parseInt(product['vertical'])
                } else {
                    var ho_ver = '';
                }
                 $('#sortable').append(
                    '<tr><td><span class="text_data"></span></td>' +
                     '<input class="form-control" type="hidden" name="text_data" value="'+ parseInt(product['code'])+'">' +
                     '<td><input class="form-control" type="text" name="text_data" value="'+product['standard']+'"></td>' +
                     '<td><input class="form-control" type="text" name="text_data" value="'+ho_ver+'"></td>' +
                     '<td><input class="form-control text-right quantity text_num" onkeyup="inputNumberFormat(this)" type="text" name="text_data" value="'+ parseInt(product['quantity'])+'"></td>' +
                     '<td><input class="form-control text-right price_s text_num" onkeyup="inputNumberFormat(this)" type="text" name="text_data" value="'+  comma(price_s)+'"></td>' +
                     '<td><input class="form-control text-right sell_price text_num" onkeyup="inputNumberFormat(this)" type="text" name="text_data" disabled value="'+  comma(sell_price)+'"></td>' +
                     '<td><input class="form-control text-right sell_tax text_num" onkeyup="inputNumberFormat(this)" type="text" name="text_data" disabled value="'+ sell_price_tax+'"></td>' +
                     '<td class="has-ask"><input class="form-control text-right buy_price text_num" onkeyup="inputNumberFormat(this)" type="text" name="text_data" value="'+ comma(buy_price)+'"></td>' +
                     '<input class="form-control" type="hidden" name="text_data" value="'+product['company_name']+'">' +
                     '<td><input class="form-control" type="text" name="text_data" value="'+product['gram']+'"></td>' +
                     '<td><input class="form-control" type="text" name="text_data" value="'+product['etc']+'"></td>' +
                     '<td><input class="form-control" type="text" name="text_data" value="'+product['memo']+'"></td>' +
                     '<td><a href="" class="table-action-btn h3 delete-button" style="display: none;" onclick="$(this).parent().parent().remove();return false;"><i class="mdi mdi-close-box-outline text-danger"></i></a></td>'+
                     '</tr>'
                 ).ready(function () {
                        SortableSpan();
                         Total();
                     })
            }
        });
    });

    $select_tax_cla.on("change", function () {
        var $sell_tax = $('.sell_tax');
        $sell_tax.each(function (key, data) {
            if ($select_tax_cla.val() == '0') {
                var sellprice = uncomma($(this).parent().parent().find('input.sell_price').val());
                $(this).val(comma((sellprice / 10).toFixed(0)));
            } else {
                $(this).val(0);
            }
        });
        $product_result.html('');
        $product_search.val('');
        Total();
    });
    $sortable = $("#sortable");

    $(function () {
        $sortable.sortable({
            update: function (event, ui) {
                SortableSpan();
                Total();
            }
        });
    });
</script>
    {% if put_employees %}
<script>
     $(document).ready(function () {
         var $id_manager = $('#id_manager');
         var exist = false;
         $('#id_manager option').each(function(){
             if (this.value == '{{put_employees}}') {
                 exist = true;
             }
         });
         if (exist){
             $id_manager.val('{{put_employees}}').prop('selected','selected');
         }else{
             $id_manager.prepend("<option value='{{put_employees}}'>{{put_employees}}</option>");
             $id_manager.val('{{put_employees}}').prop('selected','selected');
         }

     });
</script>
    {% endif %}

{% if put_code %}
<script>
    informations_html =(
            '<b>' + '{{put_company}}' + '</b><br>' +
            '{{put_company_keyword}}' + '<br>' +
            '{{put_code}}' + '<br>' +
            '{{put_address}}' + '<br>' +
            "{{put_tax_bill_mail}}" + '<br>' +
            '{{put_tell}}' + '<br>' +
            '{{put_phone}}' + '<br>' +
            '{{put_keywords}}' + '<br>' +
            '{{put_memo}}' + '<br>' +
            '{{put_options}}' + '<br>' +
            '{{put_confirm}}' + '<br>' +
            '{{put_manager}}' + '<br>' +
            '<br>');
    $("#informations").html(informations_html);
</script>
{% endif %}
<script>
$(document).ready(function () {
    var tr = $('.price_s');
    tr.each(function (a) {
       $(this).click().trigger('keyup',{keyCode: 38});
    });
});
</script>


<form id='form_id' method="post" text="견적서 생성" autocomplete="off"  action="">
    {% csrf_token %}
    {{ form.errors_from_post }}
    {{ form.user }}
    {{ errors_message }}
    {{ form.user.errors }}
    <input type="hidden" id="idx" value="{{user_id}}">
    <div class="row">
        <div class="col-sm-8">
            <div class="card-box row">
                <div class="list_info">
                <div class="col-lg-3">
                    <div class="form-group">
                        <span class="help-block"> 주문 일자</span>
                        <div>
                            <div class="input-group">
                                {{form.joo_date}}
                                <span class="input-group-addon bg-custom b-0">
                                    <i class="mdi mdi-calendar text-white"></i>
                                 </span>
                            </div><!-- input-group -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 has-sample">
                    <span class="help-block"><b>{{ form.company.help_text}}</b></span>
                    {{ form.company}}
                     {{ form.code}}
                     {{ form.fix_manager}}
                    {{ form.tell}}
                    <ul class="list-group" id="search_result"></ul>
                    {% if form.errors.company %}
                    <span style="color: #d33333"> {{form.errors.company.as_text}}</span>
                    {% endif %}
                </div>
                <div class="col-lg-3"><span class="help-block"> {{ form.manager.help_text}}</span>
                    <select name="manager" id="id_manager" class="form-control">
                        <option value=""></option>
                        {% for ma in manager_ls%}
                        <option value="{{ma}}">{{ma}}</option>
                        {% endfor%}
                    </select>
                </div>
                 <div class="col-lg-6">
                    <span class="help-block"> {{ form.company_keyword.help_text}}</span>
                    {{ form.company_keyword}}
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <span class="help-block"> 발주 일자</span>
                        <div>
                            <div class="input-group">
                                {{form.order_date}}
                                <span class="input-group-addon bg-custom b-0">
                                    <i class="mdi mdi-calendar text-white"></i>
                                </span>
                            </div><!-- input-group -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-10">
                </div>
                 <div class="col-lg-3">
                    <span class="help-block"> {{ form.in_memo.help_text}}</span>
                    {{ form.in_memo}}
                </div>
                <div class="col-lg-3">
                    <span class="help-block"> {{ form.option.help_text}}</span>
                    {{ form.option}}
                </div>
                <div class="col-lg-3">
                    <span class="help-block"> {{ form.confirm.help_text}}</span>
                    {{ form.confirm}}
                </div>
                 <div class="col-lg-3 has-error">
                    <span class="help-block"> {{ form.out_memo.help_text}}</span>
                    {{ form.out_memo}}
                </div>
                <div class="col-lg-12">
                    <span class="help-block"> {{ form.address.help_text}}</span>
                    {{ form.address}}
                </div>
                <div class="col-lg-12">
                    <span class="help-block"> {{ form.memo.help_text}}</span>
                    {{ form.memo}}
                </div>
                </div>
                <div class="list_order" style="display: none;"> </div>
                <div class="text-right m-t-40" id="load_more" style="display: none;">
                    <small class="btn btn-danger" id="load_btn" href="">더 불러오기</small>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card-box" style="height: 500px;">
                <div class="m-b-10 data-buttons">
                     <a class="text-lowercase badge bg-danger " id="control-info"><i class="mdi mdi-account"></i></a>
                    <a class="text-lowercase badge bg-custom" id="control-order"><i class="mdi mdi-comment-text"></i></a></div>
                <div id="informations">

                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="card-box">
            <div id="demo" class="row collapse">
                <div class="col-lg-3 ">
                    <div class="col-lg-12 has-sample">
                        <span class="help-block"><b>품목 등록</b></span>
                        <input type="text" id='product_search' class="form-control col-lg-2 m-5">
                    </div>
                    <div class="col-lg-6">
                        <span class="help-block">부가세</span>
                        <select class="form-control tax_select" name="tax">

                            <option value="0" {% if tax == Ture %}selected{%endif %}>부가세 포함</option>
                            <option value='1' {% if tax == False %}selected{%endif %}>부가세 미포함</option>
                        </select>
                    </div>
                    <div class="col-lg-6">
                        <span class="help-block">배송비</span>
                        <select class="form-control delivery_select">
                            <option value="선불 택배" selected>선불 택배비</option>
                            <option value='착불 택배'>착불 택배비</option>
                            <option value='퀵'>퀵</option>
                            <option value='방문 수령'>방문 수령</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-9 container-fluid">
                    <ul class="list-group col-12 flex-wrap" id="product_result"></ul>
                </div>

            </div>

<!--            <input type="checkbox" checked data-toggle="collapse" data-size="sm"  data-target="#demo">-->
            <div class="table-responsive">
            <input type="checkbox" id="switch1" data-toggle="collapse" switch="bool" data-target="#demo">
            <label for="switch1" data-on-label="" data-off-label=""></label>
                <table class="table">
                    <thead>
                    <tr>
                        <th width="20px;">No.</th>
                        <th width="200px;">품목명</th>
                        <th width="100px;">규격</th>
                        <th width="80px;">수량</th>
                        <th width="110px;">단가</th>
                        <th width="110px;">판매가</th>
                        <th width="110px;">판매 부가세</th>
                        <th width="110px;">매입가</th>
                        <th>기타</th>
                        <th>적요</th>
                        <th>품목정보</th>
                        <th width="50px;">
                                <div class="checkbox checkbox-danger h3">
                                    <input id="delete_check" type="checkbox">
                                    <label for="delete_check">
                                       <i class="fa fa-trash-o text-danger"></i>
                                    </label>
                                </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody id="sortable">
                    {% if order_list%}
                        {% for order in order_list.all %}
                      <tr>
                          <td><span class="text_data"></span></td>
                    <input class="form-control" type="hidden" name="text_data" value="{{order.code }}">
                    <td><input class="form-control" type="text" name="text_data" value="{%if order.name %}{{order.name}}{% endif %}"></td>
                    <td><input class="form-control" type="text" name="text_data" value="{%if order.standard %}{{order.standard}}{% endif %}"></td>
                    <td><input class="form-control text-right quantity text_num" onkeyup="inputNumberFormat(this)" type="text" name="text_data" value="{{order.quantity}}"></td>
                    <td><input class="form-control text-right price_s text_num" onkeyup="inputNumberFormat(this)" type="text" name="text_data"
                         value="{% if .0000 in order.selling_price %}{{order.selling_price|intcomma}}{% else %}{{order.selling_price|floatformat:'-4'|intcomma }}{% endif %}"></td>
                    <td><input class="form-control text-right sell_price text_num" onkeyup="inputNumberFormat(this)" type="text" name="text_data" disabled value=""></td>
                    <td><input class="form-control text-right sell_tax text_num" onkeyup="inputNumberFormat(this)" type="text" name="text_data" disabled value=""></td>
                    <td class="has-ask">
                        <input class="form-control text-right buy_price text_num" onkeyup="inputNumberFormat(this)" type="text" name="text_data"
                       value="{% if '.0000' in order.price %}{{order.price|intcomma}}{% else %}{{order.price|floatformat:'-4'|intcomma}}{% endif %}"></td>
                    <input class="form-control" type="hidden" name="text_data" value="{%if order.group_manage %}{{order.group_manage}}{%endif%}">
                    <td><input class="form-control" type="text" name="text_data" value="{%if order.gram %}{{order.gram}}{% endif %}"></td>
                    <td><input class="form-control" type="text" name="text_data" value="{%if order.etc %}{{order.etc}}{% endif %}"></td>
                    <td><input class="form-control" type="text" name="text_data" value="{%if order.memo %}{{order.memo}}{% endif %}"></td>
                    <td><a href="" class="table-action-btn h3 delete-button" style="display: none;" onclick="$(this).parent().parent().remove();return false;">
                        <i class="mdi mdi-close-box-outline text-danger"></i></a></td>
                    </tr>
                        {% endfor %}
                    {% endif%}

                    <input type="hidden" id='id_json_data' name="json_data" />
                    </tbody>
                    <tfoot>
                     <tr class="total-tr">
                         <th></th>
                        <th></th>
                        <th class="text-right"></th>
                         <th class="text-right h4" id="total_quantity"></th>
                          <th></th>
                        <th class="text-right h4" id="total_price"></th>
                        <th class="text-right h4" id="total_tax"></th>
                        <th colspan="2" class="text-center h4" id="total"></th>
                         <th colspan="2" class="text-center text-danger h4" ></th>
                           <th></th>
                        <th></th>
                    </tr>
                    </tfoot>
                </table>
            </div>


        </div>
    </div>
    <div class="modal-footer">
        <table class="text-right" align="right">
            <tr>
                <td class="p-l-r-10 has-deposit" width="200px;">
                    <select class="form-control" name="state" id="id_state">
                        <option value="0" {%if form.state.value == 0%}selected{%endif%} >견적서</option>
                        <option value="1" {%if form.state.value == 1%}selected{%endif%}>주문서</option>
                        <option value="2" {%if form.state.value == 2%}selected{%endif%}>시안중</option>
                        <option value="3" {%if form.state.value == 3%}selected{%endif%}>발주완료</option>
                        <option value="4" {%if form.state.value == 4%}selected{%endif%}>완료</option>
                        <option value="5" {%if form.state.value == 5%}selected{%endif%}>취소</option>
                        <option value="6" {%if form.state.value == 6%}selected{%endif%}>보류</option>
                        <option value="7" {%if form.state.value == 7%}selected{%endif%}>환불</option>
                        <option value="9" {%if form.state.value == 9%}selected{%endif%}>배송</option>
                    </select>
                </td>
                <td class="p-l-r-10">
                    <button type='submit' id='sub-btn' onclick="" class="btn btn-danger">저장</button>
                </td>
                <td class="p-l-r-10">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </td>
            </tr>
        </table>
    </div>
</form>

