{% extends 'managing/base.html'%}
{% load static %}
{% block title %}품목 등록{% endblock%}

{% block content%}
<script>
    $(document).on("keydown","input[type=text]",function() {
        if (event.keyCode === 13) {
        event.preventDefault();
        }
    });
</script>
<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title"><a href="{% url 'managing:product' %}">품목 관리</a> / 품목 등록</h4>
        </div>
    </div>
</div>
<!-- end page title end breadcrumb -->
<div class="card-box">

    <div class="row">
        <div class="col-sm-12">
            <a href="{% url 'managing:product' %}">
                <button class="btn btn-teal btn-rounded btn-md waves-effect waves-light m-b-30">품목 목록
                </button>
            </a>
        </div>
    </div>
    <form id="form_id" method="POST" class="has-product">
        {% csrf_token %}
        {{ form.errors_from_post }}
        <div class="row">
            <div class="col-sm-4">
                <span class="help-block">  <b>{{ form.category.label}}</b></span>
               {{ form.category}}
            </div>
            <div class="col-sm-4">
                <span class="help-block"> <b>{{ form.supplier.label}}</b></span>
                {{ form.supplier}}
            </div>
            <div class="col-sm-2">
                <span class="help-block"> 수량 </span>
                {{ form.quantity}}
            </div>
            <div class="col-sm-2">
                <span class="help-block"> 해당 품목의 기본/최소 </span>
                {{ form.main_quantity}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <span class="help-block">  <b>{{ form.code.label}}</b></span>
                {{ form.code}}
                {% if form.errors.code %}<span style="color: #d33333">{{form.errors.code.as_text}}</span> {% endif %}
            </div>
            <div class="col-sm-3">
                <span class="help-block"><b> {{ form.title.label}}</b></span>
                {{ form.title}}
            </div>
            <div class="col-sm-3">
                <span class="help-block"><b> {{ form.sell_price.label}}</b></span>
                {{ form.sell_price}}
            </div>
            <div class="col-sm-3">
                <span class="help-block"><b> {{ form.buy_price.label}}</b></span>
                {{ form.buy_price}}
            </div>
        </div>
        <br>
        <hr>
        <div class="row">
            <div class="col-sm-4">
                <span class="help-block"> {{ form.standard.label}}</span>
                {{ form.standard}}
            </div>
            <div class="col-sm-2">
                <span class="help-block"> {{ form.horizontal.label}}</span>
                {{ form.horizontal}}
            </div>
            <div class="col-sm-2">
                <span class="help-block"> {{ form.vertical.label}}</span>
                {{ form.vertical}}
            </div>
            <div class="col-sm-2">
                <span class="help-block"> {{ form.width.label}}</span>
                {{ form.width}}
            </div>
            <div class="col-sm-2">
                <span class="help-block"> {{ form.height.label}}</span>
                {{ form.height}}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <span class="help-block"> 용지 or 재질 </span>
                {{ form.paper}}
            </div>
            <div class="col-sm-2">
                <span class="help-block"> 무게 / 그람</span>
                {{ form.gram}}
            </div>
            <div class="col-sm-2">
                <span class="help-block"> {{ form.color.label}}</span>
                {{ form.color}}
            </div>
             <div class="col-sm-2">
                <span class="help-block"> {{ form.paper_option.label}}</span>
                {{ form.paper_option}}
            </div>
            <div class="col-sm-2">
                <span class="help-block"> {{ form.side.label}}</span>
                {{ form.side}}
            </div>
        </div>
        <br>
         <div class="row">
            <div class="col-sm-4">
                <span class="help-block"> {{ form.etc.label}}</span>
                {{ form.etc}}
            </div>
            <div class="col-sm-4">
                <span class="help-block"> {{ form.etc_option.label}}</span>
                {{ form.etc_option}}
            </div>

            <div class="col-sm-4">
                <span class="help-block"> {{ form.memo.label}}</span>
                {{ form.memo}}
            </div>
         </div>
        <br> <br>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <button id='sub-btn' class="form-control btn btn-danger">저장하기</button>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </form>

</div>

{% endblock %}
