{% load static %}

            <div class="row">
                <div class="col-md-12">
                    <div class="card-box">


                <!-- e이미지 -->

                <div class="property-detail-wrapper">
                    <div class="row">
                        <h1>OOO휘트니스</h1>
                        <p>연락처 : 00-0000-0000</p>
                        <div class="col-md-7">
                            <div class="">
                                <ul class="bxslider property-slider">
                                    <li><img src="{% static 'managing/images/properties/1.jpg'%}" /></li>
                                    <li><img src="{% static 'managing/images/properties/2.jpg'%}" /></li>
                                    <li><img src="{% static 'managing/images/properties/3.jpg'%}" /></li>
                                    <li><img src="{% static 'managing/images/properties/4.jpg'%}" /></li>
                                </ul>

                                <div id="bx-pager" class="text-center hide-phone">
                                    <a data-slide-index="0" href=""><img src="{% static 'managing/images/properties/1.jpg'%}" height="70" /></a>
                                    <a data-slide-index="1" href=""><img src="{% static 'managing/images/properties/2.jpg'%}" height="70" /></a>
                                    <a data-slide-index="2" href=""><img src="{% static 'managing/images/properties/3.jpg'%}" height="70" /></a>
                                    <a data-slide-index="3" href=""><img src="{% static 'managing/images/properties/4.jpg'%}" height="70" /></a>
                                </div>
                            </div>
                            <!-- end slider -->

                            <div class="m-t-30">
                               <div class="table-responsive">
                                    <table class="table table-bordered m-b-0">
                                        <tbody>
                                            <tr>
                                                <th>품목</th>
                                                <td>수량</td>
                                                <td>공급가액</td>
                                                <td>부가세</td>

                                            </tr>
                                            <tr>
                                                <td scope="row">전단지 A5 단면 전단지</td>
                                                <td>3</td>
                                                <td>13,000</td>
                                                <td>1,300</td>
                                            </tr>
                                            <tr>
                                                <td scope="row">배송비</td>
                                                <td>3</td>
                                                <td>6,000</td>
                                                <td>600</td>
                                            </tr>
                                        <tr>
                                                <td scope="row">현수막</td>
                                                <td>3</td>
                                                <td>80,000</td>
                                                <td>8,000</td>
                                            </tr>
                                            <tr>
                                                <td scope="row">배송비</td>
                                                <td>1</td>
                                                <td>3,000</td>
                                                <td>300</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div> <!-- end m-t-30 -->

                        </div> <!-- end col -->

                        <div class="col-md-5">
                            <div class="card-box">
                                <div class="table-responsive">
                                    <table class="table table-bordered m-b-0">
                                        <tbody>
                                            <tr>
                                                <th>확인</th>
                                                <td>내용</td>

                                            </tr>
                                            <tr>
                                                <td scope="row">
                                                    <div class="checkbox">
                                                    <input id="checkbox-10" type="checkbox" checked="">
                                                    <label for="checkbox-10">
                                                        내용 <span class="badge badge-success">1</span>
                                                    </label>
                                                 </div></td>
                                                <td>000-000-1211 로 변경해주세요</td>
                                            </tr>
                                        <tr>
                                                <td scope="row">
                                                    <div class="checkbox">
                                                    <input id="checkbox-11" type="checkbox" checked="">
                                                    <label for="checkbox-11">
                                                        내용 <span class="badge badge-custom">2</span>
                                                    </label>
                                                 </div></td>
                                                <td>000-000-1211 로 변경해주세요</td>
                                            </tr>
                                        <tr>
                                                <td scope="row">
                                                    <div class="checkbox">
                                                    <input id="checkbox-12" type="checkbox" checked="">
                                                    <label for="checkbox-12">
                                                        내용 <span class="badge badge-pink">3</span>
                                                    </label>
                                                 </div></td>
                                                <td>000-000-1211 로 변경해주세요</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- end card-box -->
                         <div class="card-box">
                             <button type="button"
                                     class="btn btn-purple btn-rounded waves-light waves-effect w-md m-b-5">디자인비 추가
                             </button>
                             <button type="button" class="btn btn-teal btn-rounded waves-light waves-effect w-md m-b-5">
                                 확정 & 내역 등록
                             </button>
                              <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
                            </div>
                            <!-- end card-box -->

                        </div> <!-- end col -->
                    </div> <!-- end row -->
                </div>
                <!-- end property-detail-wrapper -->

                    </div>
                </div>
            </div>
