{% extends 'managing/base.html'%}
{% load static %}
{% load humanize %}
{% block title %}샘플 관리{% endblock%}
{% block content%}

<div class="container m-t-50 m-b-30" style="width:800px;">
    <h2 align="center"><b>샘플 관리</b>
        {% if group_name != '디자이너'%}
        <a href="{% url 'managing:sample_create' %}">
            <i class="ti-plus text-success"></i>
        </a>
        {% endif %}
    </h2>
    <br/><br/>
    <div align="center">
        <form role="form" method="GET" autocomplete="off" class="has-sample">
            <div class="form-group search-box">
                {{ data_search_form.q }}
                <button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
            </div>
        </form>
    </div>
    <br/>
</div>


{% if messages %}
{% for message in messages %}
<div class="alert alert-icon {% if message.tags == 'success' %}alert-success{%else%}alert-danger{% endif %} alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
    <i class="mdi mdi-check-all"></i>
    <strong>{{ message }}</strong>
</div>
{% endfor %}
{% endif %}
<!-- end page title end breadcrumb -->
<div class="card-box">
    <div class="">
        <!-- 판매처  -->
        <div class="tab-pane active" id="home-b1">
            <div class="table-responsive">
                <div class="table-responsive">
                    <table class="table table-hover mails m-0 table table-actions-bar">
                        <thead>
                        <tr>
                            <th>&nbsp &nbsp &nbsp 이미지</th>
                            <th>샘플명</th>
                            <th>품목 카테고리</th>
                            <th>업종 카테고리</th>
                            <th>키워드</th>
                            <th>직원명</th>
                            <th width="20px;">노출/수정</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for i in sample_list %}
                        <tr>
                            <td>
                                 <a href="{% url 'managing:sample_update' i.pk %}">
                                     {% if i.state %}
                                    <img src="{{ i.images.url }}" width="130px;"/>
                                     {% else %}
                                     <img src="{{ i.images.url }}" width="130px;" style="opacity: 0.7"/>
                                     {% endif %}
                                 </a>

                            </td>

                            <td>
                                 {{ i.name }}
                            </td>

                            <td>
                               {{ i.category }}
                            </td>
                              <td>
                               {{ i.sectors_category }}
                            </td>
                            <td>
                                {{ i.keyword }}
                            </td>
                             <td>
                                {{ i.employees }}
                            </td>

                            <td>
                                {% if i.state %}
                                    <a href="{% url 'managing:sample_update' i.pk %}" class="table-action-btn h2">
                                    <i class="mdi mdi-pencil-box-outline text-success"></i></a>
                                {% else %}
                                   <a href="{% url 'managing:sample_update' i.pk %}" class="table-action-btn h2">
                                    <i class="mdi mdi-pencil-box-outline text-danger"></i></a>
                                {% endif %}

                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div> <!-- end table responsive -->
            <div class="row m-t-30">
                <div class="text-center m-t-30">

                    {% if not sample_list %}
                    <h3>검색 된 데이터가 없습니다.</h3>
                    {% endif %}

                    {% if is_paginated %}
                    <nav>
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                            <li>
                                <a href="?page={{ page_obj.previous_page_number }}{% if data_search_form.q.value %}&q={{ data_search_form.q.value }}{% endif %}">
                                    <span>이전</span>
                                </a>
                            </li>
                            {% else %}
                            <li class="disabled">
                                <a href="#">
                                    <span><strike>시작</strike></span>
                                </a>
                            </li>
                            {% endif %}

                            {% for page in page_range %}
                            <li {% if page == page_obj.number %}class="active" {% endif %}>
                                <a href="?page={{ page }}{% if data_search_form.q.value %}&q={{ data_search_form.q.value }}{% endif %}">
                                    {{ page }}</a>
                            </li>
                            {% endfor %}

                            {% if page_obj.has_next %}
                            <li>
                                <a href="?page={{ page_obj.next_page_number }}{% if data_search_form.q.value %}&q={{ data_search_form.q.value }}{% endif %}">
                                    <span>다음</span>
                                </a>
                            </li>
                            {% else %}
                            <li {% if not page_obj.has_next %}class="disabled" {% endif %}>
                                <a href="#">
                                    <strike>끝</strike>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
