{% extends 'managing/base.html'%}
{% load static %}
{% block title %}샘플 수정{% endblock%}

{% block content%}
<script>
    $(document).on("keydown","input[type=text]",function() {
        if (event.keyCode === 13) {
        event.preventDefault();
        }
    });
</script>
<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title"><a href="{% url 'managing:sample' %}">샘플 관리</a> </h4>
        </div>
    </div>
</div>
{{ form.errors}}
<!-- end page title end breadcrumb -->
<div class="card-box">
    <div class="row">
        <div class="col-sm-12">
            <a href="{% url 'managing:sample' %}">
                <button class="btn btn-teal btn-rounded btn-md waves-effect waves-light m-b-30">샘플 목록
                </button>
            </a>
        </div>
    </div>
    <form id="form_id"method="POST" enctype="multipart/form-data" class="has-sample">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-1">
                <span class="help-block"> Active </span>
                <div class="checkbox checkbox-success">
                    {{ form.state}}
                    {% if form.state.value %}
                    <label>노출</label>
                    {% else %}
                    <label style="color:#c9302c">미노출</label>
                    {% endif %}
                </div>
            </div>
             <div class="col-sm-4">
                <span class="help-block"> 카테고리 : </span>
                {{ form.category}}
            </div>
            <div class="col-sm-4">
                <span class="help-block"> 업종 : </span>
                {{ form.sectors_category}}
            </div>
            <div class="col-sm-3">
                <span class="help-block"> 제작자 : </span>
                {{ form.employees}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <span class="help-block">샘플명 : </span>
                {{ form.name}}
            </div>
            <div class="col-sm-6">
                <span class="help-block"> 샘플 링크 : </span>
                {{ form.link}}
            </div>
        </div>
            <div class="row">
            <div class="col-sm-12">
                <span class="help-block"> 샘플 키워드 : </span>
                {{ form.keyword}}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-4">
                <span class="help-block"> 기존 이미지 : </span>
             <img src="{{update_list.images.url }}" class="img-rounded img-responsive"/>
            </div>
             <div class="col-sm-8">
                 <span class="help-block"> 교체할 이미지 : </span>
            {{ form.images}}
            </div>
        </div>
        <br> <br>
        <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <button id='sub-btn' class="form-control btn btn-success" value="Update">정보 수정하기</button>
            </div>
            <div class="col-sm-3"></div>
        </div>
    </form>

</div>


{% endblock %}
