{% extends 'managing/base.html'%}
{% load static %}
{% load humanize %}
{% block title %}할일 관리{% endblock%}
{% block content%}

<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">

        </div>
    </div>
</div>

{% if messages %}
{% for message in messages %}
<div class="alert alert-icon alert-success alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
    <i class="mdi mdi-check-all"></i>
    <strong>{{ message }}</strong>
</div>
{% endfor %}

{% endif %}

<div class="card-box">
    <div class="container">
        <div class="row">
            <div class="col-lg- center-page">
                <div class="text-center">
                    <h3 class="m-b-30 m-t-20">매일 매일 체크해주세요</h3>
                    <a href="#" class="btn btn-brown btn-bordred btn-rounded waves-effect waves-light">To_Do 등록</a>
                </div>

                <div class="row m-t-50">

                    <!--Pricing Column-->
                    <article class="pricing-column col-lg-4 col-md-4">
                        <div class="inner-box card-box">
                            <div class="plan-stats text-center">
                                <h3 class="plan-title text-custom"><b>나의 체크 리스트</b></h3>
                            </div>
                            <ul class="plan-stats list-unstyled text-center">
                                <li><b> -1일</b></li>
                                <div class="plan-duration">Per Month</div>
                                <div class="plan-duration">Per Month</div>
                                <br>
                                <li>500 GB Bandwidth</li>

                                <div class="plan-duration">Per Month</div>
                                <div class="plan-duration">Per Month</div>

                                <br>
                                <li>No Domain</li>
                                <li>1 User</li>
                                <li>Email Support</li>
                                <li>24x7 Support</li>
                            </ul>
                            <hr>
                            <div class="text-center">
                                주문
                            </div>
                        </div>
                    </article>


                    <!--Pricing Column-->
                    <article class="pricing-column col-lg-4 col-md-4">
                        <div class="ribbon"><span>TODAY</span></div>
                        <div class="inner-box card-box">
                            <div class="plan-stats text-center">
                                <h3 class="plan-title text-teal"><b>공동의 체크 리스트</b></h3>
                            </div>
                            <ul class="plan-stats list-unstyled text-center">
                                <li>에이블짐 퀵 확인
                                <a href="#" class="btn btn-buy btn-bordred btn-rounded btn-xs waves-effect waves-light">
                                    <i class="glyphicon glyphicon-share"></i></a>
                                </li>
                                <li>900 GB Bandwidth</li>
                                <li>1 Domain</li>
                                <li>20 User</li>
                                <li>Email Support</li>
                                <li>24x7 Support</li>
                            </ul>

                            <div class="text-center">

                            </div>
                        </div>
                    </article>


                    <!--Pricing Column-->
                    <article class="pricing-column col-lg-4 col-md-4">
                        <div class="inner-box card-box">
                            <ul class="plan-stats list-unstyled text-center">
                                <li><b> +1일 </b></li>
                                <div class="plan-duration text-custom">Per Month</div>
                                <div class="plan-duration text-teal">Per Month</div>
                                <br>
                                <li><b> +2일 </b></li>
                                <div class="plan-duration">Per Month</div>
                                <div class="plan-duration">Per Month</div>
                                <br>
                                <li><b> +3일 </b></li>
                                <div class="plan-duration">Per Month</div>
                                <div class="plan-duration">Per Month</div>
                                <br>
                                <li><b> +4일 </b></li>
                                <div class="plan-duration">Per Month</div>
                                <div class="plan-duration">Per Month</div>
                                <br>
                                <li><b> +5일 </b></li>
                            </ul>

                            <div class="text-center">
                                <a href="#" class="btn btn-danger btn-bordred btn-rounded waves-effect waves-light">Signup
                                    Now</a>
                            </div>
                        </div>
                    </article>

                </div>
            </div><!-- end col -->
        </div>
        <!-- end row -->
    </div>
</div>
{% endblock %}
