<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>폼</title>
    <!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- 부가적인 테마 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
{% if user.is_staff %}

<form enctype="multipart/form-data" method="post" style="width: 50%;"> {% csrf_token%}
    <h2 class="form-signin-heading">샘플 대량 등록</h2>
    <table >

         <tr>
            <td style="padding:20px;">품목: </td>
            <td>{{ form.category }}</td>
        </tr>
         <tr>
            <td style="padding:20px;">업종 : </td>
            <td>{{ form.sectors_category }}</td>
        </tr>
                <tr>
            <td style="padding:20px;">가로세로 :</td>
            <td>{{ form.aspect }}</td>
        </tr>
         <tr>
            <td colspan="2" style="padding:20px;">{{ form.images }}</td>
        </tr>
    </table>
    <input class="btn btn-block" type="submit" value="저장"/>

</form>
{% endif %}
</div>
</body>
</html>